<div class="panel-heading panel-fixed clearfix">
  <h1 class="panel-title">Lidaanvragen</h1>
</div>

<div class="panel panel-default panel-default--hasmargin">
  <form name="nieuwLidForm">
    <div class="panel-body form-hover clearfix">
      <div class="centeredcontent m20" ng-show="isLoadingData"><i class="fa fa-spinner fa-pulse"></i>&nbsp;Data aan het laden, even geduld aub</div>
      <div ng-if="!isLoadingData && aanvragen.length > 0">

        <uib-accordion close-others="true">
          <div class="panel panel-default hidden-xs">
            <div class="panel-heading">
              <h4 class="panel-title">
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-lg-2"><strong>Aangevraagd op</strong></div>
                  <div class="col-sm-2 col-md-1 col-lg-1"><strong>Groep</strong></div>
                  <div class="col-sm-3 col-md-2 col-lg-1"><strong>Geboortedatum</strong></div>
                  <div class="col-sm-4 col-md-3 col-lg-6"><strong>Naam</strong></div>
                  <div class="col-sm-12 col-md-4 col-lg-2"></div>
                </div>
              </h4>
            </div>
          </div>
          <div ng-repeat="aanvraag in aanvragen | orderBy: 'aangepast' : reverse : true">
            <uib-accordion-group is-open="status.open">
              <uib-accordion-heading>
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-lg-2">
                    <strong class="visible-xs">Aangevraagd op: </strong>
                    <em>{{aanvraag.aangepast | date : 'dd/MM/yyyy HH:mm:ss'}}</em>
                  </div>
                  <div class="col-sm-2 col-md-1 col-lg-1">
                    <strong class="visible-xs">Groep: </strong>
                    {{aanvraag.groepsnummer}}
                  </div>
                  <div class="col-sm-3 col-md-2 col-lg-1">
                    <strong class="visible-xs">Geboortedatum: </strong>
                    {{aanvraag.geboortedatum | date : 'dd/MM/yyyy'}}
                  </div>
                  <div class="col-sm-4 col-md-3 col-lg-6">
                    <strong class="visible-xs">Naam: </strong>
                    <i class="fa" ng-class="aanvraag.persoonsgegevens.geslacht === 'man'? 'fa-mars' : 'fa-venus'"></i>
                    {{aanvraag.voornaam}} {{aanvraag.achternaam}}
                  </div>
                  <div class="clearfix visible-xs-block visible-sm-block">
                    &nbsp;
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-2">
                    <div class="pull-right">
                      <button class="btn btn-minimal">
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </uib-accordion-heading>
              <div class="row">
                <div class="col-xs-12">
                  <address>
                    {{aanvraag.adres.straat}} {{aanvraag.adres.nummer}} {{aanvraag.adres.bus?'bus ' +
                    aanvraag.adres.bus:''}}<br>
                    {{aanvraag.adres.land}} {{aanvraag.adres.postcode}} {{aanvraag.adres.gemeente}} <br>
                    <span ng-if="aanvraag.adres.telefoon">T: {{aanvraag.adres.telefoon}}<br></span>
                    <span ng-if="aanvraag.persoonsgegevens.gsm">GSM: {{aanvraag.persoonsgegevens.gsm}}<br></span>
                    <a href="mailto:{{aanvraag.email}}">{{aanvraag.email}}</a><br>
                    <p class="word-break"><em>{{aanvraag.opmerkingen}}</em></p>
                  </address>
                </div>
                <div class="col-sm-12">
                  <button class="btn btn-primary" ng-click="goedkeuren($event, aanvraag)" ng-disabled="aanvraag.saving">Goedkeuren</button>
                  <button class="btn btn-default" ng-click="afkeuren($event, aanvraag)" ng-disabled="aanvraag.saving">Afkeuren</button>
                </div>
              </div>
            </uib-accordion-group>
          </div>
        </uib-accordion>
      </div>


      <!--<div class="row" ng-if="aanvragen.length > 0">
        <div ng-repeat="aanvraag in aanvragen">
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <section>
              <fieldset>
                <legend>
                  <i class="fa" ng-class="aanvraag.persoonsgegevens.geslacht === 'man'? 'fa-mars' : 'fa-venus'"></i> {{aanvraag.voornaam}} {{aanvraag.achternaam}}
                  ({{aanvraag.geboortedatum | date : 'dd/MM/yyyy'}})
                </legend>
                <div class="form-group">
                  <p><em>Aanvraag van {{aanvraag.aangepast | date : 'dd/MM/yyyy'}}</em></p><br>
                  <address class="ga-address-block">
                    <strong>{{aanvraag.groepsnummer}}</strong><br>
                    {{aanvraag.adres.straat}} {{aanvraag.adres.nummer}} {{aanvraag.adres.bus?'bus ' + aanvraag.adres.bus:''}}<br>
                    {{aanvraag.adres.land}} {{aanvraag.adres.postcode}} {{aanvraag.adres.gemeente}} <br>
                    <span ng-if="aanvraag.adres.telefoon">T: {{aanvraag.adres.telefoon}}<br></span>
                    <span ng-if="aanvraag.persoonsgegevens.gsm">GSM: {{aanvraag.persoonsgegevens.gsm}}<br></span>
                    <a href="mailto:{{aanvraag.email}}">{{aanvraag.email}}</a><br>
                    <p class="word-break"><em>{{aanvraag.opmerkingen}}</em></p>
                  </address>
                  <div class="pull-right">
                    <button class="btn btn-default" ng-click="afkeuren(aanvraag)" ng-disabled="aanvraag.saving">Afkeuren</button>
                    <button class="btn btn-primary" ng-click="goedkeuren(aanvraag)" ng-disabled="aanvraag.saving">Goedkeuren</button>
                  </div>
                </div>
              </fieldset>
            </section>
          </div>
          <div class="clearfix visible-xs-block"
               ng-class="{'visible-lg-block': ($index+1)%3 === 0, 'visible-sm-block visbible-md-block': ($index+1)%2 ===0}"></div>
        </div>
      </div>-->
      <div class="row" ng-if="!isLoadingData &&  aanvragen.length === 0">
        <div class="col-xs-12">
          Er zijn op dit moment geen nieuwe lidaanvragen.
        </div>
      </div>
    </div>
  </form>
</div>







