<div class="alerts">
  <div ng-repeat="alert in alerts" class="alert closeable" ng-class="['alert-' + (type || 'warning'), closeable ? 'alert-dismissable' : null]" ng-controller="AlertController">
    <button type="button" class="close" ng-click="alert.close()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only" ng-bind="'Close'"></span>
    </button>
    <div ng-bind="alert.msg"></div>
    <ul>
      <li ng-repeat="suggestie in alert.suggesties">
        <a ng-href="#/lid/{{suggestie.id}}?suggestie=1" ng-click="alert.close()">
          <span style='font-weight: bold;' ng-bind="suggestie.voornaam + ' ' + suggestie.achternaam"></span>
          <span ng-bind="'- ' + suggestie.geboortedatum.substr(8, 2) + '/' + suggestie.geboortedatum.substr(5, 2) + '/' + suggestie.geboortedatum.substr(0, 4)"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
