<div class="input-group">
  <input type="text" name="geboortedatum" id="_geboortedatum" ng-model="model"
         name="{{name}}" id="{{id}}"
         class="form-control" is-open="popupCal.opened" datepicker-options="dateOptions"
         close-text="Close" uib-datepicker-popup="{{format}}" ga-parse-date
         ng-disabled="disabled" placeholder="DD/MM/JJJJ"/>
  <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-datepicker form-control" ng-click="openPopupCal()"
                ng-disabled="disabled"><i class="fa fa-calendar"></i></button>
  </span>
</div>
