<dialog ng-repeat="dialog in dialogs" close="dialog.close()" confirm="dialog.confirm()" dismiss="dialog.confirm()" title="{{dialog.title}}" >
  <p>{{dialog.melding}}</p>
  <p ng-bind-html="dialog.vraag"></p>
</dialog>

<script type="text/ng-template" id="dialog.html">
  <div class="dialog-overlay">
    <div class="row dialog-overlay-content">
      <div class="dialog">
        <div class="panel panel-default container-fluid" role="dialog">
          <div class="panel-heading clearfix">
            <h3 class="panel-title">{{title}}</h3>
            <button ng-show="closeable" type="button" class=" close btn" ng-click="close()">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="panel-body">
            <p ng-transclude></p>
            <div class="pull-right action-btn-group">
              <button ng-show="confirmable" type="button" class="btn btn-success" ng-click="confirm()">
                <span class="glyphicon glyphicon-ok"></span><span> Ja</span>
              </button>
              <button ng-show="dismissable" type="button" class="btn btn-danger" ng-click="close()">
                <span class="glyphicon glyphicon-remove"></span><span> Nee</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
