<div ng-switch="veld.type">
  <label class="form-group control checkbox" ng-switch-when="vinkje">
    <div class="col-xs-5 col-xxs-12 control-label">{{ veld.label }}</div>
    <div class="col-xs-7 col-xxs-12">
      <input type="checkbox" class="" id="veld.id" ng-model="waarden[veld.id]" />
      <span class="control-indicator"></span>
    </div>
    <p class="ga-form-beschrijving" ng-bind="veld.beschrijving"></p>
  </label>

  <div class="form-group" ng-switch-when="tekst">
    <label class="col-xs-5 col-xxs-12 control-label">{{ veld.label }}</label>
    <div class="col-xs-7 col-xxs-12">
      <input  type="text" class="form-control" id="veld.id" ng-model="waarden[veld.id]"/>
    </div>
    <p class="ga-form-beschrijving" ng-bind="veld.beschrijving"></p>
  </div>

  <div class="form-group" ng-switch-when="email">
    <label class="col-xs-5 col-xxs-12 control-label">{{ veld.label }}</label>
    <div class="col-xs-7 col-xxs-12">
      <input  type="email" class="form-control" id="veld.id" ng-model="waarden[veld.id]"/>
    </div>
    <p class="ga-form-beschrijving" ng-bind="veld.beschrijving"></p>
  </div>
  <div class="form-group" ng-switch-when="keuze">
    <label class="col-xs-5 col-xxs-12 control-label">{{ veld.label }}</label>
    <div class="col-xs-7 col-xxs-12">
      <select ng-model="waarden[veld.id]" id="veld.id">
        <option ng-repeat="keuze in veld.keuzes" value="{{keuze.id}}" >{{ keuze.label }}</option>
      </select>
    </div>
    <p class="ga-form-beschrijving" ng-bind="veld.beschrijving"></p>
  </div>
</div>
