<div class="panel panel-default feedback">

  <!-- Panel header -->
  <div class="panel-heading clearfix">
    <div class="pull-left">
      <span style="margin-right: 5px;"><b>Feedback</b></span>
    </div>
  </div>

  <div class="panel-body form-hover clearfix" style='margin: 0 10px;'>

    <p><a href='javascript:;'>Wat werkt er al en wat werkt nog niet?</a> - <a href='#/feedback/#feedback' target="_self">Feedback geven</a> - <a href='#/feedback/#oudega' target="_self">Gebruik je voorlopig liever de oude groepsadmin?</a> - <a href='#/feedback/#technisch' target="_self">Technisch</a></p>

    <h3 id="status">Wat werkt er al en wat werkt nog niet?</h3>

    <h4>Inloggen</h4>
    <ul>
      <li><i>Geen problemen bekend</i></li>
    </ul>

    <h4>Ledenlijst</h4>
    <ul>
      <li>Het laden van de ledenlijst en de filter is traag.</li>
      <li>De sortering werkt nog niet.</li>
      <li>Enkele criteria, zoals filteren op leeftijd, werken nog niet.</li>
      <li>Filters delen en verwijderen werkt nog niet.</li>
    </ul>

    <h4>Ledenaantallen</h4>
    <p><i>(Vroeger het 'Orakel')</i></p>
    <ul>
      <li>Het laden van de ledenaantallen is erg traag.</li>
      <li>De assen van de grafieken geraken soms in de knoop.</li>
      <li>De instroom wordt niet getoond.</li>
    </ul>

    <h4>Groepsinstellingen</h4>
    <ul>
      <li>De oprichtingsdatum wordt fout getoond.</li>
      <li>De groepsinstellingen kunnen nog niet worden opgeslagen.</li>
    </ul>

    <h4>Profielpagina en lid-detailpagina's</h4>
    <ul>
      <li><i>Geen problemen bekend</i></li>
    </ul>

    <h4>Nieuwe leden toevoegen</h4>
    <ul>
      <li>Er wordt een foute geboortedatum ingesteld.</li>
    </ul>

    <h4>Globale menubalk</h4>
    <p><i>(De bruine balk bovenaan)</i></p>
    <ul>
      <li>De links in de balk worden nog opgevuld op basis van je functies.</li>
    </ul>

    <h4>Zoekbalk</h4>
    <ul>
      <li><i>Geen problemen bekend</i></li>
    </ul>

    <h3 id="feedback">Feedback geven</h3>
    <p>Is er nog iets anders mis of heb je een suggestie?</p>
    <p>Stuur een e-mail naar <a href="mailto:groepsadministratie@scoutsengidsenvlaanderen.be">groepsadministratie@scoutsengidsenvlaanderen.be</a>.</p>

    <h3 id="oudega">Gebruik je voorlopig liever de oude groepsadmin?</h3>
    <p>Dat kan. Klik op de link <a href="https://groepsadmin.scoutsengidsenvlaanderen.be/groepsadmin/">Oude Groepsadmin</a> in het menu bovenaan.</p>

    <h3 id="technisch">Technisch</h3>
    <p>De groepsadmin staat op <a href='https://github.com/ScoutsGidsenVL/groepsadmin-client'>github</a>. Meer details vind je in de <a href='https://github.com/ScoutsGidsenVL/groepsadmin-client/blob/staging/README.md'>readme</a>.</p>
  </div>
</div>
