<section>
  <fieldset ng-show="showFunctieToevoegen">
    <legend>Functies toevoegen
      <div class="pull-right" ng-hide="groepEnfuncties">
        <i class="fa fa-spinner fa-pulse"> </i>
      </div>
    </legend>
    <fieldset ng-show="groepEnfuncties" ng-repeat="groepFuncties in groepEnfuncties"
              ng-if="hasPermission('functies.' + groepFuncties.groepsnummer)">
      <legend class="group-legend"><span>{{ groepFuncties.naam }} - {{ groepFuncties.groepsnummer }} </span>
      </legend>
      <fieldset class="ga-functie-list">
        <section class="clearfix">
          <legend ng-init="showverbondfuncties=true;" ng-click="showverbondfuncties = !showverbondfuncties">
            Functies
            <div class="pull-right">
              <button type="button" class="btn-minimal">
                          <span ng-hide="!showverbondfuncties" class="glyphicon glyphicon-chevron-down"
                                title="Verbondsfuncties tonen"></span>
                <span ng-hide="showverbondfuncties" class="glyphicon glyphicon-chevron-up"
                      title="Verbondsfuncties verbergen"></span>
              </button>
            </div>
          </legend>
          <div ng-if="!showverbondfuncties">
            <div class="ga-functie-list-item"
                 ng-repeat="groepFunctie in groepFuncties.functies | verbondFuncties:lid:true:groepFuncties.groepsnummer | orderBy : 'beschrijving'">
              <div class="col-md-6">
                <div class="col-xs-12"
                     ng-class="{'ga-functie-list-item__label--disabled' : disableVoorNieuwLid(groepFunctie.code) } ">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" class="" ng-init="status='add';"
                             ng-click="status = functieToevoegen(groepFuncties.groepsnummer, groepFunctie.id, status)"
                             ng-disabled="!hasPermission('functies.' + groepFuncties.groepsnummer) || disableVoorNieuwLid(groepFunctie.code)"/>
                      {{ groepFunctie.beschrijving }}
                    </label>
                  </div>
                </div>
              </div>
              <div class="clearfix visible-xs-block visible-sm-block"
                   ng-class="{'visible-lg-block visbible-md-block': ($index+1)%2 ===0}"></div>
            </div>
          </div>

        </section>

        <section class="clearfix" ng-if="(groepFuncties.functies | filter: { type:'groep' }).length > 0">
          <legend ng-init="showgroepfuncties=true;"
                  ng-click="showgroepfuncties = showgroepfuncties ? false : true">
            Groepseigen functies
            <div class="pull-right" ng-init="showgroepfuncties=true;">
              <button type="button" class="btn-minimal">
                          <span ng-hide="!showgroepfuncties" class="glyphicon glyphicon-chevron-down"
                                title="Groepseigen functies tonen"></span>
                <span ng-hide="showgroepfuncties" class="glyphicon glyphicon-chevron-up"
                      title="Groepseigen functies verbergen"></span>
              </button>
            </div>
          </legend>
          <div ng-if="!showgroepfuncties">
            <div class="ga-functie-list-item"
                 ng-repeat="groepFunctie in groepFuncties.functies | groepEigenFuncties:lid:true:groepFuncties.groepsnummer | orderBy : 'beschrijving'">
              <div class="col-md-6">
                <div class="col-xs-12">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" class="" ng-init="status='add';"
                             ng-click="status = functieToevoegen(groepFuncties.groepsnummer,groepFunctie.id, status)"
                             ng-disabled="!hasPermission('functies.' + groepFuncties.groepsnummer)"/>
                      {{ groepFunctie.beschrijving }}
                    </label>
                  </div>
                </div>
              </div>
              <div class="clearfix visible-xs-block visible-sm-block"
                   ng-class="{'visible-lg-block visbible-md-block': ($index+1)%2 ===0}"></div>
            </div>
          </div>
        </section>
      </fieldset>
    </fieldset>
  </fieldset>
</section>
