<!-- Panel header -->
<div class="panel-heading clearfix">
  <div class="pull-left">
    <span style="margin-right: 5px;"><b>Groep:</b></span>
    <select ng-options="groep.groepsnummer for groep in groepenlijst track by groep.id" ng-change="ChangeGroep()" ng-model="activegroup"></select>
  </div>
</div>

<!-- Persoonsinfo -->
<div class="panel-body form-hover clearfix">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  <!-- Groeps gegevens -->
     <div class="row">
      <div class="col-md-4">
        <legend>Algemeen</legend>
        <div class="form-group readonly">
          <label for="_groepsnaam" class="col-xs-6 col-xxs-12 control-label">Groepsnaam</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_groepsnaam" ng-model="activegroup.naam" disabled/>
          </div>
        </div>

        <div class="form-group readonly">
          <label for="_groepsnummer" class="col-xs-6 col-xxs-12 control-label">Groepsnummer</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_groepsnummer"  ng-model="activegroup.groepsnummer" disabled/>
          </div>
        </div>
        <div class="form-group">
          <label for="_website" class="col-xs-6 col-xss-12 control-label">Website</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_website" ng-model="activegroup.website"/>
          </div>
        </div>

        <div class="form-group">
          <label for="_vrijeInfo" class="col-xs-6 col-xxs-12 control-label">Vrije info</label>
          <div class="col-xs-6 col-xxs-12">
            <textarea class="form-control" id="_vrijeInfo" ng-model="activegroup.vrijeInfo"/>
          </div>
        </div>

        <div class="form-group">
          <label for="_email" class="col-xs-6 col-xxs-12 control-label">E-mail</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_email" ng-model="activegroup.email"/>
          </div>
        </div>

        <div class="form-group readonly">
          <label for="_oprichtingsDatum" class="col-xs-6 col-xxs-12 control-label">Oprichtingsdatum</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_oprichtingsDatum" ng-model="activegroup.opgericht" disabled/>
          </div>
        </div>

        <div class="form-group">
          <label for="_rekeningNummer" class="col-xs-6 col-xxs-12 control-label">Rekeningnummer</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_rekeningNummer" ng-model="activegroup.rekeningnummer"/>
            <!-- Nationaal XXX-XXXXXXX-XX -->
            <!-- Internationaal IBAN BEXX XXXX XXXX XXXX -->
            <!-- BIC KREDBEBB -->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <legend>Contact</legend>
        <div class="form-group readonly" ng-if="activegroup.groepsleiding">
          <label>Groepsleiding</label>
          <ul>
            <!-- mail en Gsm moeten link zijn  -->
            <li ng-repeat="groepsleiding in activegroup.groepsleiding">{{ groepsleiding.naam }} - <a href="mailto:{{ groepsleiding.email }}">{{ groepsleiding.email }}</a></li>
          </ul>
        </div>

        <div class="form-group readonly" ng-if="activegroup.vga">
          <label>Verantwoordelijke Groepsadministratie</label>
          <ul>
            <li>{{ activegroup.vga.naam }} - <a href="mailto:{{ activegroup.vga.email }}">{{ activegroup.vga.email }}</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <!-- Via variabele naamaanpassen => Lokaal aanpassen-->
        <legend>Lokalen
           <div class="pull-right">
            <button ng-click="addAdres()" class="btn-minimal" title="Lokaal toevoegen"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </legend>
        <div class="form-group readonly" id="lokalen">
          <ul class="lokalen">
            <!-- mail en Gsm moeten link zijn  -->
            <li ng-repeat="lokaal in activegroup.adres" class="lokaal-adres"><span class="adres-letter" ng-class="(lokaal.positie ? '' : 'adres-letter-inactive' )" ng-click="centerMap(lokaal.positie.latitude, lokaal.positie.longitude, lokaal.id)"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ markerLabels[$index] }}</span>
              <fieldset class="ga-functie-list">
                <div class="form-group">
                  <label for="_woonplaats" class="col-xs-3 col-xxs-12 control-label">Woonplaats</label>
                  <div class="col-xs-9 col-xxs-2">
                    <input type="text" class="form-control ga-functie-list" ng-init="gemeenteWrap = lokaal.postcode + ' ' + lokaal.gemeente" ng-model="gemeenteWrap" id="_gemeenteWrap" ng-bind="lokaal.postcode + ' ' + lokaal.postcode" uib-typeahead="gemeente for gemeente in zoekGemeente($viewValue)"  typeahead-on-select="bevestigGemeente($item, lokaal)" typeahead-show-hint="true"/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="_straatnaam" class="col-xs-3 col-xxs-12 control-label">Straat</label>
                  <div class="col-xs-5 col-xxs-12">
                    <input type="text" class="form-control" ng-disabled="!lokaal.postcode || !lokaal.gemeente"  placeholder="Straatnaam" id="_straatnaam" ng-model="lokaal.straat" uib-typeahead="straatnaam as straat.straat for straat in zoekStraat($viewValue, lokaal) "  typeahead-on-select="bevestigStraat($item, lokaal)" typeahead-show-hint="true"/>
                  </div>
                  <div class="col-xs-2 col-xxs-12">
                    <input type="text" class="form-control" id="_huisnummer" maxlength="5" ng-model="lokaal.nummer"  placeholder="Nr." ng-disabled="!lokaal.postcode || !lokaal.gemeente"/>
                  </div>
                  <div class="col-xs-2 col-xxs-12">
                    <input type="text" class="form-control" id="_bus" maxlength="4" ng-model="adres.bus" placeholder="Bus" ng-disabled=" !lokaal.postcode || !lokaal.gemeente"/>
                  </div>
                </div>
            </fieldset>
            </li>
          </ul>
          <div id="lokalen-kaart" >
            Google Map
          </div>
        </div>
      </div>
  </div>

  <!-- Groeps eigen functies -->
   <div class="row">
    <div class="col-md-6">
      <legend>Groepseigen functies
        <div class="pull-right">
            <button  class="btn-minimal" title="Groepseigen functie toevoegen" ng-click="addGroepseigenFunctie()"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
      </legend>

      <div ng-if="activegroup.groepseigenFuncties">
        <div class="form-group" ng-repeat="groepseigenFunctie in activegroup.groepseigenFuncties | orderBy:'sort'">
          <div class="col-xs-11">
            <input type="text" class="form-control ga-functie-list" ng-model="activegroup.groepseigenFuncties[$index].beschrijving" placeholder="Nieuwe groepseigen functie"/>
          </div>
          <div class="col-xs-1">
           <button class="btn-minimal" title="groepseigenfunctie wissen" ng-click="wisGroepseigenFunctie()">
             <span class="glyphicon glyphicon-trash"></span>
           </button>
          </div>
        </div>
      </div>

      <div ng-if="!activegroup.groepseigenFuncties.length">
        <i>Geen groepseigen functies beschikbaar voor deze groep.</i>
        <a ng-click="addGroepseigenFunctie()">Nieuwe groepseigen functie aanmaken.</a>
      </div>
    </div>

    <fieldset class="col-md-6">
      <legend>Groepseigen gegevens
         <div class="pull-right">
          <span ng-hide="" class="glyphicon glyphicon-plus"></span>
        </div>
      </legend>

      <div ng-if="activegroup.groepseigenGegevens" class="sortable">
        <fieldset class="sortable" ng-repeat="groepseigenGegeven in activegroup.groepseigenGegevens.schema | orderBy:'sort'"
         ng-init="showme = false; " ng-click="showme = showme ? false : true">
          <legend>
            {{ groepseigenGegeven.label }}
            <span>({{ groepseigenGegeven.type | fieldTypeFormatter }})</span>
            <button class="btn-minimal pull-right" title="openklappen" ng-click="">
              <span ng-hide="showme" class="glyphicon glyphicon-chevron-down" title="Groepseigen gegeven tonen"></span>
              <span ng-hide="!showme" class="glyphicon glyphicon-chevron-up" title="Groepseigen gegeven verbergen"></span>
            </button>
          </legend>

          <div class="form-group col-xs-12" ng-hide="!showme">
            <label class="col-xs-1  control-label"><i class="fa fa-text-width" aria-hidden="true"></i></label>
            <div class="col-xs-11">
              <!-- fix date-parse -->
              <input type="text" class="form-control" ng-model="activegroup.groepseigenGegevens.schema[$index].label" placeholder="Nieuw groepseigen gegeven"/>
            </div>
          </div>
          <div class="" ng-if="groepseigenGegeven.type == 'lijst' " ng-init="groepseigenGegevenIndex = $index" ng-hide="!showme">
            <div ng-repeat="keuze in activegroup.groepseigenGegevens.schema[groepseigenGegevenIndex].keuzes">
              {{ keuze }}
              <input ng-model="activegroup.groepseigenGegevens.schema[groepseigenGegevenIndex].keuzes[$index]">
            </div>
          </div>
          <div class="col-md-12 form-group" ng-hide="!showme">
            <label class="control checkbox col-md-5">
              <div class="col-xs-11 col-xxs-11 control-label">Alle leiding kan wijzigen</div>
              <div class="col-xs-1 col-xxs-1">
                <input type="checkbox" ng-model="activegroup.groepseigenGegevens.schema[$index].kanLeidingWijzigen"/>
                <span class="control-indicator"></span>
              </div>
            </label>

            <label class=" control checkbox col-md-5 col-md-offset-2">
              <div class="col-xs-11 col-xxs-11 control-label">Persoon zelf kan wijzigen</div>
              <div class="col-xs-1 col-xxs-1">
                <input type="checkbox" ng-model="activegroup.groepseigenGegevens.schema[$index].kanLidWijzigen"/>
                <span class="control-indicator"></span>
              </div>
            </label>
          </div>
          <div class="form-group col-xs-6" ng-hide="!showme">
            <label class="col-xs-12 col-xxs-12" >Helpinstructie</label>
            <div class="col-xs-12 col-xxs-12">
              <textarea class="form-control" ng-model="activegroup.groepseigenGegevens.schema[$index].beschrijving">
              </textarea>
            </div>
          </div>
        </fieldset>
      </div>

      <div ng-if="!activegroup.groepseigenGegevens.schema.length">
        <i>Geen groepseigen gegevens beschikbaar voor deze groep.</i>
        <a>Nieuw groepseigen gegeven aanmaken.</a>
      </div>


    </fieldset>
  </div>
</div>

<!-- Panel footer -->
<footer class="panel-footer clearfix">
  <ul class="pagination pull-left responsive-footer">
    <li><a href="" ng-click="opslaan()">Opslaan</a></li>
    <li class="dropdown dropup pull-right" title="Meer">
      <a class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
      <ul class="dropdown-menu pull-right">
        <li><a href="" ng-click="opslaan()">Opslaan</a></li>
      </ul>
    </li>
  </ul>
</footer>
