<!-- Panel header -->
<div class="panel-heading clearfix">
  <div class="pull-left">
    <span style="margin-right: 5px;"><b>Groep:</b></span>
    <select class="selectpicker" id="" ng-model="('X0055G')">
      <option value="A4102G">Sint-Joris <i>(A4102G)</i></option>
      <option value="X0055G">Ploeg Informatica <i>(X0055G)</i></option>
    </select>
  </div>
  <!--
  <div class="pull-right btn-group">
      <button class="btn btn-default" title="vorig lid"><span class="glyphicon glyphicon-chevron-left"></span></button>
      <button class="btn btn-default" title="volgend lid"><span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
-->
</div>

<!-- Persoonsinfo -->
<div class="panel-body form-hover clearfix">
 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- google maps -->
    <div id="map-container" class="col-sm-6 col-lg-4 col-xs-12"></div>

    <!-- Groeps gegevens -->
    <section class="col-sm-6 col-lg-4 col-xs12">
      <fieldset>
        <legend>Groepseigen gegevens</legend>

        <div class="form-group">
          <label for="_groepsnaam" class="col-xs-6 col-xxs-12 control-label">Groepsnaam</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_groepsnaam" ng-model="('Sint-Joris')"/>
          </div>
        </div>

        <div class="form-group">
          <label for="_groepsnummer" class="col-xs-6 col-xxs-12 control-label">Groepsnummer</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_groepsnummer" ng-model="('A4102G')" />
          </div>
        </div>

        <div class="form-group">
          <label for="_adres" class="col-xs-6 col-xss-12 control-label">Adres</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_adres" ng-model="('wilrijkstraat 45, Antwerpen')" />
          </div>
        </div>

        <div class="form-group">
          <label for="_website" class="col-xs-6 col-xss-12 control-label">Website</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_website" ng-model="('http://wwww.scoutsgroep.be')" />
          </div>
        </div>

        <div class="form-group">
          <label for="_vrijeInfo" class="col-xs-6 col-xxs-12 control-label">Vrije info</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_vrijeInfo" ng-model="('fusie A4102S en A4107M')" />
          </div>
        </div>

        <div class="form-group">
          <label for="_email" class="col-xs-6 col-xxs-12 control-label">E-mail</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_email" ng-model="('--')" />
          </div>
        </div>

        <div class="form-group readonly">
          <label for="_oprichtingsDatum" class="col-xs-6 col-xxs-12 control-label">Oprichtingsdatum</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="date" readonly class="form-control" id="_oprichtingsDatum" ng-model="('01/01/1900')" />
          </div>
        </div>

        <div class="form-group">
          <label for="_rekeningNummer" class="col-xs-6 col-xxs-12 control-label">Rekeningnummer</label>
          <div class="col-xs-6 col-xxs-12">
            <input type="text" class="form-control" id="_rekeningNummer" ng-model="('BE40001111222333')" />
          </div>
        </div>
      </fieldset>
    </section>

    <!-- Groeps eigen functies -->
    <section class="col-sm-6 col-lg-4 col-xs-12">
      <fieldset>
        <legend>Groepseigen functies:</legend>
      </fieldset>
    </section>

</div>

<!-- Panel footer -->
<footer class="panel-footer clearfix">
  <ul class="pagination pull-left responsive-footer">
    <li><a href="" ng-click="opslaan()">Opslaan</a></li>
    <li class="dropdown dropup pull-right" title="Meer">
      <a class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
      <ul class="dropdown-menu pull-right">
        <li><a href="" ng-click="opslaan()">Opslaan</a></li>
      </ul>
    </li>
  </ul>
</footer>