<!-- Panel header -->
<div class="panel-heading panel-fixed clearfix">
  <div class="pull-left">
    <form name="groepenFormulier" ng-if="groepen.length != 1">
      <div class="form-group form-group--ledenaantallen">
        <label class="ledenaantallen-title hidden-xs" for="groepenSelect">Ledenaantallen van</label>&nbsp;
        <select class="ledenaantallen-select-group" name="groepenSelect" ng-options="(groep.naam + ' - ' + groep.groepsnummer) for groep in groepen track by groep.id" ng-change="changeGroep(activegroup.groepsnummer)" ng-model="activegroup"></select>
      </div>
    </form>
    <h1 class="panel-title" ng-if="groepen.length == 1">{{ activegroup.naam + ' - ' + activegroup.groepsnummer }}</h1>
  </div>
</div>

<div class="panel panel-default panel-default--hasmargin">
  <!-- Persoonsinfo -->
  <div class="panel-body form-hover clearfix">
    <div class="row panel-body--ledenaantallen">
      <div class="col-xs-12">
        <div class="btn-group btn-group-ledenaantallen" role="group" >
          <button type="button" class="btn btn-default" ng-repeat="(key, value) in tabs" ng-class="{'active': value.activated }" ng-click="activateTab(key)" ng-disabled="isLoadingData">{{value.label}}</button>
        </div>
      </div>

      <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="centeredcontent m20" ng-show="isLoadingData"><i class="fa fa-spinner fa-pulse"></i>&nbsp;Data aan het laden, even geduld aub</div>

        <div id="ledenaantallen" ng-show="tabs['ledenaantallen'].activated">
          <table class="table" ng-set>
            <thead>
              <tr>
                <th>Tak</th>
                <th>Aantal leden</th>
                <th>Historiek</th>
                <th>% Vrouwen</th>
                <th>Aantal leiding</th>
                <th>Historiek</th>
                <th>Omkaderingscijfer</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="takStatistiek in ledenaantallenData.takStatistieken">
                <td>{{ takStatistiek.takNaam }}</td>
                <td>{{ takStatistiek.aantalLeden['Nu'] }}</td>
                <td ng-attr-id="{{ 'tak-' + takStatistiek.takNaam + '-leden' }}" sparkline="" data-waarden="{{ sparklineData(takStatistiek.aantalLeden) }}" data-formaat='%.0f'></td>
                <td>{{ round(takStatistiek.percentageVrouwelijkeLeden, 0) }}</td>
                <td>{{ takStatistiek.aantalLeiding['Nu'] }}</td>
                <td ng-attr-id="{{ 'tak-' + takStatistiek.takNaam + '-leiding' }}" sparkline="" data-waarden="{{ sparklineData(takStatistiek.aantalLeiding) }}" data-formaat='*.0f'></td>
                <td>{{ round(takStatistiek.omkaderingscijfer, 1) }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div id="eigenschappen" ng-show="tabs['eigenschappen'].activated">
          <table class="table">
            <thead>
             <tr>
              <th>Criteria</th>
              <th>Waarde</th>
              <th>Historiek</th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="criterium in ledenaantallenData.criteria">
                <td>{{ criterium.naam }}</td>
                <td>{{ format(criterium.waarden['Nu'], criterium.formaat) }}</td>
                <td ng-attr-id="{{ 'criterium-' + criterium.naam }}" sparkline="" data-waarden="{{ sparklineData(criterium.waarden) }}" data-formaat='{{ criterium.formaat }}'></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div id="groepsevolutie" ng-show="tabs['groepsevolutie'].activated"></div>

        <div id="ledenaantalperleeftijd" ng-show="tabs['ledenaantalperleeftijd'].activated"></div>

        <div ng-show="tabs['huidigeleidingservaring'].activated">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6 col-md-offset-2 col-md-8">
              <div id="huidigeleidingservaring"></div>
            </div>
          </div>
        </div>

        <div id="inuitstroomperleeftijd" ng-show="tabs['inuitstroomperleeftijd'].activated"></div>

      </div>

    </div>
  </div>

</div>
