<!-- Panel header -->
<div class="panel-heading clearfix">
  <div class="pull-left">
    <a class="btn btn-default btn-toggle" ng-init="isFilterCollapsed = true " ng-class="{ 'active' : !isFilterCollapsed }" href ng-click="isFilterCollapsed = !isFilterCollapsed"><span class="glyphicon glyphicon-filter"></span>&nbsp; Filter</a>
    
    <!-- Single button -->
    <div class="btn-group selectpicker" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Opgeslagen filters <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-repeat="filter in filters"><a href ng-click="setFilter(filter)">{{ filter.naam }}</a></li>
      </ul>
    </div>
    
    <button class="btn btn-default" ng-init="showSaveOptions = false" ng-click="showSaveOptions = !showSaveOptions" ng-hide="showSaveOptions || currentFilter.name"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
    <form ng-show="showSaveOptions" class="form-inline">
      <input type="text" placeholder="Naam van de filter" class="form-control">
      <select class="selectpicker" title="Beschikbaar voor" ng-model="currentFilter" >
        <option>Groep x</option>
      </select>
      <button class="btn btn-default" ng-init="showSaveOptions = false"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
    </form>
  </div>

  <div class="pull-right">
    <!-- <a href="#/lid/toevoegen" class="btn-minimal"><span class="glyphicon glyphicon-plus"></span>&nbsp; Nieuw lid toevoegen</a> -->
    <a class="btn-minimal" href="https://groepsadmin.scoutsengidsenvlaanderen.be/groepsadmin/src.14.afdrukken_downloaden.jsp" target="_blank"><span class="glyphicon glyphicon-share-alt"></span>&nbsp; Exporteren</a>
  </div>
</div>

<!-- Filter panel -->
<div id="filterCollapse" class="panel-filter row-fluid clearfix collapse" uib-collapse="isFilterCollapsed">
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xxs-12" ng-repeat="selectedCriteria in geselecteerdeCriteria">
    <!-- Filter options/criteria -->
    <div class="btn-group filter-option" uib-dropdown keyboard-nav="true" auto-close="disabled">
      <button type="button" class="btn btn-filter dropdown-toggle" uib-dropdown-toggle>
        <span class="filter-option-title">{{ selectedCriteria.title }}</span>
        <span class="filter-option-subtitle" ng-if="selectedCriteria.multiplePossible">
          <span ng-repeat="selectedCriteriaItem in selectedCriteria.items">{{selectedCriteriaItem.label}}
            <span ng-if="!$last">,&nbsp;</span>
          </span>
          <span ng-if="!selectedCriteria.items.lenght">
            &nbsp;
          </span>
        </span>
        <span class="filter-option-subtitle" ng-if="!selectedCriteria.multiplePossible">
         {{ getLabelForValue(selectedCriteria.items, selectedCriteria ) }}
          <span ng-if="!selectedCriteria.items.lenght">
            &nbsp;
          </span>
        </span>
        <a ng-click="closeCriteria(selectedCriteria)" class="filter-option-close"><span class="glyphicon glyphicon-remove"></span></a>
      </button>

      <div class="dropdown-menu" uib-dropdown-menu>
        <ul class="checklist">
          <!-- geselecteerde items oplijsten-->
          <!--
          <li ng-repeat="criteriaItem in criteria[getKeyInCriteriaBytitle(selectedCriteria.title)].items | orderBy:'label'" ng-if="selectedCriteria.multiplePossible &&  isCriteriaItemSelected(criteriaItem, selectedCriteria)">
            <label ng-click="filterCriteriaVerwijderen(criteriaItem, selectedCriteria)"><input type="checkbox" name="leden" checked>{{ criteriaItem.label }}</label>
          </li>
          <hr>
          -->

          <!-- niet geselecteerde items oplijsten-->
          <!--
          <li ng-repeat="criteriaItem in criteria[getKeyInCriteriaBytitle(selectedCriteria.title)].items | orderBy:'label'" ng-if="selectedCriteria.multiplePossible &&  !isCriteriaItemSelected(criteriaItem, selectedCriteria)">
            <label ng-click="filterCriteriaToevoegen(criteriaItem, selectedCriteria)"><input type="checkbox" name="leden">{{ criteriaItem.label }}</label>
          </li>
          -->

          <!-- alle items weergeven -->
          <li ng-repeat="criteriaItem in criteria[getKeyInCriteriaBytitle(selectedCriteria.title)].items | orderBy:'label'" ng-if="selectedCriteria.multiplePossible">
            <label ng-if="isCriteriaItemSelected(criteriaItem, selectedCriteria)" ng-click="filterCriteriaVerwijderen(criteriaItem, selectedCriteria)"><input type="checkbox" checked>{{ criteriaItem.label }}</label>
            <label ng-if="!isCriteriaItemSelected(criteriaItem, selectedCriteria)" ng-click="filterCriteriaToevoegen(criteriaItem, selectedCriteria)"><input type="checkbox" >{{ criteriaItem.label }}</label>
          </li>

          <!-- items waarvan er maar één geselecteerd kan worden -->
          <li ng-if="!selectedCriteria.multiplePossible">
            <label ng-repeat="criteriaItem in criteria[getKeyInCriteriaBytitle(selectedCriteria.title)].items | orderBy:'label'" ng-click="filterCriteriaAanpassen(criteriaItem,selectedCriteria)"><input type="radio" name="selectedCriteria.title" ng-checked="selectedCriteria.items == criteriaItem.value">{{ criteriaItem.label }}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Filter options/criteria toevoegen-->
  <div class="btn-group" ng-hide="geselecteerdeCriteria.length == criteria.length">
    <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown" title="Filtercriteria toevoegen">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-label">Filtercriteria toevoegen</span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="criteriaItem in criteria" ng-if="!inSelectedCriteria(criteriaItem.title)"><a ng-click="addSelectedCriteria(criteriaItem)">{{ criteriaItem.title }}</a></li>
    </ul>
  </div>
      <!-- <a href="#" class="btn btn-filter btn-filter-columns"><span class="glyphicon glyphicon-th-list"></span></a> -->
</div>

<!-- Table -->
<table id="leden" class="table table-responsive table-hover" infinite-scroll="nextPage()" infinite-scroll-disabled="(busy || end )" infinite-scroll-distance="1" infinite-scroll-immediate-check="true">
  <thead>
    <tr class="sortable">
      <th ng-repeat="kolom in currentFilter.kolommen" id="kolom.label">{{ kolom.label }}
      <i class="fa fa-sort-alpha-asc sort" ng-class="{'first-sort' : sortering(kolom.id, true) == 1, 'second-sort' : sortering(kolom.id, true) == 2, 'third-sort' : sortering(kolom.id, true) == 3 }" aria-hidden="true" ng-click="addSort(kolom.id, true)"></i>
      <i class="fa fa-sort-alpha-desc sort" ng-class="{'first-sort' : sortering(kolom.id, false) == 1, 'second-sort' : sortering(kolom.id, false) == 2, 'third-sort' : sortering(kolom.id, false) == 3 }" aria-hidden="true" ng-click="addSort(kolom.id, false)"></i></th>
      <th class="sortable-disabled" uib-dropdown keyboard-nav="true" auto-close="disabled">
        <i class="fa fa-table dropdown-toggle"  aria-hidden="true" uib-dropdown-toggle></i>
        <ul class="dropdown-menu pull-right checklist" uib-dropdown-menu>
          <li ng-repeat="kolom in kolommen">
            <label>
              <input type="checkbox" ng-checked="kolomInFilter(kolom)" ng-click="changeKolomInFilter(kolom)" title="{{ kolom.beschrijving }}">{{ kolom.label }}
            </label>
          </li>
        </ul>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr  ng-repeat="lid in leden" ga-lid="{{lid.id}}" ng-init="meerLaden($last)" >
      <td ng-repeat="kolom in currentFilter.kolommen">
        <div class="fade-in slide-in">{{lid.waarden[$index]}}</div>
      </td>
      <td class="t-caret" role="button"><span class="caret"></span></td>
    </tr>
  </tbody>
</table>
<footer class="panel-footer clearfix" in-view="test($inview)">
  <div ng-show='busy && !end ' class="loading" in-view="test($inview)"><i class="fa fa-spinner fa-pulse"></i>Leden aan het ophalen... </div>
</footer>


<!-- Panel footer -->
<!--
<footer class="panel-footer clearfix">
  <small class="pagination-info pull-left">{{ offset + 1 }} tot {{ offset + aantalPerPagina }} van {{ totaalAantalLeden }}</small>
  <ul class="pagination pull-right" >
    <li><a href="#">«</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
  </ul>
</footer>
-->
