<div class="panel panel-default panel-default--negmargin">

  <!-- Panel header -->
  <div class="panel-heading panel-heading--leden clearfix">
    <div class="pull-left">
      <button class="btn btn-collapse btn-collapse--filter" ng-class="{ 'active' : !isFilterCollapsed}" ng-click="toggleFilter()">
        <span ng-if="!isLoadingFilters && hasLoadedFilters">
          <div class="pull-left">{{ isFilterCollapsed ? 'Filter tonen ' : 'Filter verbergen ' }}</div>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !isFilterCollapsed, 'glyphicon-chevron-right': isFilterCollapsed}"></i>
        </span>
        <div ng-if="isLoadingFilters && !hasLoadedFilters" class="loading-filter-container">
          <i class="fa fa-spinner fa-pulse"></i>&nbsp;Filter aan het laden...
        </div>
      </button>
    </div>

    <div class="pull-right">
      <div class="hidden-xs hidden-sm">
        <button type="button" class="btn btn-secondary" ng-show="canPost" ng-click="nieuwlid()">
          <i class="fa fa-plus"></i>&nbsp;Nieuw lid
        </button>
        <button type="button" class="btn btn-secondary" ng-click="export('pdf')">
          <span ng-show="exportButtons['pdf'].isLoading"><i class="fa fa-spinner fa-pulse"></i>&nbsp;</span>Exporteren naar PDF
        </button>
        <button type="button" class="btn btn-secondary" ng-click="export('csv')">
          <span ng-show="exportButtons['csv'].isLoading"><i class="fa fa-spinner fa-pulse"></i>&nbsp;</span>Exporteren naar Excel (csv)
        </button>
        <button type="button" class="btn btn-secondary" ng-click="export('steekkaarten')">
          <span ng-show="exportButtons['steekkaarten'].isLoading"><i class="fa fa-spinner fa-pulse"></i>&nbsp;</span>Individuele steekkaarten naar PDF
        </button>
        <button type="button" class="btn btn-secondary" ng-click="$event.preventDefault();redirectToEmailPage();">
          E-mail versturen
        </button>
      </div>
      <div class="hidden-md hidden-lg">
        <div class="btn-group pull-right" uib-dropdown>
          <button id="split-button" type="button" class="btn btn-secondary" ng-click="export('pdf')">
            <span ng-show="exportButtons['pdf'].isLoading"><i class="fa fa-spinner fa-pulse"></i>&nbsp;</span>Exporteren naar PDF
          </button>
          <button type="button" class="btn btn-secondary" uib-dropdown-toggle>
            <span class="caret"></span>
            <span class="sr-only">Acties</span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
            <li role="menuitem" ng-show="canPost"><a href="#" ng-click="$event.preventDefault();nieuwlid()">Nieuw lid</a></li>
            <li role="menuitem"><a href="#" ng-click="$event.preventDefault();export('pdf')"><span ng-show="exportButtons['pdf'].isLoading"><i class="fa fa-spinner fa-pulse"></i>&nbsp;</span>Exporteren naar PDF</a></li>
            <li role="menuitem"><a href="#" ng-click="$event.preventDefault();export('csv')"><span ng-show="exportButtons['csv'].isLoading"><i class="fa fa-spinner fa-pulse"></i>&nbsp;</span>Exporteren naar Excel (csv)</a></li>
            <li role="menuitem"><a href="#" ng-click="$event.preventDefault();export('steekkaarten')"><span ng-show="exportButtons['steekaarten'].isLoading"><i class="fa fa-spinner fa-pulse"></i>&nbsp;</span>Individuele steekkaarten naar PDF</a></li>
            <li role="menuitem"><a href="#" ng-click="$event.preventDefault();redirectToEmailPage();">E-mail versturen</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="panel-filter row-fluid clearfix collapse" uib-collapse="isFilterCollapsed">
    <div class="row row-filters">
      <!-- Single button -->
      <div class="col-lg-6 col-xxs-12">
        <div class="btn-group selectpicker pull-left" uib-dropdown is-open="status.isopen">
          <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            {{ currentFilter.naam ? currentFilter.naam : 'Huidige' }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li ng-if="isLoadingFilters"><a href='javascript:void(0)'><i class="fa fa-spinner fa-pulse"></i>&nbsp;Filters aan het laden...</a></li>
            <li ng-if="!isLoadingFilters && !(filters.length > 0)"><a href='javascript:void(0)'>Geen filters</a></li>
            <li ng-if="!isLoadingFilters" role="menuitem" ng-repeat="filter in filters | orderBy:'naam'"><a href ng-click="changeFilter(filter)">{{ filter.naam }}</a></li>
          </ul>
        </div>
        <div ng-show="!showSaveOptions" class="pull-left">
          <button class="btn btn-default" ng-click="showSaveOptions = !showSaveOptions" ng-hide="showSaveOptions || currentFilter.name">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Filter opslaan
          </button>
        </div>
        <div ng-show="showSaveOptions" class="pull-left">
        <form class="form-inline typeahead-filter">
          <!-- <pre>Model: {{selectedFilter | json}}</pre> -->
          <input type="text" ng-model="selectedFilter"
          placeholder="Naam van filter"
          uib-typeahead="filter as filter.naam for filter in filters | filter:{naam:$viewValue}"
          typeahead-popup-template-url="customPopupTemplate.html" class="form-control">
          <!--<select class="selectpicker" title="Beschikbaar voor" ng-model="currentFilter" >
            <option>Groep x</option>
          </select>-->
          <button class="btn btn-apply" ng-click="saveOrOverwriteFilter(selectedFilter)" ng-disabled="isSavingFilters">
            <span ng-if="!selectedFilter.id && !isSavingFilters"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Opslaan</span>
            <span ng-if="selectedFilter.id && !isSavingFilters"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Overschrijven</span>
            <span ng-if="isSavingFilters"><i class="fa fa-spinner fa-pulse"></i>&nbsp;Filter opslaan...</span>
          </button>
          <button class="btn btn-default" ng-click="showSaveOptions = !showSaveOptions;selectedFilter='';"><span class="fa fa-remove" aria-hidden="true" ></span>&nbsp;Annuleren</button>
        </form>
        </div>
      </div>
    </div>
    <div class="row row-criteria">


      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xxs-12"
      ng-repeat="criterium in criteria | filter:{activated:true} | orderBy:'title'"
      ng-if="hasLoadedFilters">
        <!-- Filter options/criteria -->
        <div class="btn-group filter-option filter-option--criteria" uib-dropdown keyboard-nav="true" auto-close="outsideClick">
          <button ng-disabled="isLoadingFilters || isSavingFilters" type="button" class="btn btn-filter btn-filter--criteria dropdown-toggle" uib-dropdown-toggle>
            <span class="filter-option-title">{{ criterium.title }}</span>
            <span class="filter-option-subtitle" ng-if="criterium.criteriaKey !== 'leeftijd'">
              <span>{{ getButtonSubtitle(criterium,3) == "" ? "&nbsp;" : getButtonSubtitle(criterium,3) }}</span>
            </span>
            <span class="filter-option-subtitle" ng-if="criterium.criteriaKey == 'leeftijd'">
              <span>{{ leeftijdOpDatum[0] }} > {{ ouderDan[0] }} en < {{ jongerDan[0] }}</span>
            </span>
          </button>
          <a ng-click="deactivateCriterium(criterium)" class="filter-option-close"><i class="fa fa-trash" aria-hidden="true"></i></a>

          <div class="dropdown-menu" uib-dropdown-menu>
            <div class="control-selectall" ng-if="criterium.multiplePossible && criterium.items.length > 1 && criterium.criteriaKey == 'groepen' ">
              <label
                class="jcontrol control--checkbox">
                Selecteer alle groepen
                <input type="checkbox" ng-click="toggleAllCriteriumItems(criterium)" ng-checked="isAllCriteriumItemsSelected(criterium) == 'all'"/>
                <div class="control__indicator" ng-class="{'control__indicator--some-selected' : isAllCriteriumItemsSelected(criterium) == 'some'}"></div>
              </label>
            </div>
            <div class="control-selectall" ng-if="criterium.multiplePossible && criterium.itemgroups.length > 1 && criterium.criteriaKey == 'functies' ">
              <label
                class="jcontrol control--checkbox">
                Selecteer alle functies
                <input type="checkbox" ng-click="toggleAllCriteriumItemGroups(criterium); $scope.$apply();" ng-checked="isAllCriteriumItemGroupsSelected(criterium) == 'all'"/>
                <div class="control__indicator" ng-class="{'control__indicator--some-selected' : isAllCriteriumItemGroupsSelected(criterium) == 'some'}"></div>
              </label>
            </div>

            <div class="control-group" ng-if="!criterium.multiValues">
              <div class="control-group-sectiongroup">
                <div ng-if="criterium.criteriaKey == 'functies' && (criterium.criteriaSubKey == 'verbonds' || criterium.criteriaSubKey == 'groepspecifiek')" ng-repeat="criteriumItemGroup in criterium.itemgroups" ng-class="{ 'control-group-section--collapsed': criteriumItemGroup.collapsed }" class="control-group-section">
                  <div class="control-group-subheader" ng-click="toggleCriteriumSection(criteriumItemGroup)">
                  <span class="control-group-subheader-label">

                    <div class="control-selectall">
                      <label class="jcontrol control--checkbox control--header">

                        <input type="checkbox" ng-click="toggleAllCriteriumItems(criteriumItemGroup)" ng-checked="isAllCriteriumItemsSelected(criteriumItemGroup) == 'all'"/>
                        <div class="control__indicator" ng-class="{'control__indicator--some-selected' : isAllCriteriumItemsSelected(criteriumItemGroup) == 'some'}"></div>
                        <div class="control__indicator"></div>
                      </label>
                      <div class="control-label-value">{{ criteriumItemGroup.label }}</div>
                    </div>

                    <i class="glyphicon pull-right glyphicon-chevron-down"></i>
                  </div>
                  <label
                    ng-repeat="criteriumItem in criteriumItemGroup.items | orderBy:'label'"
                    class="jcontrol control--checkbox control--collapsible">
                    {{ criteriumItem.label }}
                    <input type="checkbox" ng-click="toggleCriteriumItem(criteriumItem,'checkbox')" ng-checked="criteriumItem.activated"/>
                    <div class="control__indicator"></div>
                  </label>

                </div>
              </div>

              <label
                ng-if="criterium.multiplePossible && (criterium.criteriaKey !== 'leeftijd' || criterium.criteriaSubKey !== 'verbonds' || criterium.criteriaSubKey !== 'groepspecifiek')"
                ng-repeat="criteriumItem in criterium.items | orderBy:'label'"
                class="jcontrol control--checkbox">
                {{ criteriumItem.label }}
                <input type="checkbox" ng-click="toggleCriteriumItem(criteriumItem,'checkbox')" ng-checked="criteriumItem.activated"/>
                <div class="control__indicator"></div>
              </label>

              <label
                ng-if="!criterium.multiplePossible && !criterium.multiValues"
                ng-repeat="criteriumItem in criterium.items | orderBy:'label'"
                class="jcontrol control--radio">
                {{ criteriumItem.label }}
                <input type="checkbox" ng-click="toggleCriteriumItem(criteriumItem,'radio',criterium.items)" ng-checked="criteriumItem.activated">
                <div class="control__indicator"></div>
              </label>

            </div>

            <!-- LEEFTIJD CRITERIUM -->
            <div class="multival-group" ng-if="criterium.multiValues && criterium.criteriaKey == 'leeftijd'">
              <select ng-options="( value[0] ) for value in criterium.leeftijdOpDatum.values track by value[1]" ng-model="leeftijdOpDatum" ng-selected="updateLeeftijdOpDatum(leeftijdOpDatum)"></select><br/>
              {{ criterium.ouderDan.label }}
              <select ng-options="( value[0] ) for value in criterium.ouderDan.values track by value[1]" ng-model="ouderDan" ng-selected="updateOuderDan(ouderDan)"></select><br>
              {{ criterium.jongerDan.label }}
              <select ng-options="( value[0] ) for value in criterium.jongerDan.values track by value[1]" ng-model="jongerDan" ng-selected="updateJongerDan(jongerDan)"></select><br>
            </div>

          </div>
        </div>
      </div>

      <!-- Filter options/criteria toevoegen-->
      <div class="btn-group"
      ng-hide="isAllCriteriaActive()"
      ng-if="hasLoadedFilters">
        <button ng-disabled="isLoadingFilters || isSavingFilters" type="button" ng-click="addLastCriteriumIfThereIsOnlyOneLeft()" class="btn btn-filter btn-filter--criteria dropdown-toggle" data-toggle="dropdown" title="Filtercriteria toevoegen">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-label">Criterium toevoegen</span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="criterium in criteria | filter : { activated : false} | orderBy:'title'">
            <a ng-click="activateCriterium(criterium);">{{ criterium.title }}</a>
          </li>
        </ul>
      </div>


      <!-- GROUP BUTTONS -->

      <div ng-show="hasLoadedFilters" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        <div class="btn-group filter-option filter-option--kolommen" uib-dropdown keyboard-nav="true" auto-close="outsideClick" on-toggle="indexeerEnGroepeerKolommen()">

          <button ng-disabled="isLoadingFilters || isSavingFilters" type="button" class="btn btn-filter btn-filter--kolommen dropdown-toggle" uib-dropdown-toggle>
            <span class="filter-option-title">Kolommen</span>
            <span class="filter-option-subtitle">
              <span ng-repeat="kolom in kolommen | filter:{activated:true} | orderBy:'kolomIndex'">
                 {{ kolom.label }}<span ng-if="!$last">,</span>
              </span>
              <span>{{ getButtonSubtitleSuffix(kolommen) }}</span>
            </span>
          </button>

          <div class="dropdown-menu" uib-dropdown-menu>
            <div id="mySortableList" class="control-group control-group-section control-group-sectiongroup">
              <div ng-repeat-start="(key, groepering) in kolommen | orderBy : 'kolomIndex' | groupBy: 'groepering'" ng-if="!$first" class="control-group-subheader" style="cursor: initial;">
                 <div class="control-group-title" style="padding: 4px 10px;">{{key}}</div>
              </div>
              <div ng-repeat-end ng-hide="groepering | isEmpty" ng-repeat="kolom in groepering | orderBy: 'kolomIndex'" ng-class="{ 'filterDragKolom': kolom.activated }" data-kolom-id="{{kolom.id}}">
                <label class="jcontrol control--checkbox control--collapsible noselect">
                  <span class="fa fa-arrows-v pull-right kolom-drag-v" ng-if="kolom.activated"></span>
                  {{ kolom.label }}
                  <input type="checkbox" ng-click="toggleKolom(kolom)" ng-checked="kolom.activated" />
                  <div class="control__indicator"></div>
                </label>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="pull-right" ng-show="!isLoadingFilters">
        <div class="btn-group filter-option">
          <button ng-if="isSavingFilters" type="button" class="btn btn-apply disabled" title="Criteria opslaan">
            <div class="loading-filter-container"><i class="fa fa-spinner fa-pulse"></i>&nbsp;Filtercriteria opslaan...</div>
          </button>
          <button ng-click="applyFilter(true)" ng-if="!isSavingFilters" type="button" class="btn btn-apply" title="Filter toepassen">
            <div><span class="glyphicon glyphicon-ok"></span><span class="hidden-label">Filter toepassen</span></div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="panel-leden">
    <table id="leden" class="table table-responsive table-leden" >
      <thead>
        <tr ng-show='!isLoadingLeden'>
          <th ng-repeat="kolom in kolommen | filter : { activated : true} | orderBy: 'kolomIndex'">{{ kolom.label }}</th>
        </tr>
      </thead>
      <tbody ng-show="!isLoadingLeden" infinite-scroll='ledenLaden()' infinite-scroll-distance='1'>
        <tr ng-repeat="lid in leden" ga-lid="{{lid.id}}" >
          <td ng-repeat="kolom in kolommen | filter : { activated : true} | orderBy: 'kolomIndex'" style="position: relative;">
            <div ng-if="!kolom.isLoaded" class="data-placeholder"></div>
            <div ng-if="kolom.isLoaded && kolom.type == 'vinkje'" class="control noselect">
              <input type="checkbox" ng-checked="{{ 0 <= lid.waarden[kolom.id].indexOf('checked') }}" disabled='disabled' />
              <div class="control-indicator"></div>
            </div>
            <div ng-if="kolom.isLoaded && kolom.type != 'vinkje'">{{ lid.waarden[kolom.id] }}</div>
          </td>
          <td class="t-caret" role="button"><span class="caret"></span></td>
        </tr>
      </tbody>
    </table>

    <footer class="panel-footer clearfix">
      <div ng-if="isLoadingFilters && !hasLoadedFilters && !isLoadingLeden" class="loading"><i class="fa fa-spinner fa-pulse"></i>&nbsp;Filter aan het laden...</div>
      <div ng-show='isLoadingLeden' class="loading"><i class="fa fa-spinner fa-pulse"></i>Leden aan het ophalen... </div>
      <div ng-show='isLoadingMore' class="loading"><i class="fa fa-spinner fa-pulse"></i>Meer leden aan het ophalen... </div>
    </footer>
  </div>

</div>

<script type="text/ng-template" id="customPopupTemplate.html">
  <div class="custom-popup-wrapper dropdown-menu"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <p class="message">Selecteer een bestaande filter</p>
    <ul class="dropdown-menu" role="listbox">
      <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
          ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
          <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>
