<div class="col-xs-2">
  <p>{{::functie.begin | date:'dd/MM/yy'}}</p>
  <p>{{::functie.einde | date:'dd/MM/yy'}}</p>
</div>
<div class="col-xs-7">
  <p><strong>{{::functieslijst[functie.functie].beschrijving}}</strong></p>
  <p>{{::groepenlijst[functie.groep].naam}} - {{::functie.groep}}</p>
</div>
<div class="col-xs-3">
  <p><a ng-if="!functie.einde && hasPermission('functies.' + functie.groep)" href class="btn btn-link btn-link-danger btn-link-danger--stopfunctie" ng-click="stopFunctie(functie)">Stop functie</a></p>
</div>
