<!-- Panel header -->
<div class="panel-heading panel-fixed panel-fixed--large clearfix">
  <div class="pull-left">
    <h1 class="panel-title">Individuele steekkaart</h1>
    <h2 class="panel-subtitle">{{ lid.vgagegevens.voornaam }} {{ lid.vgagegevens.achternaam }}</h2>
    <h2 class="panel-subtitle">{{ lid.verbondsgegevens.lidnummer }}</h2>
  </div>
  <div class="pull-right">
    <formerrorbutton formulier="individueleSteekaart" watchable="watchable"></formerrorbutton>
    <button type="submit" class="btn btn-apply" ng-enabled="" oninvalid="" ng-click="opslaan()" ng-disabled="individueleSteekaart.$invalid" ng-show="lid">
      <i class="fa fa-save" aria-hidden="true"></i>&nbsp;Opslaan&nbsp;<i class="fa fa-spinner fa-pulse" ng-show="saving"></i>
    </button>
  </div>
</div>

<!-- Persoonsinfo -->
<div class="panel panel-default panel-default--hasmargin-large ng-scope">
  <form name="individueleSteekaart" class='panel-body form-hover clearfix'>
    <div class="individuele-steekkaart">
      <dynamischformulier class="" waarden="individueleSteekkaartWaarden" velden="individueleSteekkaartLayoutGroups" formulier="individueleSteekaart"></dynamischformulier>
    </div>
  </form>
</div>
