<!-- Panel header -->
<div class="panel-heading panel-fixed panel-fixed--large clearfix">
  <div class="pull-left full-max-width">

    <h1 class="panel-title ellipsis" ng-bind="lid.vgagegevens.voornaam + ' ' + lid.vgagegevens.achternaam"></h1>
    <h2 class="panel-subtitle" ng-show="lid">Lidnummer: {{ lid.verbondsgegevens.lidnummer }}</h2>
    <!-- Placeholders-->
    <h1 class="panel-title placeholder placeholder--blurred" ng-show="!lid">Plaatshouder</h1>
    <h2 class="panel-subtitle placeholder placeholder--blurred" ng-show="!lid">1988randomnumber3791</h2>
    <!-- END OF Placeholders-->

  </div>
  <div class="pull-right">
    <div class="hidden-xs hidden-sm hidden-md ">
      <button type="submit" class="btn btn-apply" ng-disabled="communicatieForm.$invalid || lid.changes.length == 0"
              ng-click="opslaan()"
              ng-if="lid"><i class="fa fa-save"
                             aria-hidden="true"></i>&nbsp;Opslaan&nbsp;<i
        class="fa fa-spinner fa-pulse" ng-show="saving"></i>
      </button>
      <a href="#/lid/individuelesteekkaart/{{lid.id}}" class="btn btn-primary"
         ng-if="steekkaartLeesrecht || isEigenProfiel">
        <i class="fa fa-medkit" aria-hidden="true"></i>&nbsp;Individuele steekkaart
      </a>
      <button type="button" class="btn btn-secondary" ng-click="redirectToCommunicatievoorkeuren()"
              ng-if="isEigenProfiel"><i
        class="fa fa-plus" aria-hidden="true"></i>&nbsp;Communicatievoorkeuren
      </button>
      <button type="button" class="btn btn-secondary" ng-click="schrap()"
              ng-if="kanSchrappen && lidPropertiesWatchable"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Stop
        alle functies
      </button>
      <button type="button" class="btn btn-secondary" ng-click="nieuwlid()" ng-if="canPost && lidPropertiesWatchable"><i
        class="fa fa-plus" aria-hidden="true"></i>&nbsp;Nieuw lid
      </button>
      <button type="button" class="btn btn-secondary" ng-click="gezinslid()"
              ng-if="(lid && canPost) && lidPropertiesWatchable" ng-disabled="!lid || !canPost"><i
        class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Broer/zus toevoegen
      </button>
      <button type="button" ng-disabled="!lid" class="btn btn-secondary" ng-click="redirectToEmailPage(lid.id)"
              ng-if="!isEigenProfiel"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;E-mail
        sturen
      </button>
    </div>

    <div class="hidden-lg">
      <div class="btn-group pull-right" uib-dropdown>
        <button id="split-button" type="submit" class="btn btn-apply"
                ng-click="opslaan()" ng-show="lid && canSave  || kanGroepseingenVeldenWijzigen">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;Opslaan&nbsp;<i
          class="fa fa-spinner fa-pulse" ng-show="saving"></i>
        </button>
        <a ng-if="steekkaartLeesrecht || isEigenProfiel" href="#/lid/individuelesteekkaart/{{lid.id}}"
           class="hidden-xs btn btn-primary">
          <i class="fa fa-medkit" aria-hidden="true"></i>&nbsp;Individuele steekkaart
        </a>
        <button type="button" class="btn" ng-if="kanSchrappen || canPost" uib-dropdown-toggle>
          <span class="caret"></span>
          <span class="sr-only">Actie kiezen</span>
        </button>
        <button type="button" class="visible-xs btn" ng-if="!(kanSchrappen || canPost)" uib-dropdown-toggle>
          <span class="caret"></span>
          <span class="sr-only">Actie kiezen</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu"
            aria-labelledby="split-button">
          <li role="menuitem" ng-hide="!steekkaartLeesrecht"><a href="#/lid/individuelesteekkaart/{{lid.id}}">Individuele
            steekkaart</a>
          </li>
          <li role="menuitem" ng-hide="!kanSchrappen"><a href="#" ng-click="$event.preventDefault();schrap()">Stop alle
            functies</a></li>
          <li role="menuitem" ng-hide="!canPost"><a href="#" ng-click="$event.preventDefault();nieuwlid()">Nieuw lid</a>
          </li>
          <li role="menuitem"><a href="#" ng-click="$event.preventDefault();gezinslid()" ng-show="lid && canPost">Broer/zus
            toevoegen</a></li>
          <li role="menuitem"><a href="#" ng-click="$event.preventDefault();redirectToEmailPage(lid.id)"
                                 ng-show="!isEigenProfiel">E-mail sturen</a></li>
          <li role="menuitem"><a href="#" ng-click="$event.preventDefault();redirectToCommunicatievoorkeuren(lid.id)"
                                 ng-show="isEigenProfiel">Communicatievoorkeuren</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default panel-default--hasmargin-large">
  <div class="row ml20">
    <div class="col-xs-12 col-md-10 mt20 col-lg-8">
      <p>Scouts en Gidsen Vlaanderen wil met haar tijdschriften leiding en leden inspireren en informeren over scouting.
        Deze tijdschriften krijg je standaard in jouw brievenbus en groeien met jou mee: Krak?Boem! voor de leden,
        Over&Weer voor jin & leiding.
        Als je de opties hieronder uitvinkt, krijg je geen papieren exemplaar meer in jouw brievenbus. Let wel, de
        tijdschriften worden per gezin gebundeld. Wil je geen tijdschriften meer voor heel jouw gezin, dan moet je je
        voorkeuren bij elke lid aangeven.</p>
    </div>
  </div>
  <form name="communicatieForm">
    <div class="panel-body form-hover clearfix">
      <section>
        <div class="col-xs-12 col-md-10 col-lg-8">
          <fieldset ng-if="lid">
            <div class="row">
              <legend class="col-md-7 col-xss-12">Tijdschriften</legend>
              <legend class="col-md-2 hidden-xs hidden-sm"><span>Per post</span></legend>
              <legend class="col-md-3 hidden-xs hidden-sm"><span>Per e-mail</span></legend>
            </div>
            <div ng-repeat="(key, product) in communicatieProducten.slice().reverse()">
              <!-- Sectie enkel voor de gewone leden - verschillend tov leiding-->
              <div ng-if="(product.type.length > 1 && product.naam != 'Go Scout It') && !leiding"
                   class="row form-group">
                <div class="col-md-1 col-xs-2 control-label">
                  <span><img ng-src="{{product.image}}" width="45px"></span>
                </div>
                <div class="col-md-2 col-xs-4 mt20">
                  {{product.naam}}
                </div>
                <div class="col-md-4 col-xs-12 mt20">
                  {{product.omschrijving}}
                </div>
                <div class="row hidden-md hidden-lg">
                  <legend class="col-xs-6"><span>Per post</span></legend>
                  <legend class="col-xs-6"><span>Per e-mail</span></legend>
                </div>
                <div>
                  <label class="control checkbox col-xs-5 col-xs-offset-1 col-md-2 col-md-offset-0">
                    <div class="control checkbox">
                      <input type="checkbox" ng-checked="checkValue(product, product.type[0])"
                             ng-click="verwerkCommunicatie(product, product.type[0])"/>
                      <span class="control-indicator"></span>
                    </div>
                  </label>
                  <label class="control col-xs-3 col-md-1 mt10">
                    <div class="control checkbox">
                      <input type="checkbox" ng-checked="checkValueDigital(product, product.type[1])"
                             ng-disabled="checkValue(product, product.type[0])"
                             ng-click="verwerkCommunicatie(product, product.type[1])"/>
                      <span class="control-indicator"></span>
                    </div>
                  </label>
                  <div class="col-md-1 col-xs-1 mt15">
                    <a
                      target="_blank" class="info-button">
                      <i class="fa fa-question-circle resolve" title="meer info"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div ng-if="product.type.length > 1 && leiding && !product.bijlage" class="row form-group">
                <div class="col-md-1 col-xs-2 control-label">
                  <span><img ng-src="{{product.image}}" width="45px"></span>
                </div>
                <div class="col-md-2 col-xs-4 mt20">
                  {{product.naam}}
                </div>
                <div class="col-md-4 col-xs-12 mt20">
                  {{product.omschrijving}}
                </div>
                <div class="row hidden-md hidden-lg">
                  <legend class="col-xs-6"><span>Per post</span></legend>
                  <legend class="col-xs-6"><span>Per e-mail</span></legend>
                </div>
                <div>
                  <label class="control checkbox col-xs-5 col-xs-offset-1 col-md-2 col-md-offset-0">
                    <div class="control checkbox">
                      <input type="checkbox" ng-checked="checkValue(product, product.type[0])"
                             ng-click="verwerkCommunicatie(product, product.type[0])"/>
                      <span class="control-indicator"></span>
                    </div>
                  </label>
                  <label class="control col-xs-3 col-md-1 mt10">
                    <div class="control checkbox">
                      <input type="checkbox" ng-checked="checkValueDigital(product, product.type[1])"
                             ng-disabled="checkValue(product, product.type[0])"
                             ng-click="verwerkCommunicatie(product, product.type[1])"/>
                      <span class="control-indicator"></span>
                    </div>
                  </label>
                  <div class="col-md-1 col-xs-1 mt15">
                    <a
                      target="_blank" class="info-button">
                      <i class="fa fa-question-circle resolve" title="meer info"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Bijlagen tonen als een verzameling indien het over leiding gaat-->
            <div ng-if="leiding" class="row form-group">
              <div class="col-md-1 col-xs-2 control-label">
                <span><img ng-src="img/bijlages.png" width="100px"></span>
              </div>
              <div class="col-md-2 col-xs-4 mt20">
                Bijlages
              </div>
              <div class="col-md-4 col-xs-12 mt20">
                (Krak?, Boem!, Go Scout It)
              </div>
              <div class="row hidden-md hidden-lg">
                <legend class="col-xs-6"><span>Per post</span></legend>
                <legend class="col-xs-6"><span>Per e-mail</span></legend>
              </div>
              <div>
                <label class="control checkbox col-xs-5 col-xs-offset-1 col-md-2 col-md-offset-0">
                  <div class="control checkbox">
                    <input type="checkbox" ng-checked="!checkAantalBijlages('post')"
                           ng-click="verwerkCommunicatieBijlages()"/>
                    <span class="control-indicator"></span>
                  </div>
                </label>
                <label class="control col-xs-3 col-md-1 mt10">
                  <div class="control checkbox">
                    <input type="checkbox" ng-checked="!checkAantalBijlages('nieuwsbrief') && checkAantalBijlages('post')"
                           ng-disabled="!checkAantalBijlages('post')"
                           ng-click="verwerkCommunicatieBijlagesDigitaal()"/>
                    <span class="control-indicator"></span>
                  </div>
                </label>
                <div class="col-md-1 col-xs-1 mt15">
                  <a
                    target="_blank" class="info-button">
                    <i class="fa fa-question-circle resolve" title="meer info"></i>
                  </a>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset ng-if="lid && communicatieProducten.length > 4">
            <div class="row">
              <legend class="col-xs-12 col-md-7 ">Nieuwsbrieven</legend>
              <legend class="col-xs-12 col-md-5 "><span class="col-xs-offset-4 col-md-offset-0">Per e-mail</span>
              </legend>
            </div>
            <div ng-repeat="(key, product) in communicatieProducten">
              <div ng-if="product.type.length == 1 && product.type[0] == 'nieuwsbrief'" class="row">
                <div class="col-md-1 col-xs-2 control-label">
                  <span><img ng-src="{{product.image}}" width="45px"></span>
                </div>
                <div class="col-md-2 col-xs-4 mt20">
                  {{product.naam}}
                </div>
                <div class="col-md-4 col-xs-12 mt20">
                  {{product.omschrijving}}
                </div>
                <div>
                  <label class="control checkbox col-xs-5 col-xs-offset-1 col-md-1 col-md-offset-0">
                    <div class="control checkbox">
                      <input type="checkbox" ng-checked="checkValue(product, product.type[0])"
                             ng-click="verwerkCommunicatie(product, product.type[0])"/>
                      <span class="control-indicator"></span>
                    </div>
                  </label>
                  <div class="col-md-1 col-xs-1 mt15">
                    <a
                      target="_blank" class="info-button">
                      <i class="fa fa-question-circle resolve" title="meer info"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </section>
    </div>
  </form>
</div>
