<!-- Panel header -->
<div class="panel-heading panel-fixed clearfix">
  <div class="pull-left">
    <h1 class="panel-title">Nieuw lid</h1>
  </div>

  <!-- ACTIONS -->
  <div class="pull-right">
    <div class="hidden-xs hidden-sm">
      <formerrorbutton formulier="lidForm" watchable="lidPropertiesWatchable"></formerrorbutton>
      <button type="submit" class="btn btn-apply" ng-disabled="lidForm.$invalid" ng-click="opslaan()"
              ng-show="lid"><span class="glyphicon glyphicon-floppy-disk"
                                  aria-hidden="true"></span>&nbsp;Opslaan&nbsp;<i class="fa fa-spinner fa-pulse"
                                                                                  ng-show="saving"></i></button>
    </div>
    <div class="hidden-md hidden-lg">
      <div class="btn-group pull-right" uib-dropdown>
        <formerrorbutton formulier="lidForm" watchable="lidPropertiesWatchable"></formerrorbutton>
        <button id="split-button" type="submit" class="btn btn-apply" ng-disabled="lidForm.$invalid"
                ng-click="opslaan()">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;Opslaan&nbsp;<i
          class="fa fa-spinner fa-pulse" ng-show="saving"></i>
        </button>
        <button ng-disabled="lidForm.$invalid" type="button" class="btn" uib-dropdown-toggle>
          <span class="caret"></span>
          <span class="sr-only">Opslaan</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
          <li role="menuitem"><a href="#" ng-click="opslaan()">Opslaan</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default panel-default--hasmargin">
  <form name="lidForm" ng-submit="submitForm(lidForm)" novalidate>
    <div class="panel-body form-hover clearfix">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <!-- Persoonlijk-->
          <ng-include src="'partials/persoonlijk.html'"></ng-include>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <!-- Adressen -->
          <ng-include src="'partials/adressen.html'"></ng-include>
          <!-- Contacten -->
          <ng-include src="'partials/contacten.html'"></ng-include>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <!-- Functies -->
          <ng-include src="'partials/functies-toevoegen.html'"></ng-include>
        </div>
      </div>
    </div>
  </form>
</div>
