<!-- Panel header -->
<div class="panel-heading clearfix">
  <div class="pull-left">
    <h1 class="panel-title" ng-bind="lid.persoonsgegevens.voornaam + ' ' + lid.persoonsgegevens.achternaam"></h1>
    <p class="panel-subtitle" ng-bind="lid.verbondsgegevens.lidnummer"></p>
  </div>
  <div class="pull-right">
    <a href="#/lid/individuelesteekkaart/{{lid.id}}"><i class="fa fa-medkit" aria-hidden="true"></i> Individuele steekkaart</a>
  </div>
  <!--
  <div class="pull-right btn-group">
      <button class="btn btn-default" title="vorig lid"><span class="glyphicon glyphicon-chevron-left"></span></button>
      <button class="btn btn-default" title="volgend lid"><span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
-->
</div>

<!-- Persoonsinfo -->
<div class="panel-body form-hover clearfix">
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <!-- Persoonlijk-->
      <section>
        <fieldset>
          <legend>Persoonlijk
             <div class="pull-right" ng-hide="lid">
              <i class="fa fa-spinner fa-pulse"> </i>
            </div>
          </legend>
          <div class="form-group {{  'persoonsgegevens.voornaam' | formValidator:validationErrors  }}" ng-show="lid">
            <label for="_voornaam" class="col-xs-5 col-xxs-12 control-label">Voornaam</label>
            <div class="col-xs-7 col-xxs-12">
              <input  type="text" class="form-control"    id="_voornaam" ng-model="lid.persoonsgegevens.voornaam" ng-disabled="!hasPermission('persoonsgegevens')"/>
              <div ng-if="'persoonsgegevens.voornaam' | formValidator:validationErrors">
                <i class="validation-error-details">{{ 'persoonsgegevens.voornaam' | formValidatorError:validationErrors }}</i>
              </div>
            </div>
          </div>
          <div class="form-group {{  'persoonsgegevens.achternaam' | formValidator:validationErrors  }}" ng-show="lid">
            <label for="_naam" class="col-xs-5 col-xxs-12 control-label">Naam</label>
            <div class="col-xs-7 col-xxs-12">
              <input  type="text" class="form-control" id="_naam" ng-model="lid.persoonsgegevens.achternaam" ng-disabled="!hasPermission('persoonsgegevens')"/>
              <div ng-if="'persoonsgegevens.achternaam' | formValidator:validationErrors">
                <i class="validation-error-details">{{ 'persoonsgegevens.achternaam' | formValidatorError:validationErrors }}</i>
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="lid">
            <label for="_geslacht" class="col-xs-5 col-xxs-12 control-label">Geslacht</label>
            <div class="col-xs-7 col-xxs-12">
              <select class="selectpicker" id="_geslacht" ng-model="lid.persoonsgegevens.geslacht" ng-disabled="!hasPermission('persoonsgegevens')">
                <option value="man">Mannelijk</option>
                <option value="vrouw">Vrouwelijk</option>
              </select>
            </div>
          </div>
          <div class="form-group {{  'persoonsgegevens.geboortedatum' | formValidator:validationErrors  }}" ng-show="lid">
            <label for="_geboortedatum" class="col-xs-5 col-xxs-12 control-label">Geboortedatum</label>
            <div class="col-xs-7 col-xxs-12">
              <!-- fix date-parse -->
              <input type="date" class="form-control" id="_geboortedatum" ng-model="lid.persoonsgegevens.geboortedatum" ga-parse-date ng-disabled="!hasPermission('persoonsgegevens')"/>
              <div ng-if="'persoonsgegevens.geboortedatum' | formValidator:validationErrors">
                <i class="validation-error-details">{{ 'persoonsgegevens.geboortedatum' | formValidatorError:validationErrors }}</i>
              </div>
            </div>
          </div>
          <label class="form-group control checkbox" ng-show="lid">
            <div class="col-xs-5 col-xxs-12 control-label">Persoon met beperking</div>
            <div class="col-xs-7 col-xxs-12">
              <input type="checkbox" class="" id="_beperking" ng-model="lid.persoonsgegevens.beperking" ng-disabled="!hasPermission('persoonsgegevens')"/>
              <span class="control-indicator"></span>
            </div>
          </label>
          <label class="form-group control checkbox" ng-show="lid">
            <div class="col-xs-5 col-xxs-12 control-label">Verminderd lidgeld</div>
            <div class="col-xs-7 col-xxs-12">
              <input type="checkbox" class="" id="_verminderdlidgeld" ng-model="lid.persoonsgegevens.verminderdlidgeld" ng-disabled="!hasPermission('persoonsgegevens')"/>
              <span class="control-indicator"></span>
            </div>
          </label>
          <div class="form-group" ng-show="lid">
            <label for="_gebruikersnaam" class="col-xs-5 col-xxs-12 control-label">Gebruikersnaam</label>
            <div class="col-xs-7 col-xxs-12">
              <p>{{ lid.gebruikersnaam }}</p>
              <input type="text" class="form-control" id="_gebruikersnaam" ng-model="lid.gebruikersnaam"/>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'readonly' : !hasPermission('email') }" ng-show="lid">
            <label for="_email" class="col-xs-5 col-xxs-12 control-label">E-mail</label>
            <div class="col-xs-7 col-xxs-12">
              <input type="text" class="form-control" id="_email" ng-model="lid.email" ng-disabled="!hasPermission('email')"/>
            </div>
          </div>
          <div class="form-group {{  'persoonsgegevens.gsm' | formValidator:validationErrors  }}" ng-show="lid">
            <label for="_gsm" class="col-xs-5 col-xxs-12 control-label">GSM</label>
            <div class="col-xs-7 col-xxs-12">
              <input type="text" class="form-control" id="_gsm" ng-model="lid.persoonsgegevens.gsm" ng-disabled="!hasPermission('persoonsgegevens')"/>
              <div ng-if="'persoonsgegevens.gsm' | formValidator:validationErrors">
                <i class="validation-error-details">{{ 'persoonsgegevens.gsm' | formValidatorError:validationErrors }}</i>
              </div>
            </div>
          </div>
          <div class="form-group {{  'persoonsgegevens.rekeningnummer' | formValidator:validationErrors  }}" ng-show="lid">
            <label for="_rekeningnummer" class="col-xs-5 col-xxs-12 control-label">Rekeningnummer</label>
            <div class="col-xs-7 col-xxs-12">
              <input type="text" class="form-control" id="_rekeningnummer" ng-model="lid.persoonsgegevens.rekeningnummer" ng-disabled="!hasPermission('persoonsgegevens')"/>
              <div ng-if="'persoonsgegevens.rekeningnummer' | formValidator:validationErrors">
                <i class="validation-error-details">{{ 'persoonsgegevens.rekeningnummer' | formValidatorError:validationErrors }}</i>
              </div>
            </div>
          </div>
          <label class="form-group control checkbox {{  'verbondsgegevens.lidgeldbetaald' | formValidator:validationErrors  }}" ng-show="lid">
            <div class="col-xs-5 col-xxs-12 control-label">Lidgeld betaald</div>
            <div class="col-xs-7 col-xxs-12">
              <input type="checkbox" class="" id="_lidgeldbetaald" ng-model="lid.verbondsgegevens.lidgeldbetaald" ng-disabled="!hasPermission('persoonsgegevens')"/>
              <span class="control-indicator"></span>
            </div>
          </label>
          <div class="form-group">
            <label for="_postadres" class="col-xs-5 col-xxs-12 control-label">Postadres</label>
            <div class="btn-group selectpicker" uib-dropdown is-open="status.isopen">
              <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="lid.adressen.length <= 1">
               {{ postadresString }}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-repeat="adres in lid.adressen"><a href ng-click="changePostadres(adres.id)" ng-if="adres.straat || adres.bus || adres.postcode || adres.gemeente">{{ adres.straat }} {{ adres.nummer }} {{ adres.bus }}, {{adres.postcode}} {{adres.gemeente}}</a>
                <a href ng-click="changePostadres(adres.id)" ng-if="!adres.straat && !adres.bus && !adres.postcode && !adres.gemeente">Nieuw adres</a></li>
              </ul>
            </div>
          </div>
        </fieldset>
      </section>

    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <!-- Adressen -->
      <section>
        <fieldset>
         <legend>
          Adressen
            <div class="pull-right" ng-hide="lid">
              <i class="fa fa-spinner fa-pulse"> </i>
            </div>
           <div class="pull-right" ng-if="hasPermission('adressen')">
            <button ng-click="addAdres()" class="btn-minimal" title="Adres toevoegen"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </legend>
          <fieldset ng-repeat="adres in lid.adressen" ng-show="lid">
            <legend class="clearfix" ng-init="showme = false; " ng-click="showme = showme ? false : true">
                <div ng-if="adres.straat || adres.bus || adres.postcode || adres.gemeente" class="pull-left">
                  {{ adres.straat }} {{ adres.nummer }} {{ adres.bus }}, {{adres.postcode}} {{adres.gemeente}}
                </div>
                <div ng-if="!adres.straat && !adres.bus && !adres.postcode && !adres.gemeente" class="pull-left" >
                  Nieuw adres
                </div>
                <div class="pull-right"  class="pull-left">
                  <button  class="btn-minimal">
                    <span ng-hide="showme" class="glyphicon glyphicon-chevron-down" title="Adres tonen"></span>
                    <span ng-hide="!showme" class="glyphicon glyphicon-chevron-up" title="Adres verbergen"></span>
                  </button>
                  <button ng-click="deleteAdres(adres.id)" class="btn-minimal" ng-if="hasPermission('adressen')"><span class="glyphicon glyphicon-trash" title="Adres wissen"></span></button>
                </div>
            </legend>
            <fieldset class="ga-functie-list" ng-hide="!showme">
             <div class="form-group">
               <label for="_land" class="col-xs-5 col-xxs-12 control-label ga-functie-lis">Land</label>
                <div class="col-xs-7 col-xxs-12">
                  <select class="selectpicker" id="_land" ng-model="adres.land" ng-disabled="!hasPermission('adressen')">
                    <option value="BE">België</option>
                    <option value="DE">Duitsland</option>
                    <option value="FR">Frankrijk</option>
                    <option value="GB">Groot-Brittannië</option>
                    <option value="LU">Luxemburg</option>
                    <option value="NL">Nederland</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="_woonplaats" class="col-xs-5 col-xxs-12 control-label">Woonplaats</label>
                <div class="col-xs-7 col-xxs-2">
                  <input type="text" class="form-control ga-functie-list" ng-init="gemeenteWrap = adres.postcode + ' ' + adres.gemeente" ng-model="gemeenteWrap" id="_gemeenteWrap" ng-disabled="!hasPermission('adressen')" ng-bind="adres.postcode + ' ' + adres.postcode" uib-typeahead="gemeente for gemeente in zoekGemeente($viewValue)"  typeahead-on-select="bevestigGemeente($item, adres)" typeahead-show-hint="true"/>
                </div>
              </div>
              <div class="form-group">
                <label for="_straatnaam" class="col-xs-5 col-xxs-12 control-label">Straat</label>
                <div class="col-xs-5 col-xxs-12">
                  <input type="text" class="form-control" ng-disabled="!hasPermission('adressen') || !adres.postcode || !adres.gemeente"  placeholder="Straatnaam" id="_straatnaam" ng-model="adres.straat" uib-typeahead="straatnaam as straat.straat for straat in zoekStraat($viewValue, adres) "  typeahead-on-select="bevestigStraat($item, adres)" typeahead-show-hint="true"/>
                </div>
                <div class="col-xs-1 col-xxs-12">
                  <input type="text" class="form-control" id="_huisnummer" maxlength="5" ng-model="adres.nummer"  placeholder="Nr." ng-disabled="!hasPermission('adressen') || !adres.postcode || !adres.gemeente"/>
                </div>
                <div class="col-xs-1 col-xxs-12">
                  <input type="text" class="form-control" id="_bus" maxlength="4" ng-model="adres.bus" placeholder="Bus" ng-disabled="!hasPermission('adressen') || !adres.postcode || !adres.gemeente"/>
                </div>
              </div>
              <div class="form-group">
              <label for="_telefoon" class="col-xs-5 col-xxs-12 control-label">Telefoon</label>
              <div class="col-xs-7 col-xxs-12">
                <input type="text" class="form-control" id="_telefoon" maxlength="15" ng-model="adres.telefoon" ng-disabled="!hasPermission('adressen')"/>
              </div>
            </div>
            </fieldset>
          </fieldset>
        </fieldset>
      </section>


      <!-- Contacten -->
      <section>
        <fieldset>
          <legend>Contacten
            <div class="pull-right" ng-hide="lid">
              <i class="fa fa-spinner fa-pulse" > </i>
            </div>
            <div class="pull-right" ng-if="hasPermission('contacten')">
              <button ng-click="contactToevoegen()" class="btn-minimal" title="Contact toevoegen" ng-show="lid.contacten.length < 2"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </legend>
          <fieldset ng-repeat="contact in lid.contacten" ng-show="lid">
            <legend class="clearfix" ng-init="showme = false; " ng-click="showme = showme ? false : true">
              <div ng-if="contact.rol || contact.naam || contact.voornaam" class="pull-left">
                {{ contact.voornaam }} {{ contact.achternaam }}
              </div>
              <div ng-if="!contact.rol && !contact.naam && !contact.voornaam" class="pull-left" >
                Nieuw contact
              </div>
              <div class="pull-right"  class="pull-left">
                <button  class="btn-minimal">
                  <span ng-hide="showme" class="glyphicon glyphicon-chevron-down" title="Contact tonen"></span>
                  <span ng-hide="!showme" class="glyphicon glyphicon-chevron-up" title="Contact verbergen"></span>
                </button>
                <button ng-click="deleteContact(contact.id)" ng-show="hasPermission('contacten')" class="btn-minimal"><span class="glyphicon glyphicon-trash" title="Adres wissen"></span></button>
              </div>
            </legend>
            <fieldset class="ga-functie-list" ng-hide="!showme">
            <div class="form-group" >
              <label for="_rol" class="col-xs-5 col-xxs-12 control-label">Rol</label>
              <div class="col-xs-7 col-xxs-12">
                <select class="selectpicker" id="_rol" ng-model="contact.rol" ng-disabled="!hasPermission('contacten')">>
                  <option value="vader">Vader</option>
                  <option value="moeder">Moeder</option>
                  <option value="voogd">Voogd</option>
                </select>
              </div>
            </div>
            <div class="form-group" >
              <label for="_voornaam" class="col-xs-5 col-xxs-12 control-label">Voornaam</label>
              <div class="col-xs-7 col-xxs-12">
                <input type="text" class="form-control" id="_voornaam" ng-model="contact.voornaam" ng-disabled="!hasPermission('contacten')"/>
              </div>
            </div>
            <div class="form-group" >
              <label for="_naam" class="col-xs-5 col-xxs-12 control-label">Naam</label>
              <div class="col-xs-7 col-xxs-12">
                <input type="text" class="form-control" id="_naam" ng-model="contact.achternaam" ng-disabled="!hasPermission('contacten')"/>
              </div>
            </div>
            <div class="form-group" >
              <label for="_email" class="col-xs-5 col-xxs-12 control-label">E-mail</label>
              <div class="col-xs-7 col-xxs-12">
                <input type="text" class="form-control" id="_email" ng-model="contact.email" ng-disabled="!hasPermission('contacten')"/>
              </div>
            </div>
            <div class="form-group" >
              <label for="_gsm" class="col-xs-5 col-xxs-12 control-label">GSM</label>
              <div class="col-xs-7 col-xxs-12">
                <input type="text" class="form-control" id="_gsm" ng-model="contact.gsm" ng-disabled="!hasPermission('contacten')"/>
              </div>
            </div>
            <div class="form-group" >
               <label for="_adres" class="col-xs-5 col-xxs-12 control-label">Adres</label>
               <div class="col-xs-7 col-xxs-12">
                 <select  id="_adres" ng-model="contact.adres" ng-disabled="!hasPermission('contacten')">
                   <option ng-repeat="adres in lid.adressen" value="{{adres.id}}" ng-selected="contact.adres == adres.id">{{adres.straat}} {{adres.nummer}} {{adres.bus}}, {{adres.postcode}} {{adres.gemeente}}</option>
                 </select>
               </div>
            </div>
            </fieldset>
          </fieldset>
        </fieldset>
      </section>

      <!-- Groepseigen gegevens -->
      <section>
        <fieldset ng-if="lid.groepseigenVelden">
          <legend >Groepseigen gegevens</legend>
          <fieldset ng-repeat="(key, groepseigenVeldenVerzameling) in lid.groepseigenVelden" ng-if="groepseigenVeldenVerzameling.schema.length > 0">
            <legend ng-click="showgroepseigenvelden = showgroepseigenvelden ? false : true">{{ key }} {{ groepenlijst[key].naam }}
              <div class="pull-right" ng-init="showgroepseigenvelden=true;" >
                <button class="btn-minimal">
                  <span ng-hide="showgroepseigenvelden" class="glyphicon glyphicon-chevron-up"></span>
                  <span ng-hide="!showgroepseigenvelden" class="glyphicon glyphicon-chevron-down"></span>
                </button>
              </div>
            </legend>
            <fieldset class="ga-functie-list" ng-if="groepseigenVeldenVerzameling.schema.length > 0">
              <dynamischveldcolectie waarden="groepseigenVeldenVerzameling.waarden" velden="groepseigenVeldenVerzameling.schema" ng-show="!showgroepseigenvelden"></dynamischveldcolectie>
            </fieldset>
          </fieldset>
        </fieldset>
      </section>


    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <!-- Functies -->
      <section>
        <fieldset>
          <legend>Functies <div class="pull-right" ng-hide="lid.functies">
              <i class="fa fa-spinner fa-pulse"> </i>
            </div></legend>
          <ga-functie ng-show="lid.functies" class="form-group" ng-repeat="fn in lid.functies | collapsedFilter:isFunctiesCollapsed | filter:{temp:'!tijdelijk'}" functie="fn" functieslijst="functieslijst" groepenlijst="groepenlijst" stop-functie="stopFunctie" patch-secties="patchObj.secties">
          </ga-functie>
          <div class="text-center" ng-show="lid.functies">
            <a class="btn btn-link" href ng-click="isFunctiesCollapsed = !isFunctiesCollapsed">{{isFunctiesCollapsed ? "Functiehistoriek weergeven" : "Functiehistoriek verbergen"}}</a>
          </div>
        </fieldset>
      </section>
      <section>
        <fieldset ng-show="showFunctieToevoegen">
          <legend>Functies toevoegen <div class="pull-right" ng-hide="groepEnfuncties">
              <i class="fa fa-spinner fa-pulse"> </i>
            </div></legend>
          <fieldset ng-show="groepEnfuncties" ng-repeat="groepFuncties in groepEnfuncties" ng-show="hasPermission('functies.' + groepFuncties.groepsnummer)">
            <legend>{{ groepFuncties.groepsnummer }} {{ groepFuncties.naam }}
            </legend>
            <fieldset class="ga-functie-list">
              <section class="clearfix">
                <legend ng-init="showverbondfuncties=true;" ng-click="showverbondfuncties = showverbondfuncties ? false : true">
                  Verbondsfuncties
                  <div class="pull-right">
                    <button  class="btn-minimal">
                      <span ng-hide="showverbondfuncties" class="glyphicon glyphicon-chevron-down" title="Verbondsfuncties tonen"></span>
                      <span ng-hide="!showverbondfuncties" class="glyphicon glyphicon-chevron-up" title="Verbondsfuncties verbergen"></span>
                    </button>
                  </div>
                </legend>
                <div class="col-md-6 ga-functie-list-item" ng-repeat="groepFunctie in groepFuncties.functies | filter: { type:'verbond' } | orderBy : 'beschrijving'" ng-show=" !showverbondfuncties && !checkFunctie(groepFuncties.groepsnummer, groepFunctie.id)">
                  <label class="col-md-6 form-group control checkbox" >
                    <div class="col-xs-11 col-xxs-11 control-label">{{ groepFunctie.beschrijving }}</div>
                    <div class="col-xs-1 col-xxs-1">
                      <input type="checkbox" class="" ng-init="status='add';" ng-click="status = functieToevoegen(groepFuncties.groepsnummer,groepFunctie.id, status)" ng-disabled="!hasPermission('functieInstanties.' + groepFuncties.groepsnummer)"/>
                      <span class="control-indicator"></span>
                    </div>
                  </label>
                </div>
              </section>

              <section class="clearfix">
                <legend ng-init="showgroepfuncties=true;" ng-click="showgroepfuncties = showgroepfuncties ? false : true">
                  Groepseigen functies
                  <div class="pull-right" ng-init="showgroepfuncties=true;">
                    <button  class="btn-minimal">
                      <span ng-hide="showgroepfuncties" class="glyphicon glyphicon-chevron-down" title="Groepseigen functies tonen"></span>
                      <span ng-hide="!showgroepfuncties" class="glyphicon glyphicon-chevron-up" title="Groepseigen functies verbergen"></span>
                    </button>
                  </div>
                </legend>
                <div class="col-md-6 ga-functie-list-item" ng-repeat="groepFunctie in groepFuncties.functies | filter: { type:'groep' } | orderBy : 'beschrijving'" ng-show="!showgroepfuncties && !checkFunctie(groepFuncties.groepsnummer, groepFunctie.id)">
                  <label class="col-md-6 form-group control checkbox ga-functie-list">
                    <div class="col-xs-11 col-xxs-11 control-label">{{ groepFunctie.beschrijving }}</div>
                    <div class="col-xs-1 col-xxs-1">
                      <input type="checkbox" class="" ng-init="status='add';" ng-click="status = functieToevoegen(groepFuncties.groepsnummer,groepFunctie.id, status)" ng-disabled="!hasPermission('functieInstanties.' + groepFuncties.groepsnummer)"/>
                      <span class="control-indicator"></span>
                    </div>
                  </label>
                </div>
              </section>
            </fieldset>
          </fieldset>
        </fieldset>
      </section>
    </div>
  </div>
</div>

<!-- Panel footer -->
<footer class="panel-footer clearfix">
  <ul class="pagination pull-left responsive-footer">
    <li>
      <a href="" ng-click="opslaan()" ng-show="lid">Opslaan
        <div class="pull-right" ng-show="saving">
          <i class="fa fa-spinner fa-pulse"> </i>
        </div>
      </a>
    </li>
    <li><a href="" ng-click="schrap()" ng-show="kanSchrappen()">Stop alle functies</a></li>
    <li><a href="" ng-click="nieuw()" ng-show="canPost">Nieuw</a></li>
    <li><a href="" ng-click="gezinslid()" ng-show="lid && canPost">Broer/zus toevoegen</a></li>
    <li class="dropdown dropup pull-right" title="Meer">
      <a class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
      <ul class="dropdown-menu pull-right">
        <li>
          <a href="" ng-click="opslaan()" ng-show="lid">Opslaan
            <div class="pull-right" ng-show="saving">
              <i class="fa fa-spinner fa-pulse"> </i>
            </div>
          </a>
        </li>
        <li><a href="" ng-click="schrap()" ng-show="kanSchrappen()">Stop alle functies</a></li>
        <li><a href="" ng-click="nieuw()" ng-show="canPost">Nieuw</a></li>
        <li><a href="" ng-click="gezinslid()" ng-show="lid && canPost">Broer/zus toevoegen</a></li>
      </ul>
    </li>
  </ul>
</footer>
