<!-- Panel header -->
<div class="panel-heading clearfix">
  <div class="pull-left">
    <h1 class="panel-title">{{lid.persoonsgegevens.voornaam + ' ' + lid.persoonsgegevens.achternaam}}</h1>
    <p class="panel-subtitle">{{lid.verbondsgegevens.lidnummer }}</p>
  </div>
  <!--
  <div class="pull-right btn-group">
      <button class="btn btn-default" title="vorig lid"><span class="glyphicon glyphicon-chevron-left"></span></button>
      <button class="btn btn-default" title="volgend lid"><span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
-->
</div>

<!-- Persoonsinfo -->
<div class="panel-body form-hover clearfix">
  <section class="col-lg-4 col-sm-6 col-xs-12">
    <fieldset>
      <legend>Persoonlijk</legend>
      <div class="form-group">
        <label for="_voornaam" class="col-xs-5 col-xxs-12 control-label">Voornaam</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_voornaam" ng-model="lid.persoonsgegevens.voornaam" />
        </div>
      </div>
      <div class="form-group">
        <label for="_naam" class="col-xs-5 col-xxs-12 control-label">Naam</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_naam" ng-model="lid.persoonsgegevens.achternaam" />
        </div>
      </div>
      <div class="form-group">
        <label for="_geslacht" class="col-xs-5 col-xxs-12 control-label">Geslacht</label>
        <div class="col-xs-7 col-xxs-12">
          <select class="selectpicker" id="_geslacht" ng-model="lid.persoonsgegevens.geslacht">
            <option value="man">Mannelijk</option>
            <option value="vrouw">Vrouwelijk</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="_geboortedatum" class="col-xs-5 col-xxs-12 control-label">Geboortedatum</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="date" class="form-control" id="_geboortedatum" max="{{datum | date:'yyyy-MM-dd'}}" ng-model="lid.persoonsgegevens.geboortedatum" />
        </div>
      </div>
      <label class="form-group control checkbox">
        <div class="col-xs-5 col-xxs-12 control-label">Persoon met beperking</div>
        <div class="col-xs-7 col-xxs-12">
          <input type="checkbox" class="" id="_beperking" ng-model="lid.persoonsgegevens.beperking" />
          <span class="control-indicator"></span>
        </div>
      </label>
      <label class="form-group control checkbox">
        <div class="col-xs-5 col-xxs-12 control-label">Verminderd lidgeld</div>
        <div class="col-xs-7 col-xxs-12">
          <input type="checkbox" class="" id="_verminderdlidgeld" ng-model="lid.persoonsgegevens.verminderdlidgeld" />
          <span class="control-indicator"></span>
        </div>
      </label>
      <div class="form-group">
        <label for="_gebruikersnaam" class="col-xs-5 col-xxs-12 control-label">Gebruikersnaam</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_gebruikersnaam" ng-model="lid.gebruikersnaam" />
        </div>
      </div>
      <div class="form-group {{lid.email?'readonly':''}}">
        <label for="_email" class="col-xs-5 col-xxs-12 control-label">E-mail</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_email" ng-model="lid.email" ng-readonly="lid.email" />
        </div>
      </div>
      <div class="form-group">
        <label for="_gsm" class="col-xs-5 col-xxs-12 control-label">GSM</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_gsm" ng-model="lid.persoonsgegevens.GSM" />
        </div>
      </div>
      <div class="form-group">
        <label for="_rekeningnummer" class="col-xs-5 col-xxs-12 control-label">Rekeningnummer</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_rekeningnummer" ng-model="lid.persoonsgegevens.rekeningnummer" />
        </div>
      </div>
      <label class="form-group control checkbox">
        <div class="col-xs-5 col-xxs-12 control-label">Lidgeld betaald</div>
        <div class="col-xs-7 col-xxs-12">
          <input type="checkbox" class="" id="_lidgeldbetaald" ng-model="lid.verbondsgegevens.lidgeldbetaald" />
          <span class="control-indicator"></span>
        </label>
      </div>
    </fieldset>
  </section>
  <section class="col-lg-4 col-sm-6 col-xs-12">
    <fieldset ng-repeat="adres in lid.adressen | filter:{'postadres': true}">
      <legend>Postadres</legend>
      <div class="form-group">
        <label for="_land" class="col-xs-5 col-xxs-12 control-label">Land</label>
        <div class="col-xs-7 col-xxs-12">
          <select class="selectpicker" id="_land" ng-model="adres.land">
            <option selected>België</option>
            <option>Nederland</option>
            <option>Frankrijk</option>
            <option>Duitsland</option>
            <option>Luxemburg</option>
            <option>UK</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="_postcode" class="col-xs-5 col-xxs-12 control-label">Postcode</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_postcode" maxlength="4" ng-model="adres.postcode" />
        </div>
      </div>
      <div class="form-group">
        <label for="_woonplaats" class="col-xs-5 col-xxs-12 control-label">Woonplaats</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_woonplaats" ng-model="adres.gemeente" />
        </div>
      </div>
      <div class="form-group">
        <label for="_straatnaam" class="col-xs-5 col-xxs-12 control-label">Straat</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_straatnaam" ng-model="adres.straat" />
        </div>
      </div>
      <div class="form-group">
        <label for="_straatnummer" class="col-xs-5 col-xxs-12 control-label">Nr</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_straatnummer" maxlength="5" ng-model="adres.nummer" />
        </div>
      </div>
      <div class="form-group">
        <label for="_bus" class="col-xs-5 col-xxs-12 control-label">Bus</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_bus" maxlength="4" ng-model="adres.bus" />
        </div>
      </div>
      <div class="form-group">
        <label for="_telefoon" class="col-xs-5 col-xxs-12 control-label">Telefoon</label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_telefoon" maxlength="15" ng-model="adres.telefoon" />
        </div>
      </div>
      <div class="form-group readonly">
        <label for="_adresstatus" class="col-xs-5 col-xxs-12 control-label">Status <span class="glyphicon glyphicon-question-sign" title="Geblokkeerd: dit adres is geblokeerd - Overleden: deze persoon is overleden - Extra: deze persoon ontvangt een eigen Over&Weer"></span></label>
        <div class="col-xs-7 col-xxs-12">
          <input type="text" class="form-control" id="_adresstatus" readonly ng-model="adres.status" />
        </div>
      </div>
    </fieldset>
  </section>
  <section class="col-lg-4 col-sm-6 col-xs-12">
    <fieldset>
      <legend>Functies</legend>
      <div class="form-group">
        <div class="col-xs-4 help-block"><p>24 aug '11</p><p><a href="" class="btn-link-danger">Stop functie</a></p></div>
        <div class="col-xs-8"><p><strong>Verantw groepsadmin</strong></p><p>Jan Bart (W2409G)</p></div>
      </div>
      <div class="form-group">
        <div class="col-xs-4 help-block"><p>24 aug '11</p><p><a href="" class="btn-link-danger">Stop functie</a></p></div>
        <div class="col-xs-8"><p><strong>Gidsen-verkennerleiding</strong></p><p>Jan Bart (W2409G)</p></div>
      </div>
      <div class="form-group">
        <div class="col-xs-4 help-block"><p>24 aug '11</p><p><a href="" class="btn-link-danger">Stop functie</a></p></div>
        <div class="col-xs-8"><p><strong>Adres briefwisseling</strong></p><p>Jan Bart (W2409G)</p></div>
      </div>
    </fieldset>
  </section>
  <section class="col-lg-4 col-sm-6 col-xs-12">
    <fieldset>
      <legend>Groepsadministratie</legend>
    </fieldset>
  </section>
</div>

<!-- Panel footer -->
<footer class="panel-footer clearfix">
  <ul class="pagination pull-left responsive-footer">
    <li><a href="" ng-click="opslaan()">Opslaan</a></li>
    <li><a href="" ng-click="schrap()">Schrap</a></li>
    <li><a href="" ng-click="nieuw()">Nieuw</a></li>
    <li><a href="" ng-click="gezinslid()">Broer/zus toevoegen</a></li>
    <li class="dropdown dropup pull-right" title="Meer">
      <a class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
      <ul class="dropdown-menu pull-right">
        <li><a href="" ng-click="opslaan()">Opslaan</a></li>
        <li><a href="" ng-click="schrap()">Schrap</a></li>
        <li><a href="" ng-click="nieuw()">Nieuw</a></li>
        <li><a href="" ng-click="gezinslid()">Broer/zus toevoegen</a></li>
      </ul>
    </li>
  </ul>
</footer>