<form name="lidwordenForm" ng-submit="submitForm(lidwordenForm)" novalidate>
  <div ng-if="groep && !aanvraagverstuurd">
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <h2>Lid worden van {{groep.naam}}</h2>
          <p>Word jij ons nieuwste lid? Vul dan onderstaand formulier in om een aanvraag te verzenden naar
            {{groep.naam}} ({{groep.id}}).</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="_voornaam" class="col-sm-2 control-label">Voornaam</label>
            <div class="col-sm-8"
                 ng-class="{ 'has-error': lidwordenForm.voornaam.$touched && lidwordenForm.voornaam.$invalid }">
              <input type="text" name="voornaam" class="form-control" id="_voornaam" placeholder="Voornaam..."
                     ng-model="lid.voornaam"
                     required>
              <div ng-messages="lidwordenForm.voornaam.$error" ng-show="lidwordenForm.voornaam.$touched">
                <div ng-messages-include="partials/messages.html"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="_achternaam" class="col-sm-2 control-label">Achternaam</label>
            <div class="col-sm-8"
                 ng-class="{ 'has-error': lidwordenForm.achternaam.$touched && lidwordenForm.achternaam.$invalid }">
              <input type="text" class="form-control" id="_achternaam" placeholder="Achternaam..."
                     ng-model="lid.achternaam"
                     name="achternaam" required>
              <div ng-messages="lidwordenForm.achternaam.$error" ng-show="lidwordenForm.achternaam.$touched">
                <div ng-messages-include="partials/messages.html"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="_geboortedatum" class="col-sm-2 control-label">Geboortedatum</label>
            <div class="col-sm-3"
                 ng-class="{ 'has-error': lidwordenForm.geboortedatum.$touched && lidwordenForm.geboortedatum.$invalid }">
              <!-- fix date-parse -->
              <div class="input-group">
                <input type="text" name="geboortedatum" id="_geboortedatum" class="form-control"
                       placeholder="dd/mm/jjjj"
                       ng-model="lid.geboortedatum" is-open="popupCal.opened"
                       datepicker-options="dateOptions"
                       close-text="Close"
                       uib-datepicker-popup="{{format}}" ga-parse-date required/>
                <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-datepicker form-control" ng-click="popupCal()">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
              </div>
              <div ng-messages="lidwordenForm.geboortedatum.$error" ng-show="lidwordenForm.geboortedatum.$touched">
                <div ng-messages-include="partials/messages.html"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="_geslacht" class="col-sm-2 control-label">Geslacht</label>
            <div class="col-sm-10">
              <select class="selectpicker" id="_geslacht" ng-model="lid.persoonsgegevens.geslacht">
                <option value="man">Mannelijk</option>
                <option value="vrouw">Vrouwelijk</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="_email" class="col-sm-2 control-label">E-mail</label>
            <div class="col-sm-8"
                 ng-class="{ 'has-error': lidwordenForm.email.$touched && lidwordenForm.email.$invalid }">
              <input type="email" name="email" class="form-control" id="_email" ng-model="lid.email"
                     placeholder="Email..." required/>
              <div ng-messages="lidwordenForm.email.$error" ng-show="lidwordenForm.email.$touched">
                <div ng-messages-include="partials/messages.html"></div>
              </div>
            </div>

          </div>
          <div class="form-group">
            <label for="_gsm" class="col-sm-2 control-label">GSM</label>
            <div class="col-sm-4" ng-class="{ 'has-error': lidwordenForm.gsm.$touched && lidwordenForm.gsm.$invalid }">
              <input type="tel" class="form-control" id="_gsm" ng-model="lid.persoonsgegevens.gsm" name="gsm"
                     placeholder="GSM nummer ..." ng-keyup="checkField(lidwordenForm.gsm);"/>
              <div ng-messages="lidwordenForm.gsm.$error" ng-show="lidwordenForm.gsm.$touched">
                <div ng-messages-include="partials/messages.html"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="_telefoon" class="col-sm-2 control-label">Telefoon</label>
            <div class="col-sm-4"
                 ng-class="{ 'has-error': lidwordenForm.telefoon.$touched && lidwordenForm.telefoon.$invalid }">
              <input type="tel" class="form-control" id="_telefoon" ng-model="lid.adres.telefoon"
                     placeholder="Vast telefoon nummer..." name="telefoon"
                     ng-keyup="checkField(lidwordenForm.telefoon);"/>
              <div ng-messages="lidwordenForm.telefoon.$error" ng-show="lidwordenForm.telefoon.$touched">
                <div ng-messages-include="partials/messages.html"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="_rekeningnummer" class="col-sm-2 control-label">Rekeningnummer</label>
            <div class="col-sm-4"
                 ng-class="{ 'has-error': lidwordenForm.rekeningnummer.$touched && lidwordenForm.rekeningnummer.$invalid }">
              <!--  value="BE52 0013 0402 0409" -->
              <input type="text" class="form-control" id="_rekeningnummer"
                     ng-model="lid.persoonsgegevens.rekeningnummer"
                     placeholder="BANK 0000 0000 0000" name="rekeningnummer"
                     ng-keyup="checkField(lidwordenForm.rekeningnummer);"/>
              <div ng-messages="lidwordenForm.rekeningnummer.$error" ng-show="lidwordenForm.rekeningnummer.$touched">
                <div ng-messages-include="partials/messages.html"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="_land" class="col-sm-2 control-label">Land</label>
            <div class="col-sm-10">
              <select class="selectpicker" id="_land" ng-model="lid.adres.land">
                <option value="BE">België</option>
                <option value="DE">Duitsland</option>
                <option value="FR">Frankrijk</option>
                <option value="GB">Groot-Brittannië</option>
                <option value="LU">Luxemburg</option>
                <option value="NL">Nederland</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="_gemeenteWrap" class="col-sm-2 control-label">Woonplaats</label>
            <div class="col-sm-6"
                 ng-class="{ 'has-error': lidwordenForm.gemeente.$touched && lidwordenForm.gemeente.$invalid }">
              <input type="text" class="form-control ga-functie-list" id="_gemeenteWrap" ng-model="gemeenteWrap"
                     placeholder="Vul postcode in en selecteer uw gemeente..." name="gemeente"
                     autocomplete="ga-gemeente"
                     uib-typeahead="gemeente for gemeente in zoekGemeente($viewValue)"
                     typeahead-on-select="bevestigGemeente($item, lid.adres)" typeahead-show-hint="true" required/>
              <div ng-messages="lidwordenForm.gemeente.$error" ng-show="lidwordenForm.gemeente.$touched">
                <div ng-messages-include="partials/messages.html"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="_straatnaam" class="col-sm-2 control-label">Adres</label>
            <div class="col-sm-6"
                 ng-class="{ 'has-error': lidwordenForm.straatnaam.$touched && lidwordenForm.straatnaam.$invalid}">
              <input type="text" class="form-control" id="_straatnaam" ng-model="lid.adres.straat"
                     placeholder="Straat..." name="straatnaam" autocomplete="ga-straat"
                     ng-disabled="!lid.adres.postcode || !lid.adres.gemeente"
                     uib-typeahead="straatnaam as straat.straat for straat in zoekStraat($viewValue, lid.adres)"
                     typeahead-on-select="bevestigStraat($item, lid.adres)" typeahead-show-hint="true" required/>
              <div ng-messages="lidwordenForm.straatnaam.$error" ng-show="lidwordenForm.straatnaam.$touched">
                <div ng-messages-include="partials/messages.html"></div>
              </div>
            </div>
            <div class="col-sm-2"
                 ng-class="{ 'has-error': lidwordenForm.huisnummer.$touched && lidwordenForm.huisnummer.$invalid}">
              <input type="text" class="form-control" ng-model="lid.adres.nummer" placeholder="Huisnummer..."
                     name="huisnummer" required/>
              <div ng-messages="lidwordenForm.huisnummer.$error" ng-show="lidwordenForm.huisnummer.$touched">
                <div ng-messages-include="partials/messages.html"></div>
              </div>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" ng-model="lid.adres.bus" placeholder="Busnummer..."/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="lid.verminderdlidgeld"> Ik wil gebruik maken van de mogelijkheid voor
                  verminderd lidgeld.
                </label>
              </div>
              <span id="helpBlock" class="help-block">
            We willen ieder kind de kans geven om lid te worden van scouting.
            Geld mag daarbij geen rol spelen. Voor wie het financieel wat moeilijker is, bestaat het verminderd lidgeld.
            Je betaalt dan 10 euro lidgeld (en mogelijk een extra bijdrage voor de groep zelf).
            Je kan het vakje hierboven aanvinken of hierover iemand van de leiding aanspreken.
            We verzekeren jullie dat dit alles in het volste vertrouwen zal gebeuren.
          </span>
            </div>
          </div>
          <div class="form-group">
            <label for="_opmerkingen" class="col-sm-2 control-label">Opmerkingen</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="_opmerkingen" rows="4" ng-model="lid.opmerkingen"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" ng-disabled="lidwordenForm.$invalid || formsubmitting" class="btn btn-primary">Lid
                  worden
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!groep">
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <p ng-if="!groepGeladen">Formulier wordt geladen</p>
          <p ng-if="groepGeladen">Groep {{groepNr}} bestaat niet.</p>
        </div>
      </div>
    </div>
  </div>
</form>


