<p class="help-block" ng-message="required">Dit veld is verplicht</p>
<p class="help-block" ng-message="min">Opgegeven waarde moet hoger zijn</p>
<p class="help-block" ng-message="minlength">Opgegeven waarde is te kort</p>
<p class="help-block" ng-message="maxlength">Opgegeven waarde is te lang</p>
<p class="help-block" ng-message="email">Opgegeven e-mailadres is ongeldig</p>
<p class="help-block" ng-message="gebruikersnaam">Gebruiker must not be Johan</p>
<p class="help-block" ng-message="rekeningnummer">Onjuist IBAN rekeningnummer</p>
<p class="help-block" ng-message="telefoonnummer">Ongeldig telefoonnummer vb 030001122</p>
<p class="help-block" ng-message="gsmnummer">Ongeldig GSM nummer vb 0400112233</p>
<p class="help-block" ng-message="date">Ongeldige datum</p>
