<!-- Panel header -->
<div class="panel-heading clearfix">
  <div class="pull-left">
    <span style="margin-right: 5px;"><b>Orakel van:</b></span>
    <select ng-options="groep.groepsnummer for groep in groepenlijst track by groep.id" ng-change="ChangeGroep()" ng-model="activegroup"></select>
  </div>
</div>

<!-- Persoonsinfo -->
<div class="panel-body form-hover clearfix">
  <div class="btn-group-vertical col-md-3" role="group" >
    <button type="button" class="btn btn-default" ng-class="tekenLedenaantallen()">Ledenaantallen</button>
    <button type="button" class="btn btn-default" ng-class="tekenEigenschappen()">Eigenschappen</button>
    <button type="button" class="btn btn-default" ng-click="tekenGroepsevolutie()">Groepsevolutie</button>
    <button type="button" class="btn btn-default" ng-click="tekenLedenaantalPerLeeftijd()">Ledenaantal per leeftijd</button>
    <button type="button" class="btn btn-default" ng-click="tekenHuidigeLeidingsErvaring()">Huidige leidingservaring</button>
    <button type="button" class="btn btn-default" ng-click="tekenInEnUitstroom()">Instroom en uitstroom per leeftijd</button>
  </div>
  <div class="col-md-9">
    <h2>Groepsevolutie</h2>
    <canvas id="grafiek" style="width: 400px; height: 400px; display: block;" ></canvas>
  </div>
</div>

