//
// Every component in the filter panel
// --------------------------------------------------

.panel-filter {
  position: relative;
  background-color: #e6e6e6;
  padding: @fluid-grid-gutter-width/2 @fluid-grid-gutter-width/2 @fluid-grid-gutter-width/2;

  > div {
    float: left;
    height: 55px; //fixes a box-model bug in FF
    padding: @fluid-grid-gutter-width/2;
    margin: 0 ;
    margin-bottom: 10px;
  }

  > .loading-filter-container{
    color:@brand-primary;
    height: initial;
  }

}

// Customized button design in filter bar
// -------------------------
.btn-filter{
  .filter-button(@brand-primary);
}
.btn-apply{
  .filter-button(@brand-warning);
}

// New Filter button
// -------------------------
.btn-filter .glyphicon-plus,
.btn-apply .glyphicon-ok {
  padding: 9px 5px 14px 6px;
}

// hide the descriptive label
.btn-group:not(:first-child) .hidden-label {
    display: none;
}

// Columns button
// -------------------------
.btn-filter-columns {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 71px;
  font-size: 16px;
  line-height: 59px;
  border-width: 0 0 0 1px;
  border-radius: 0;
}

// Filter option (criteria)
// -------------------------

.btn-group.filter-option.dropdown{
  // use on overlay for appear-animation
  > button {
    .fade-bg;
  }
  > button > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

}

.filter-option {
  width: 100%;


 .btn {
    width: 100%;
    text-align: left;

    &:hover .filter-option-close {
      display: inline;
      color:darken(@brand-primary,10%);
      &:hover{
        color:white;
      }
    }
  }
}

.filter-option-title {
  display: block;
  font-weight: 600;
}

.filter-option-subtitle {
  display: block;
  font-size: @font-size-small;
  overflow: hidden;
}

.filter-option-close {
  position: absolute;
  top: 6px;
  right: 15px;
  color:darken(@brand-primary,10%);
}
@media (min-width: @screen-sm-min) {
  .filter-option-close {
    display:none;
  }
}

// Open-state for the dropdown
// -------------------------
.open {
  &.filter-option {
    margin-bottom: 18px;  // fixes the jumping div's when opened
  }

  &.filter-option .btn {
    color: @gray-darker;
    text-shadow: none;
    background-color: @sgv-lichtgroen;
    border: none;

    &:hover {
      #gradient .vertical(rgba(0,0,0,0.12), rgba(0,0,0,0));

      .filter-option-close {
        //display: none;
      }
    }
  }
}
.btn-group.filter-option.dropdown.open button{
  background-color:@sgv-lichtgroen;
}

.filter-option .dropdown-menu {
  width: 100%;
  margin: 0;
  background-color: #fafafa;
  padding:0;
  border:none;
}

.kolomlijst {
  min-width: 200px;
  max-height: 250px;
  overflow-y: auto;
}

.list-heading {
  margin: 3px 0 5px 0;
  padding: 3px 0 4px 0;
  font-weight: 700;
  text-transform: uppercase;
  color: @gray-semi-dark;
  border-bottom: 2px solid @gray-lighter;

  &:not(:first-child) {
    padding-top: 9px;
  }
}

//Filter button mixin
.filter-button(@colour: @brand-primary){
  color: #fff;
  //text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  background-color: darken(@colour, 5%);
  //border: 1px solid darken(@colour, 10%);

  &:hover {
    background-color: darken(@colour, 8%);
    //border-color: darken(@colour, 13%);
  }
  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }
}
