.ga-functie-list{
  padding-left: 20px;

  .ga-functie-list-item label{
    padding: 0;
    border-bottom: none;
  }
  .ga-functie-list-item{
    &__label{
      &--disabled{
        color:@gray-light;
      }
    }
  }
}
