/* Hou de footer tegen de onderkant */
.main-content {
    min-height: calc(~"100vh - 115px - 450px");
    padding-top:10px;
    // this section has a sticky panel-heading
    &--profiel{
      position:relative;
      padding-top:100px;
    }
}

footer.region {
    background-color: #572600;
}

footer.region .footer-bottom .contact {
    padding: 15px;
}

footer.region .footer-bottom {
    margin-bottom: 1.5em;
    overflow: hidden;
    padding: 0 15px;
}

footer.region .footer-bottom ul li {
    float: left;
    padding-right: 15px;
}

footer.region .footer-bottom {
    margin-bottom: 1.5em;
    overflow: hidden;
    padding: 0 15px;
    background-color: #572600;
    text-align: center;
}

footer.region .container {
    width: 100%;
    padding: 0;
}

footer.region .footer-top {
    background-color: #BDD732;
    padding: 15px;
}

footer.region .footer-bottom {
    margin-bottom: 1.5em;
    overflow: hidden;
    padding: 0 15px;
    background-color: #572600;
    text-align: center;
}

footer.region .footer-top .logo {
    width: 54px;
    margin: 0 auto;
}

footer.region .footer-bottom ul li:nth-child(2) {
    float: right;
    padding-right: 0;
}

footer.region .footer-bottom ul li:nth-child(2) .logo-vlaanderen {
    width: 140px;
}

footer.region .footer-bottom ul li .logo-hopper {
    width: 100px;
}

footer.region .footer-bottom ul {
    margin: 0 auto;
    list-style: none;
}

footer.region {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    overflow: hidden;
    color: #FFF;
}

footer.region .footer-bottom .contact .arrow-link {
    font-size: 1.9rem;
    margin: 15px 0;
}

@media screen and (min-width: 940px) {

    footer.region {
        background: url(https://www.scoutsengidsenvlaanderen.be/sites/all/themes/theme2014/assets/img/footer_ribbon.png) no-repeat calc(~'50% + 88px') top transparent;
        height: 350px;
        padding: 30px 0px;
        text-align: left;
    }

    footer.region .container {
        width: 940px;
        padding: 0 47px;
    }

    footer.region .footer-top {
        background-color: transparent;
        float: left;
        padding: 15px 15px 0 0;
    }

    footer.region .footer-top .logo {
        width: 87px;
    }

    footer.region .footer-bottom .contact {
        float: left;
        line-height: 1.4;
        width: 44%;
    }

    footer.region .footer-bottom .externe-links {
        float: right;
        width: 53%;
    }

    footer.region .footer-bottom ul {
        max-width: none;
        margin: 40px 0;
    }

    footer.region .footer-bottom ul li {
        width: 50%;
    }

    footer.region .footer-bottom ul li:nth-child(2) {
        float: left;
        width: 40%;
    }

    footer.region .footer-bottom .logo-hopper, footer.region .footer-bottom .logo-vlaanderen {
        width: 145px;
    }

    footer.region .footer-bottom {
        text-align: left;
    }
}

@media screen and (min-width: 1210px) {
    footer.region .container {
        width: 1210px;
        padding: 0 60px;
    }

    footer.region .footer-bottom .contact {
        width: 40%;
        float: left;
        line-height: 1.4;
        padding: 15px;
    }

    footer.region .footer-bottom .externe-links {
        width: 60%;
        float: right;
    }

    footer.region .footer-top {
        background-color: transparent;
        float: left;
        padding: 15px 55px 0 7px;;
    }

    footer.region .footer-top .logo {
        width: 105px;
        margin-top: 5px;
    }

    footer.region {
        background: url(https://www.scoutsengidsenvlaanderen.be/sites/all/themes/theme2014/assets/img/footer_ribbon.png) no-repeat center top transparent;
        height: 450px;
        padding: 30px 0px;
        text-align: left;
    }

    footer.region .footer-bottom ul li:nth-child(1) .logo-hopper, footer.region .footer-bottom ul li:nth-child(2) .logo-vlaanderen {
        width: 175px;
        float: right;
    }

    footer.region .footer-bottom {
        margin-bottom: 1.5em;
        overflow: hidden;
        padding: 0 15px;
    }

    footer.region .footer-bottom ul {
        max-width: none;
        margin: 40px 0;
    }

    footer.region .footer-bottom ul li:nth-child(1), footer.region .footer-bottom ul li:nth-child(2) {
        width: 50%;
    }

    footer.region .footer-bottom ul li:nth-child(2) {
        float: left;
        padding-right: 0;
    }

    footer.region .footer-bottom ul li {
        float: left;
        padding-right: 15px;
    }

    footer.region .footer-bottom {
        text-align: left;
    }
}

@media screen and (min-width: 1320px) {

    footer.region .container {
        width: 1320px;
        padding: 0 120px;
    }

    footer.region .footer-bottom {
        text-align: left;
    }
}
