#lokalen-kaart {
  width: 100%;
  height: 400px;
  display: inline-block;
  border: 1px solid #e0e0e0;
}

.lokalen {
  padding: 0;
  .lokaal-adres {
    list-style-type: none;
    .adres-letter {
      font-weight: 700;
      margin-right: 10px;
      margin-bottom: 17px;
      font-size: 19px;
      float: left;
      line-height: 19px;
    }
    .adres-label {

    }
  }
}
