.data-placeholder{
  padding-top: @ledenlijst-padding;
  padding-bottom: @ledenlijst-padding;
  height:@font-size-base;
  background-color: rgba(131, 127, 127, 0.26);
  width: 100%;
  border-radius: 10px;
  .blur();
}
