//
// Tables
// --------------------------------------------------

.table tfoot {
  border-top: 2px solid #ddd;
  tr>td:first-child {
    font-weight: 700;
  }
}

//
// Collapsable Tables
// --------------------------------------------------

.t-caret {
  display: none;
}

#leden tr {
  cursor: pointer;
}

#leden tr td{
  padding-top: 0;
  padding-bottom: 0;
}

.sort{
  color: #ccc;
  font-size: 10px;
  &:first-child{
    margin-left: 15px;
    margin-right: 10px;
  }
  &:hover{
    color: black;
  }
}
.first-sort, .second-sort, .third-sort, {
  color: #5c7b44;
  &:hover{
    color: #5c7b44;
  }
}

.first-sort{
  font-size: 18px;
}
.second-sort{
  font-size: 14px;
}
.third-sort{
  font-size: 10px;
}



@media screen and (max-width: 640px) {
  #leden {
    border: 0;

    tbody, tr, td {
      display: block;
      border: 0;
    }
    thead {
      display: none;
    }
    tr {
      position: relative;
      border-bottom: 1px solid @table-border-color;
      .clearfix;

      &:hover td {
        background: none;
      }
    }

    .t-caret {
      display: inline;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      border-left: 1px solid @table-border-color;
      cursor: pointer;

      .caret {
        border-width: 7px;
        border-bottom: 0;
        border-top-color: @gray-light;
      }
    }


    // Breakpoint with 3 rows visible
    @rows: 3;
    td:nth-child(-n+@{rows}) {
      float: left;
      width: 33.33%;
    }
    td:nth-child(-n+@{rows}):before {
      display: none;
    }
    /*td:nth-child(3):after {
      content: '';
      display: inline-block;
      float: right;
      margin: 8px;
      color: #666666;
      border-top: 6px solid;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }*/

    td:nth-child(n+4) {
      clear: both;
      font-size: 12/14em;

      // Add the value of data-label attribute before the column data
      &:before {
        float: left;
        width: 35%;
        padding-right: 20px;
        font-weight: bold;
      }
    }
    td:nth-child(4) {
      border-top: 1px solid @table-border-color;
    }

    // TOGGLE STATE: collapsed
    td:nth-child(n+4):not(.t-caret) {
      display: none;
    }
    // TOGGLE STATE: open
    .t-open {
      td:nth-child(n+4):not(.t-caret) {
        display: block;
      }
      .t-caret {
        border-left: 0;
        border-right: 1px solid @table-border-color;
        .rotate(180deg);
      }
    }
  }
}

.placeholder-kolom-kop{
  height: 1.5em;
  line-height: 1.2em;
  background: #A9C593;
}
@media screen and (max-width: 400px) {
  #leden {
    td:nth-child(-n+3) {
      width: auto;
      padding-right: 0;
    }
    td:first-child {
      width: 100%;
      padding-bottom: 0 !important;
      font-size: 11/14em;
      color: @gray-light;
    }

    .t-caret {
      padding: 21px 10px;
    }
  }
}
