body {
  padding-top: 50px;
}

// Scouts en Gidsen Vlaanderen logo
.navbar-brand {
  position: relative;
  margin: 0 15px -4px 0;
  padding: 0px;
}
.navbar{
  z-index: 2;
}

// Display fix for icons and caret in Navbar
@media (min-width: @screen-tablet) {
  .navbar-nav .hidden-xs {
    display: inline-block !important;
  }
}
@media (min-width: @screen-desktop) {
  .navbar-nav .visible-md {
    display: inline-block !important;
  }
}

// Panel-heading btn-group margin fix
.panel-heading .btn-group {
  margin-bottom: 0;
}

// Fully responisve, no fixed-width containers
.container-fluid {
  margin-right: @fluid-grid-gutter-width; //@gridGutterWidth;
  margin-left: @fluid-grid-gutter-width; //@gridGutterWidth;
}

// Table alignment fix
.table thead > tr > th:first-child,
.table tbody > tr > td:first-child {
  padding-left: @grid-gutter-width * 1.3;
}

// rotate spinner
.fa-spinner {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
