<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groepsadministratie Scouts en Gidsen Vlaanderen</title>

    <!-- favicon's -->
    <!-- Default favicon's -->
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">

    <!-- Apple favicon's -->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-icon-180x180.png">

    <!-- Android favicon's -->
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicons/android-icon-192x192.png">
    <link rel="manifest" href="img/favicons/manifest.json">

    <!-- MS favicon's & tile info-->
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml" />
    <meta name="application-name" content="Groepsadministratie"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-square70x70logo" content="img/favicons/tiny.png"/>
    <meta name="msapplication-square150x150logo" content="img/favicons/square.png"/>
    <meta name="msapplication-wide310x150logo" content="img/favicons/wide.png"/>
    <meta name="msapplication-square310x310logo" content="img/favicons/large.png"/>

    <!-- Styles -->
    <link rel="stylesheet" href="css/groepsadministratie.css">
  </head>

  <body>
    <!-- Include the rendered template -->
    <div class="main-content">
      <div class="container-fluid" ng-view></div>
    </div>

    <div class="alerts">
      <div ng-repeat="alert in alerts" class="alert closeable" ng-class="['alert-' + (type || 'warning'), closeable ? 'alert-dismissable' : null]" ng-controller="AlertController">
        <button type="button" class="close" ng-click="alert.close()">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only" ng-bind="'Close'"></span>
        </button>
        <div ng-bind="alert.msg"></div>
        <ul>
          <li ng-repeat="suggestie in alert.suggesties">
            <a ng-href="#/lid/{{suggestie.id}}?suggestie=1" ng-click="alert.close()">
              <span style='font-weight: bold;' ng-bind="suggestie.voornaam + ' ' + suggestie.achternaam"></span>
              <span ng-bind="'- ' + suggestie.geboortedatum.substr(8, 2) + '/' + suggestie.geboortedatum.substr(5, 2) + '/' + suggestie.geboortedatum.substr(0, 4)"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <script type="text/ng-template" id="dialog.html">
      <div class="dialog-overlay">
        <div class="row dialog-overlay-content">
          <div class="dialog">
            <div class="panel panel-default container-fluid" role="dialog">
              <div class="panel-heading clearfix">
                <h3 class="panel-title">{{title}}</h3>
                <button ng-show="closeable" type="button" class=" close btn" ng-click="close()">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
              </div>
              <div class="panel-body">
                <p ng-transclude></p>
                <div class="pull-right action-btn-group">
                  <button ng-show="confirmable" type="button" class="btn btn-success" ng-click="confirm()">
                    <span class="glyphicon glyphicon-ok"></span><span> Ja</span>
                  </button>
                  <button ng-show="dismissable" type="button" class="btn btn-danger" ng-click="close()">
                    <span class="glyphicon glyphicon-remove"></span><span> Nee</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <!-- Scripts -->
    <script src="app/assets/js/bower_components.min.js"></script><!-- Generated by grunt-bower-concat -->
    <script src="js/mobsearch.js"></script>
    <script src="js/responsive-navbar.js"></script>
    <script src="app/assets/js/jquery.sparkline.2.1.2.min.js"></script>


    <!-- Angular -->

    <!-- injector:js -->
    <script src="app/assets/js/groepsadministratie-public.min.js"></script>
    <!-- endinjector -->

    <script src="app/assets/js/ui-bootstrap-custom-tpls-1.3.2.min.js"></script>
    <script src="app/assets/js/bootstrap/transition.min.js"></script>
    <script src="app/assets/js/bootstrap/dropdown.min.js"></script>
    <script src="app/assets/js/bootstrap/alert.min.js"></script>
    <script src="app/assets/js/bootstrap/bootstrap-select.min.js"></script>

    <!-- Piwik -->
    <script>
      var _paq = _paq || [];
      // _paq.push(['trackPageView']); // Niet nodig door angulartics
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://piwik.scoutsengidsenvlaanderen.be/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 6]);
        var g = document.createElement('script');
        var s = document.getElementsByTagName('script')[0];
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
      })();
    </script>

  </body>
</html>
