<!DOCTYPE html>
<html lang="nl" ng-app="ga">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groepsadministratie Scouts en Gidsen Vlaanderen</title>

    <!-- Styles -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      /* Dynamically generated CSS for small phones */
      @media all and (max-width: 640px) {
          #leden td:nth-child(4):before {  content: 'Straat';  }
          #leden td:nth-child(5):before {  content: 'Nr';  }
          #leden td:nth-child(6):before {  content: 'Postcode';  }
          #leden td:nth-child(7):before {  content: 'Gemeente';  }
        }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand visible-md-block visible-lg-block" href="#"><img src="img/logo.png" alt="Groepsadministratie Scouts en Gidsen Vlaanderen logo" width="50" height="64" /></a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">
            <span class="glyphicon glyphicon-user"></span>&nbsp; <span class="hidden-xs">Leden</span>
          </a></li>
          <li><a href="#groepsinstellingen">
            <span class="glyphicon glyphicon-cog"></span>&nbsp; <span class="hidden-xs">Groepsinstellingen</span>
          </a></li>
          <li><a href="#orakel">
            <span class="glyphicon glyphicon-stats"></span>&nbsp; <span class="hidden-xs">Orakel</span>
          </a></li>
        </ul>
        
        <div class="navbar-form navbar-left" ng-controller="SearchController" role="search">
          <div typeahead class="dropdown" query="zoekLid(input)" term="input" items="results" action="gotoLid(item)" >
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Zoeken" ng-model="input">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
            <ul id="autocomplete" class="autocomplete dropdown-menu" ng-cloak>
              <li ng-repeat="lid in results" typeahead-item="lid">
                <a href>{{lid.voornaam + ' ' + lid.achternaam}}<span class="pull-right">{{lid.geboortedatum}}</span></a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <span class="visible-md-inline visible-lg-inline">woutersynhaeve</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="">Mijn profiel</a></li>
              <li><a href="">Help</a></li>
              <li class="divider"></li>
              <li><a href="">Afmelden</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Include the rendered template -->
    <div class="panel panel-default container-fluid" ng-view></div>
    
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{alert.msg}}</alert>
    
    <!-- Embedded templates -->
    <script type="text/ng-template" id="alert.html">
      <div class="alert" ng-class="['alert-' + (type || 'warning'), closeable ? 'alert-dismissable' : null]" role="alert">
        <button ng-show="closeable" type="button" class="close" ng-click="close()">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <div ng-transclude></div>
      </div>
    </script>

    <!-- Scripts -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/responsive-navbar.js"></script>
    
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/angular-resource.min.js"></script>
    
    <script src="app/app.js"></script>
    <script src="app/app.route.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/controllers/ledenlijst-controller.js"></script>
    <script src="app/controllers/lid-controller.js"></script>
    <script src="app/controllers/search-controller.js"></script>
    <script src="app/services/rest-service.js"></script>
    <script src="app/services/http-interceptor-service.js"></script>
    <script src="app/services/alert-service.js"></script>
    <script src="app/directives/lid-functie.js"></script>
    <script src="app/directives/ui-alert.js"></script>
    <script src="app/directives/ui-bootstrap-custom-tpls-0.12.0.min.js"></script> <!-- Included: collapse -->
    <script src="app/directives/ui-typeahead.js"></script>
    <script src="app/directives/ui-selectpicker.js"></script>
    <script src="app/directives/utils.js"></script>
    
    <script src="js/bootstrap/transition.js"></script>
    <script src="js/bootstrap/dropdown.js"></script>
    <script src="js/bootstrap/alert.js"></script>
    <script src="js/bootstrap/bootstrap-select.min.js"></script>

    <script type="text/javascript">
      // Prevent filter-option-dropdowns from closing
      $('#filterCollapse .dropdown-menu').on('click', function(e) {
        e.stopPropagation();
      });
    </script>
    
  </body>
</html>
