FORMAT: 1A
HOST: https://groepsadmin.scoutsengidsenvlaanderen.be/groepsadmin/rest-ga

# Groepsadmin API

# Group Algemeen

## Authorization request headers

Bij elke(*) request moet een *Authorization*-header worden meegegeven:

`Authorization: Bearer {access token}`

`{access token}` is een OAuth-2.0 access token. Een applicatie kan dit token verkrijgen door een gebuiker door te sturen naar een speciale login-pagina op [keycloak](https://login.scoutsengidsenvlaanderen.be). De URL van zo'n login-pagina lijkt op  `https://login.scoutsengidsenvlaanderen.be/auth/realms/scouts/protocol/openid-connect/auth?client_id=groepsadmin-production-client&redirect_uri=https%3A%2F%2Fgroepsadmin.scoutsengidsenvlaanderen.be%2Fgroepsadmin%2Fclient%2F&state=a1b...b02&nonce=abb...39b&response_mode=fragment&response_type=code&scope=openid`. Het is niet eenvoudig deze URL juist op te bouwen, daarom gebruik je best een bililiotheek, zoals [keycloak-js-bower](https://github.com/keycloak/keycloak-js-bower), om de URL op te bouwen.

(*) Enkele endpoints zijn publiek. Hierbij is geen *Authorization*-header noodzakelijk. Het resultaat kan wel afhangen van de *Authorization*-header.

Om de authenticatie te testen kan je `logintest.html` gebruiken.

## Etag response headers

De implementatie zal [ETag's](http://en.wikipedia.org/wiki/HTTP_ETag) voorzien. Een gebruiker kan hiermee kijken of een resource gewijzigd is.
* Voor een `GET` request betekent dit dat als de resource niet gewijzigd is de gebruiker een `304` terug zal krijgen. Browsers doen dit transparant voor de gebruikers.

## Redirects

Er worden geen redirects gebruikt, omdat dit problemen geeft met CORS-requests.

## Datums

Alle datum-velden ondersteunen enkel het ISO8601 formaat.

## Errors

**Status codes**

Zoals het hoort gebruiken we de volgende HTTP status codes:

| Code | *Reason phrase*        |
|------|------------------------|
| 200 | Request OK              |
| 201 | Resource created        |
| 304 | Not modified            |
| 400 | Bad request             |
| 401 | Unauthorized request    |
| 404 | Resource was not found  |
| 50x | Inernal server error    |

**Formaat**
```javascript
{
  "id": "unieke_id_voor_deze_foutmelding",
  "titel": "{titel van het fout bericht}",
  "beschrijving": "{Gebruiksvriendelijke beschrijving van de fout}",
  "details": [ //Optioneel
    {
      "titel": "{titel van het fout bericht}",
      "beschrijving": "{Gebruiksvriendelijke beschrijving van de fout}",
      "veld": "sectie.veldnaam", //optioneel referentie naar het veld dat met de fout te maken heeft
    }, ...
  ],
  "links": [
    {
      "rel": "help",
      "href": "http://wiki.svg.be/..",
      "method": "GET",
    },
    {
      "rel": "force",
      "method": "POST",
      "href": "https://ga.svg.be/rest/lid/gaid/forceer?geboortedatum=2009-01-21"
    }
  ],
  "aangepast": "2015-06-04T08:34:41.823Z"
}
```

## Dynamische velden

Op verschilende plaatsen van de groepsadministratie gebruiken we formulieren
waarvan de velden door een andere gebruiker gedefinieerd zijn.  Dit is
bijvoorbeeld het geval met de persoonseigen gegevens of de groepseigen velden.

Dit houdt in dat de server niet alleen de waardes moet doorsturen, maar ook
de eigenschappen en hoe ze gestructureerd en weergegeven moeten worden.

We kiezen ervoor om de waarden en de structuur los te koppelen.
Dit omdat ze een ander gedrag hebben.  De waarden zijn door andere momenten en
door andere partijen te wijzigen dan de structuur.

Hieronder een voorbeeld bij een GET op een lid. Bij een GET op een groep wordt enkel het schema getoond.
```json
"schema": {
    "velden": [
        {
            "links": [],
            "id": "d5f75b320dc7de39010dca243a830129",
            "aangepast": "2016-03-10T12:36:45.132+01:00",
            "type": "tekst",
            "label": "Opmerkingen",
            "beschrijving": "",
            "kanGebruikerWijzigen": true,
            "kanLeidingWijzigen": false,
            "verplicht": false,
            "kanLidWijzigen": false,
            "sort": 0,
            "deletedTimestamp": "2016-03-10T12:36:45.132+01:00"
        },
        {
            "links": [],
            "id": "d5f75e2340fc9dac014102187b4e2a68",
            "aangepast": "2016-03-10T12:36:45.132+01:00",
            "type": "vinkje",
            "label": "helpen op evenementen",
            "beschrijving": "",
            "kanGebruikerWijzigen": false,
            "kanLeidingWijzigen": false,
            "verplicht": false,
            "kanLidWijzigen": false,
            "sort": 0,
            "deletedTimestamp": "2016-03-10T12:36:45.132+01:00"
        },
        {
            "links": [],
            "id": "40288144535b694a01535b6adb2c0003",
            "aangepast": "2016-03-10T12:36:45.132+01:00",
            "type": "lijst",
            "label": "Dit is een lijst",
            "kanGebruikerWijzigen": false,
            "kanLeidingWijzigen": false,
            "verplicht": false,
            "kanLidWijzigen": false,
            "sort": 0,
            "keuzes": [
                "Lijstwaarde1",
                "Lijstwaarde2"
            ],
            "deletedTimestamp": "2016-03-10T12:36:45.132+01:00"
        }
    ],
    "aanpasbaarDoorGebruiker": "false"
},
"waarden": {
    "d5f75b320dc7de39010dca243a830129": "",
    "d5f75e2340fc9dac014102187b4e2a68": "true",
    "40288144535b694a01535b6adb2c0003": "Lijswaarde1"
}
```

***Hoe zit het ineen?***

Op het eerste niveau wordt er altijd de scheiding gemaakt tussen de waarden en het schema.

**De waarden**

De waarden is een zeer simpel die voor elk input-veld zijn id bevat en de corresponderende waarde.
Dit is ook de structuur die terug naar de server geduwd wordt wanneer het veld wordt ingevuld.

**Het schema**

Het schema bepaald de structuur en het type van de velden.
Er zijn twee soorten velden: input-velden en structuur-velden.
Het schema is ook de structuur die gebruikt wordt door de formulieren die de dynamische velden definieren.

**Input-velden**

Een input veld is gebonden aan een mogelijke input die in de waarden structuur terug te vinden is.

We definieren de volgende types input-velden:

  * `tekst`: Een tekstveld
  * `vinkje`: Een vinkje (waarde `true` of `false`)
  * `lijst`: Een keuzeveld, de mogelijke opties vind je terug in bij `keuzes`.
  * `email`: Een e-mailveld

De volgende attributen zijn gedefinieerd op input-velden:

  * `id`: _verplicht_
  * `label`: korte tekst die het veld definieert _verplicht_
  * `beschrijving`: langere tekst altijd weergegeven in de buurt van het veld
     kan een subset van html bevatten _optioneel_
  * `meer-info`: Nog meer info over dit veld.  Kan html bevatten en getoond worden als een link die uit kan klappen of een hover tooltip. _optioneel_
  _optioneel default false_
  * `kanLeidingWijzigen`: Bepaald of de leiding dit veld kan wijzigen.
  * `kanLidWijzigen`: Beapaald of het lid zelf het veld kan wijzigen.
  * `kanGebruikerWijzigen"`: true, //kan de gebruik die op dit moment aangeld is dit gegeven aanpassen
  * `keuzes`: De array van mogelijke opties bij een lijst _verplicht voor lijst, anders niet toegelaten_

**Structuur-velden**

De structuur velden zorgen dat de input-velden gestructureerd kunnen worden.

  * `groep` groepeert een aantal velden.  Het kan de volgende attributen
    bevatten:
    * `label`: De titel/korte tekst voor de groep _optioneel_
    * `beschrijving`: Een langere tekst over de velden in de groep.  kan ook
    html bevatten zoals bij input-velden _optioneel_
    * `velden`: Een array met de velden van de groep.  Deze kunnen op zich
    terug van het type groep zijn! _verplicht_

## API testen

Om de API te testen kan je `apitest.html` gebruiken.

## Meer lezen

* [PayPal REST API](https://developer.paypal.com/webapps/developer/docs/api/) veel gespiekt hier
* [HATEOAS](http://timelessrepo.com/haters-gonna-hateoas)
* [HAL](http://blog.stateless.co/post/13296666138/json-linking-with-hal) (formele spec van een hateos manier)
* [json schema](http://json-schema.org/examples.html) (Beschrijving voor ongekende velden)
* [Jersey, jax-rs en etag caching](https://devcenter.heroku.com/articles/jax-rs-http-caching)

# Group Overzicht

## Overzicht [/]

### Overzicht opvragen [GET]

:::note
Dit enpoint is publiek. Er is hier geen *Authentication*-header nodig.
:::

De endpoints in de response worden bepaald door de algemene rechten van de gebruiker. "ledenlijst" wordt enkel teruggegeven voor gebruikers met leesrecht op anderen.

+ Response 200 (application/json)

    + Body

            [
              {
                "rel": "profiel",
                "href": "/groepsadmin/rest-ga/lid/profiel",
                "method": "GET",
                "secties": [ ]
              },
              {
                "rel": "groepen",
                "href": "/groepsadmin/rest-ga/groep",
                "method": "GET",
                "secties": [ ]
              },
              {
                "rel": "functies",
                "href": "/groepsadmin/rest-ga/functie",
                "method": "GET",
                "secties": [ ]
              },
              {
                "rel": "ledenlijst",
                "href": "/groepsadmin/rest-ga/ledenlijst",
                "method": "GET",
                "secties": [ ]
              }
            ]

# Group Leden

#### Secties
Al deze endpoints (behalve `GET` op `/lid`) gebruiken dezelfde strucuur voor requests (waar van toepassing) en responses. Deze requests en responses bestaan uit een aantal *secties*:

Sectie              | Omschrijving
--------------------|-------------
`id`                | Het ID van het lid
`aangepast`         | Een timestamp van de laatste aanpassing
`persoonsgegevens`  | Algemene persoonsgegevens
`vgagegevens`       | Gegevens die enkel door de VGA beheerd worden
`verbondsgegevens`  | Gegevens die beheerd worden door het verbond
`email`             | Het emailadres van het lid
`gebruikersnaam`    | De gebruikersnaam van het lid
`adressen`          | De adressen van het lid
`contacten`         | De contacten van het lid
`groepseigenVelden` | De groepseigenvelden en gegevens van het lid in de groep met dit groepsnummer (opgedeeld per groep)
`functies`          | De functies van het lid (zowel groepseigenfuncties als verbondsfuncties)
`links`             | Verwijzingen naar gerelateerde resources

## Leden [/lid]

### Overzicht opvragen [GET]

::: warning
Dit is nog niet geïmplementeerd.
:::

+ Response 200 (application/json)

    + Body

            {
              links: [
                {
                  "href": "/groepsadmin/rest-ga/lid",
                  "method": "POST",
                  "rel": "create"
                },
                {
                  "href": "/groepsadmin/rest-ga/lid/profiel",
                  "method": "GET",
                  "rel": "profiel"
                }
              ]
            }

### Lid aanmaken [POST]

+ Request (application/json)

    ::: note
    De inhoud van deze request komt overeen met de response bij `GET` op `/lid/{id}`.

    **Verplichte secties:** `persoonsgegevens`, `adressen`, `email` en `functies` - Hierbij moet `functies` exact één functie bevatten.

    **Optionele secties:** `groepseigenVelden`, `contacten` en `vgagegevens`

    **Genegeerde secties:** `id`, `aangepast`, `links` en `gebruikersnaam`
    :::

    + Body

            // De inhoud van deze request is hetzelfde als bij de response voor `GET` op
            // `/lid/{id}` voor het aangemaakte lid.

+ Response 200 (application/json)

    + Body

            // De inhoud van deze response is hetzelfde als bij `GET` op `/lid/{id}`
            // voor het aangemaakte lid.

## Lid [/lid/{id}]

+ Parameters
    + id (string) - ID van het lid - Het id `profiel` kan gebruikt worden om te verwijzen naar het lid dat overeenkomt met de ingelogde gebruiker: `/lid/profiel`

### Lid opvragen [GET]

Als een lid in een ledenlijst of in een zoekresultaat van een gebruiker staat, dan mag je aannemen dat de gebruiker ook leesrechten heeft op dat lid. Elke ingelogde gebruik heeft ook leesrechten op zijn eigen profiel.

+ Response 200 (application/json)

    ::: note
    ##### Link secties
    Deze secties bepalen welke onderdelen van het lid aangepast kunnen worden door de huidige gebruiker.

    ##### Lid-id's
    Bij samengevoegde leden zullen beide lid-id's blijven werken, maar naar dezelfde resource leiden.
    :::

    + Body

            {
              "id": "d5f75b320b812440010b8127f95f4db4",
              "aangepast": "2014-04-30T13:16:34+00:00",
              "persoonsgegevens" : {
                "geslacht": "m",
                "GSM": "0123/456.789",
                "beperking": false,
                "verminderdlidgeld": false,
                "rekeningnummer": "BE68 5390 0754 7034"
              },
              "vgagegevens" : {
                "voornaam": "Baden",
                "achternaam": "Powell",
                "geboortedatum": "1857-02-22"
              },
              "verbondsgegevens": {
                "lidnummer": "1857012301234",
                "klantnummer": "I127872",
                "lidgeldbetaald": true,
                "lidkaartafgedrukt": true
              },
              "gebruikersnaam": "lukasvo",
              "adressen": [
                {
                  "id": "d5f75e23385c5e6e0139493b84fe0352",
                  "land": "BE",
                  "postcode": "9000",
                  "gemeente": "Gent",
                  "straat": "Zondernaamstraat",
                  "giscode": "0160",
                  "nummer": "1",
                  "bus": "",
                  "telefoon": "012345678",
                  "postadres": true,
                  "omschrijving" : "adres papa",
                  "status": "NORMAAL",
                  "positie": {
                    "lat" : 51.166969,
                    "lng" : 4.462271
                  }
                }
              ],
              "contacten": [
                {
                  "id": "d5f75e23385c5e6e0139493b84fe0abc",
                  "voornaam": "Henrietta",
                  "achternaam": "Smyth",
                  "rol": "Moeder",
                  "adresId": "d5f75e23385c5e6e0139493b84fe0352",
                  "gsm" : "0499 12 34 56",
                  "email": null
                }
              ],
              "email": "b.powell@example.com",
              "functies": [
                  {
                    "groep": "A3143G",
                    "functie": "d5f75e23385c5e6e0139493b8546035e",
                    "begin": "2014-01-01",
                    "einde": "2014-03-02"
                    "links": [
                      {
                        "href": "/groepsadmin/rest-ga/groep/A3143G",
                        "rel": "groep",
                        "method": "GET"
                      }, {
                        "href": "/groepsadmin/rest-ga/functie/d5f75e23385c5e6e0139493b8546035e",
                        "rel": "functie",
                        "method": "GET"
                      }
                    ]
                  }
              ],
              "groepseigenVelden": {
                "A1301G": {
                  "schema": [],
                  "waarden": {}
                },
                "O1504G": {
                  "schema": [
                    {
                      "links": [],
                      "id": "d5f75b320dc7de39010dca243a830129",
                      "aangepast": "2016-03-10T12:36:45.132+01:00",
                      "type": "tekst",
                      "label": "Opmerkingen",
                      "beschrijving": "",
                      "kanLeidingWijzigen": false,
                      "verplicht": false,
                      "kanLidWijzigen": false,
                      "sort": 0,
                      "deletedTimestamp": "2016-03-10T12:36:45.132+01:00"
                    },
                    {
                      "links": [],
                      "id": "d5f75e2340fc9dac014102187b4e2a68",
                      "aangepast": "2016-03-10T12:36:45.132+01:00",
                      "type": "vinkje",
                      "label": "helpen op evenementen",
                      "beschrijving": "",
                      "kanLeidingWijzigen": false,
                      "verplicht": false,
                      "kanLidWijzigen": false,
                      "sort": 0,
                      "deletedTimestamp": "2016-03-10T12:36:45.132+01:00"
                    },
                    {
                      "links": [],
                      "id": "40288144535b694a01535b6adb2c0003",
                      "aangepast": "2016-03-10T12:36:45.132+01:00",
                      "type": "lijst",
                      "label": "Dit is een lijst",
                      "kanLeidingWijzigen": false,
                      "verplicht": false,
                      "kanLidWijzigen": false,
                      "sort": 0,
                      "keuzes": [
                      "Lijstwaarde1",
                      "Lijstwaarde2"
                      ],
                      "deletedTimestamp": "2016-03-10T12:36:45.132+01:00"
                    }
                  ],
                  "waarden": {
                    "d5f75b320dc7de39010dca243a830129": "",
                    "d5f75e2340fc9dac014102187b4e2a68": "true",
                    "40288144535b694a01535b6adb2c0003": "Lijswaarde1"
                  }
                }
              },
              "links": [
                {
                  "rel": "self",
                  "href": "/groepsadmin/rest-ga/lid/d5f75b320b812440010b8127f95f4db4",
                  "method": "GET"
                },
                {
                  "rel": "update",
                  "href": "/groepsadmin/rest-ga/lid/d5f75b320b812440010b8127f95f4db4",
                  "method": "PATCH",
                  "secties": ["persoonsgegevens", "gebruikersnaam", "vgagegevens", "adressen", "email", "functies.A3143G", "groepseigenVelden.A1301G"]
                }
              ]
            }

### Lid bewerken [PATCH]

* In de secties (van de link met `"rel": "update"`) in het `GET` request van een lid wordt opgelijst welke secties aangepast mogen worden door de ingelogde gebruiker.
* Weggelaten secties worden als niet aangepast beschouwd.
* Het opladen van een sectie die niet kan bewerkt worden door de ingelogde gebruiker resulteert in een foutmelding van de server.

**Optionele secties:** `gebruikersnaam`, `persoonsgegevens`, `adressen`, `contacten`, `email`, `functies`, `groepseigen`, `vgagegevens` en `groepseigenVelden.*`

**Genegeerde secties:** `id`, `aangepast` en `links`

Voor de sectie `adressen`:
* Adressen worden gecorreleerd aan de hand van de id.
* Een id niet opladen is een adres verwijderen.
* Een adres zonder id toevoegen is een nieuw adres.
* Belgische adressen moeten een bestaan in de CRAB-databank van de Vlaamse overheid.
* De status kan niet ingesteld worden.

Voor de sectie `email`:
* Is soms wijzigbaar en soms niet, goed kijken naar de secties in de links topic.

Voor de sectie `functies`:
* Een functie-instantie heeft geen `id` veld.  Het wordt uniek gekenmerkt door de combinatie van de velden `functie`, `groep` en `begin`.
* Een functie-instantie toevoegen kan door een functie-instatie toe te voegen met `begin` != `null`. `begin` zal door de server worden ingevuld op de huidige timestamp maar je geeft best een datetime mee.
* Een functie-instantie stopzetten kan door een bestaande niet beeindigde functie-instantie opladen met `einde` != `null`. Je mag dus datum invullen, maar de server zal hier geen rekening mee houden.
* Om te bevestigen dat de functie-instantie stopgezet wordt moeten we een parameter `bevestig` met daarin een boolean toevoegen aan de request URL.
* Er word dus enkel naar de combinatie van `functie`, `groep` en `begin` gekeken.  Alle andere velden worden genegeerd. Je bent dus niet verplicht om telkens alle functies terug te sturen naar de server als je er een enkele wil aanpassen.

Voor de sectie `groepseigenVelden`:
* Groepseigen velden worden gecorreleerd aan de hand van een id.
* Er wordt enkel gekeken naar het `id` veld en het `waarde` veld.  Alle andere velden worden genegeerd.
* Een veld dat niet schrijfbaaris en toch opgeladen wordt, wordt genegeerd.
* Als een gegeven niet opgeladen wordt wordt het als onveranderd beschouwd.
* Meer info over de eigenschappen van groepseigen velden kan gevonden worden in de documentatie van de [dynamische velden](#header-dynamische-velden).

+ Request (application/json)

    + Body

            // De inhoud van deze request is hetzelfde als bij de response voor `GET`
            // op `/lid/{id}`.

+ Response 200 (application/json)

    + Body

            // De inhoud van deze response is hetzelfde als bij `GET` op `/lid/{id}`.

+ Response 400 (application/json)

    Als de ingelogde gebruiker niet bevestigd heeft (bij het aanpassen van functies).

    + Body

            {
                "boodschap": "De functie Open Kamp Leiding schrappen voor Tinus Van Langendonck",
                "vraag": "Ben je zeker?",
                "link": "https://ga.be/groepsadmin/rest-ga/lid/profiel?bevestig=true"
            }

## E-mail [/lid/{id}/mail]

Als voor een gebruiker in het resultaat van het opvragen van een lid een verwijzing staat naar het e-mailen, mag je aannemen dat die gebruiker dat lid mag e-mailen.

+ Parameters
    + id (string) - ID van het lid - Het id `profiel` kan gebruikt worden om te verwijzen naar het lid dat overeenkomt met de ingelogde gebruiker: `/lid/profiel/mail`

### E-mail sturen [POST]

+ Request

    + Headers

            Content-Type: multipart/form-data, boundary=AaB03x

    + Body

            --AaB03x
            Content-Disposition: form-data; name="sjabloon"
            Content-Type: application/json

            {
                "bcc": "bp@gmail.com",
                "vanGroep": "X1234Y",
                "replyTo": "bp@sgv.be",
                "inhoud": "Hello world!",
                "onderwerp": "Test",
                "van": "BP",
                "bestemming": {
                    "lid": true,
                    "contacten": true,
                    "groepseigenGegevens": []
                }
            }

            --AaB03x--


+ Response 200 (application/json)

    + Body

            {
              "gelukt": [
                "bp+sent@sgv.be"
              ],
              "mislukt": { }
            }


+ Response 202 (application/json)

    + Body

            {
              "boodschap": "Je staat op het punt te e-mailen naar Tinus Van Langendonck.",
              "vraag": "Ben je zeker?"
            }

## Individuele steekkaart [/lid/{id}/steekkaart]

+ Parameters
    + id (string) - ID van het lid - Het id `profiel` kan gebruikt worden om te verwijzen naar het lid dat overeenkomt met de ingelogde gebruiker: `/lid/profiel/steekkaart`

### Individuele steekkaart opvragen [GET]

Als voor een gebruiker in het resultaat van het opvragen van een lid een link staat naar de individuele steekkaart, mag je aannemen dat die gebruiker de individuele steekakaart mag opvragen.

+ Response 200 (application/json)

    + Body

            {
                "links":[
                    {
                        "rel":"self",
                        "href":"/groepsadmin/rest-ga/lid/d5f75b320db2ee17010db2f429ef0a97/steekkaart",
                        "method":"GET",
                        "secties":{
                        }
                    },
                    {
                        "rel":"self",
                        "href":"/groepsadmin/rest-ga/lid/d5f75b320db2ee17010db2f429ef0a97/steekkaart",
                        "method":"PATCH",
                        "secties":{
                        }
                    },
                    {
                        "rel":"lid",
                        "href":"/groepsadmin/rest-ga/lid/d5f75b320db2ee17010db2f429ef0a97",
                        "method":"GET",
                        "secties":{
                        }
                    }
                ],
                "id":"d5f75b320db2ee17010db2f429ef0a97",
                "aangepast":"2017-03-02T12:05:12.916+01:00",
                "gegevens":{
                    "schema":{
                        "velden":[
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463a56ef01463cedcdb00003",
                                "aangepast":"2017-03-02T12:05:12.916+01:00",
                                "type":"lijst",
                                "label":"Ouder of voogd?",
                                "beschrijving":"* bij leden die verblijven in een instelling kan het moeilijk zijn om deze formulieren door ouders of voogd te laten invullen; in dat geval kan ook een opvoeder de gegevens invullen.",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":139,
                                "keuzes":[
                                    "ouder",
                                    "voogd",
                                    "ikzelf (voor meerderjarigen)",
                                    "opvoeder*"
                                ]
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e4610ed0201461f1523c6001c",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"Andere beperkingen of zorgen:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":17
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de01463916d21b00e8",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"lijst",
                                "label":"Bloedgroep:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":29,
                                "keuzes":[
                                    "O+",
                                    "O-",
                                    "A+",
                                    "A-",
                                    "B+",
                                    "B-",
                                    "AB+",
                                    "AB-",
                                    "onbekend"
                                ]
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de0146391a3b4800ed",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"Zo ja, op vlak van voeding (vb. vegetariër, halal):",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":34
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de0146391b5df600ef",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"Als er iets verandert aan de gezondheidstoestand van uw zoon of dochter na de invuldatum van deze steekkaart, dan vragen wij uitdrukkelijk dit zo snel mogelijk hier aan te passen.",
                                "beschrijving":"Vergeet niet de Kids-Id, EID of ISI-kaart, mee te brengen bij vertrek op meerdaagse activiteiten.",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":136,
                                "keuzes":[
                                    ""
                                ]
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de014639188d5400ea",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"Aanvullende opmerkingen",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":31
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e4610ed0201461f01ebc70012",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"Adres en bereikbaarheid",
                                "beschrijving":"Wie contacteren als de ouders niet bereikbaar zijn (zoals op kinderpas -12 jarigen)?",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":3
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463a56ef01463cebc8be0001",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"Bevestiging",
                                "beschrijving":"Ik verklaar dat de ingevulde gegevens volledig en correct zijn. Het is raadzaam deze steekkaart voor elk kamp na te kijken.",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":137
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e4610ed0201461f0312090014",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"Deelname aan activiteiten",
                                "beschrijving":"Zaken om rekening mee te houden bij organisatie van activiteiten. Onze zoon of dochter kan en mag deelnemen aan alle gewone scoutingactiviteiten op maat van de leeftijdstak (op tocht gaan, spelen, kamperen, … ).",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":10
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463a56ef01463d07711e000f",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"INDIVIDUELE STEEKKAART",
                                "beschrijving":"Met deze individuele steekkaart geven ouders jaarlijks aan de takleiding alle noodzakelijke inlichtingen over hun kind(eren) aangesloten bij een plaatselijke groep van Scouts en Gidsen Vlaanderen. <br>Deze informatie draagt bij aan een veilige en persoonlijke begeleiding van alle leden en wordt vertrouwelijk behandeld door de leidingsploeg. <br>Wanneer er wijzigingen zijn in deze gegevens is het belangrijk om deze onmiddellijk aan te passen. <br><br>Het is noodzakelijk om deze steekkaart op te maken voor iedereen actief in Scouts en Gidsen Vlaanderen binnen de drie eerste weken van het lidmaatschap en te laten invullen door de ouders of voogd van alle leden. Jaarlijks binnen de eerste drie maanden van elk nieuw werkjaar opnieuw na te kijken. Leid(st)ers kunnen hun eigen gegevens op deze steekkaart zelf invullen en ondertekenen indien meerderjarig.",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":1
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e4610ed0201461f119f740016",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"Zo neen, deze activiteiten zijn onmogelijk of niet toegestaan:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":11
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463a56ef01463cfac643000c",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"Engagement",
                                "beschrijving":"Leiding engageert er zich toe om samen zorg te dragen voor de veiligheid en het welzijn van alle leden. Bij twijfels of vragen hieromtrent is het absoluut wenselijk dat ouders en leiding contact met elkaar opnemen.Wij danken u voor het vertrouwen in Scouts en Gidsen Vlaanderen.",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":134
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e4610ed0201461f15b3fe001d",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"Medische informatie",
                                "beschrijving":"Het is verboden om als leid(st)er, behalve EHBO, op eigen initiatief medische handelingen uit te voeren. Ook het verstrekken van lichte pijnstillende en koortswerende medicatie zoals Perdolan, Dafalgan of Aspirine is, zonder toelating van de ouders, voorbehouden aan een arts. Daarom is het noodzakelijk om via het onderstaande kader op deze steekkaart vooraf toestemming van ouders te hebben voor het eventueel toedienen van dergelijke hulp.",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":18
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de0146391abdd000ee",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"Zo ja, andere aandachtspunten die belang kunnen hebben bij de omgang met ons kind:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":35
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e4610ed0201461f1464ef001a",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"Bij hygiëne:",
                                "beschrijving":"(vb. zelfstandigheid, allergie, bedwateren, …)",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":15
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e4610ed0201461f14d9de001b",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"Bij sociale omgang:",
                                "beschrijving":"(vb. pesten, heimwee, angsten, slaapwandelen, …)",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":16
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de0146390e395900e2",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"lijst",
                                "label":"Wij geven toestemming aan de leiding om bij hoogdringendheid aan onze zoon of dochter een dosis via de apotheek vrij verkrijgbare pijnstillende en koortswerende medicatie toe te dienen: *",
                                "beschrijving":"* gebaseerd op aanbeveling Kind&Gezin 09.12.2009 – Aanpak van koorts / Toedienen van geneesmiddelen in de kinderopvang",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":19,
                                "keuzes":[
                                    "nee",
                                    "ja"
                                ]
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e4610ed0201461f026f8e0013",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"Eventueel belangrijke afspraken vanuit de gezinssituatie:",
                                "beschrijving":"(vb. regeling echtscheiding)",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":8
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463a56ef01463d0240f5000d",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst",
                                "label":"Eventueel naam van verblijfsinstelling:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":9
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e4610ed0201461f1204140017",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"eventuele reden:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":12
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de0146390f8cb000e3",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"Info over noodzakelijke aanpak bij deze aandoening:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":24
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de0146391800f100e9",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst",
                                "label":"Onze huisarts: naam en telefoon:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":30
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de014639190ebb00eb",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"lijst",
                                "label":"Onze zoon of dochter mag tijdens de activiteiten worden gefotografeerd voor publicatie in het groepsblad, op een website van scouting, ...:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":32,
                                "keuzes":[
                                    "ja",
                                    "nee"
                                ]
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de01463912fadd00e6",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"lijst",
                                "label":"Onze zoon of dochter werd ingeënt tegen klem (tetanus):",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":27,
                                "keuzes":[
                                    "ja",
                                    "nee"
                                ]
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de01463907763900e1",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst",
                                "label":"Telefoon/gsm:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":5
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de01463913fa7600e7",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst",
                                "label":"Zo ja, in welk jaar?",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":28
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de0146391124af00e5",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"Zo ja, welk?",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":26
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de01463905280100de",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"Zo ja, welke?",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":23
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463a56ef01463cec788d0002",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst",
                                "label":"Voornaam en naam:",
                                "beschrijving":"Wie vult deze steekkaart in?",
                                "verplicht":true,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":138
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e46f060b2014720df14c607c2",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"Voornaam, naam en tak van broers of zussen in dezelfde groep:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":7
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e46f060b2014720e22ec507c3",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"Attest van de arts",
                                "beschrijving":"Dit is een bijlage aan de individuele steekkaart voor het toedienen van medicatie: <a href="https://www.scoutsengidsenvlaanderen.be/files/paginas/publicaties/virtueel_boekenrek/individuele_steekkaart_extras/individuele_steekkaart_dokterattest_medicatie_20110210.pdf">hier downloaden </a>",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":21
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e46f060b201473541be3907e9",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"",
                                "beschrijving":"Is er bijzondere aandacht nodig om risico's te voorkomen? Zo ja, onderstaande velden invullen:",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":13
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e46f060b201473544c5fd07ea",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"",
                                "beschrijving":"Zijn er ziekten te melden? (vb. astma, suikerziekte , hooikoorts, epilepsie, hart, …)?",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":22
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e46f060b2014735469a1b07eb",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"",
                                "beschrijving":"Onze zoon of dochter moet een bepaald dieet volgen.",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":25
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e46f060b2014735529c5007ec",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"groep",
                                "label":"",
                                "beschrijving":"Zijn er bepaalde aspecten waarmee leiding rekening kan houden als de omstandigheden dat toestaan binnen de visie van scouting?",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":33
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e480b9aa901480c7fb70100de",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst_meerdere_lijnen",
                                "label":"Bij sporten:",
                                "beschrijving":"(vb. zwemmen, fietsen, hoogte, rust, …)",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":14
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e480b9aa901481224fea601cd",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst",
                                "label":"Functie (indien van toepassing)",
                                "beschrijving":"Eventueel voor kinderen die in een instelling verblijven.",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":6
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e480b9aa901481227773101cf",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"tekst",
                                "label":"Naam:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":false,
                                "kanGebruikerWijzigen":true,
                                "sort":4
                            },
                            {
                                "links":{
                                },
                                "id":"d5f75e1e463384de01463901e13c00dc",
                                "aangepast":"2017-03-02T12:05:12.917+01:00",
                                "type":"lijst",
                                "label":"Onze zoon of dochter moet specifieke medicatie krijgen:",
                                "beschrijving":"",
                                "verplicht":false,
                                "kanLeidingWijzigen":false,
                                "kanLidWijzigen":true,
                                "kanGebruikerWijzigen":true,
                                "sort":20,
                                "keuzes":[
                                    "nee",
                                    "ja: zeker bijlage doktersattest medicatie aan de leiding bezorgen!"
                                ]
                            }
                        ],
                        "aanpasbaarDoorGebruiker":false
                    },
                    "waarden":{
                        "d5f75e1e463384de0146390e395900e2":null,
                        "d5f75e1e463a56ef01463cfac643000c":null,
                        "d5f75e1e4610ed0201461f1204140017":null,
                        "d5f75e1e4610ed0201461f026f8e0013":null,
                        "d5f75e1e463384de01463913fa7600e7":null,
                        "d5f75e1e480b9aa901480c7fb70100de":null,
                        "d5f75e1e463384de0146391b5df600ef":null,
                        "d5f75e1e463384de01463901e13c00dc":null,
                        "d5f75e1e463384de0146391124af00e5":null,
                        "d5f75e1e463384de01463907763900e1":null,
                        "d5f75e1e463384de01463912fadd00e6":null,
                        "d5f75e1e46f060b201473544c5fd07ea":null,
                        "d5f75e1e463a56ef01463cebc8be0001":null,
                        "d5f75e1e463384de0146391800f100e9":null,
                        "d5f75e1e46f060b2014720df14c607c2":null,
                        "d5f75e1e463384de014639188d5400ea":null,
                        "d5f75e1e4610ed0201461f0312090014":null,
                        "d5f75e1e46f060b2014720e22ec507c3":null,
                        "d5f75e1e480b9aa901481227773101cf":null,
                        "d5f75e1e463384de0146391a3b4800ed":null,
                        "d5f75e1e463384de0146390f8cb000e3":null,
                        "d5f75e1e46f060b2014735469a1b07eb":null,
                        "d5f75e1e46f060b2014735529c5007ec":null,
                        "d5f75e1e4610ed0201461f14d9de001b":null,
                        "d5f75e1e4610ed0201461f01ebc70012":null,
                        "d5f75e1e4610ed0201461f1464ef001a":null,
                        "d5f75e1e463384de0146391abdd000ee":null,
                        "d5f75e1e4610ed0201461f1523c6001c":null,
                        "d5f75e1e4610ed0201461f15b3fe001d":null,
                        "d5f75e1e463384de01463916d21b00e8":null,
                        "d5f75e1e4610ed0201461f119f740016":null,
                        "d5f75e1e463384de014639190ebb00eb":null,
                        "d5f75e1e463a56ef01463cec788d0002":"Tinus (via de API)",
                        "d5f75e1e46f060b201473541be3907e9":null,
                        "d5f75e1e480b9aa901481224fea601cd":null,
                        "d5f75e1e463a56ef01463cedcdb00003":null,
                        "d5f75e1e463a56ef01463d0240f5000d":null,
                        "d5f75e1e463a56ef01463d07711e000f":null,
                        "d5f75e1e463384de01463905280100de":null
                    }
                }
            }

### Individuele steekkaart bewerken [PATCH]

Gebruikers kunnen enkel hu eigen individuele steekkaart aanpassen.

+ Request (application/json)

    + Body

            // De inhoud van deze request is hetzelfde als bij de response voor `GET`
            // op `/lid/{id}/steekkaart`.

+ Response 200 (application/json)

    + Body

            // De inhoud van deze response is hetzelfde als bij `GET` op `/lid/{id}/steekkaart`.

## Lidaanvragen [/lid/aanvraag]

### Lidaanvragen opvragen [GET]

+ Response 200 (application/json)

    + Body

            {
                "links": [
                    {
                        "rel": "self",
                        "href": "/groepsadmin/rest-ga/lid/aanvraag",
                        "method": "GET",
                        "secties": [ ]
                    }
                ],
                "groepen": [
                    // Dit deel van de response bevat de response bij `GET` op
                    // `/lid/aanvraag/{id}` voor de aanvragen waar je recht op hebt.
                ]
            }

### Lidaanvraag aanmaken [POST]

:::note
Dit enpoint is publiek. Er is hier geen *Authentication*-header nodig.

Omdat de gebruiker in de meeste gevallen niet het recht heeft om de lidaanvraag op te halen, wordt er een lege response gegeven.
:::

+ Request (application/json)

    + Body

            // De inhoud van deze request is hetzelfde als de response bij `GET` op
            // `/lid/aanvraag/{id}`.

+ Response 204

## Lidaanvraag [/lid/aanvraag/{id}]

+ Parameters
    + id (string) - ID van de aanvraag

### Lidaanvraag opvragen [GET]

+ Response 200 (application/json)

    + Body

            {
                "links": [
                    {
                        "rel": "self",
                        "href": "/groepsadmin/rest-ga/lid/aanvraag/402881605a6be53",
                        "method": "GET"
                    },
                    {
                        "rel": "nieuwlidgoedkeuren",
                        "href": "http://localhost:8080/groepsadmin/rest-ga/lid",
                        "method": "POST"
                    },
                    {
                        "rel": "afkeuren",
                        "href": "/groepsadmin/rest-ga/lid/aanvraag/402881605a6be53",
                        "method": "DELETE"
                    }
                ],
                "id": "402881605a6be53c015a6be6cd5d0002",
                "aangepast": "2017-02-23T12:56:12.378+01:00",
                "groepsnummer": "A1000K",
                "opmerkingen": ":-)",
                "gebruikersnaam": "",
                "persoonsgegevens": {
                    "geslacht": "man",
                    "gsm": "04",
                    "rekeningnummer": "BE12 3456 7890 1234"
                },
                "vgagegevens": {
                    "voornaam": "Baden",
                    "achternaam": "Powell",
                    "geboortedatum": "2000-01-01"
                },
                "email": "tvl@s.be",
                "adres": {
                    "land": "BE",
                    "postcode": "1234",
                    "gemeente": "Brussel",
                    "straat": "???",
                    "nummer": "5",
                    "bus": "",
                    "telefoon": "",
                    "postadres": false,
                    "status": "normaal",
                    "omschrijving": ""
                }
            }

### Lidaanvraag verwijderen [DELETE]

+ Response 204

# Group Groepen

## Groepen [/groep]

::: note
Het is niet mogelijk om zelf een groep aan te maken. Om een groep aan te laten maken, neem je best contact op met [groepsadministratie@scoutsengidsenvlaanderen.be](mailto:groepsadministratie@scoutsengidsenvlaanderen.be).
:::

### Groepenlijst opvragen [GET]

Alle groepen waar je een een functie in of rechten op hebt

+ Response 200 (application/json)

    + Body

            {
                "links": [
                    {
                        "rel": "self",
                        "href": "/groepsadmin/rest-ga/groep",
                        "method": "GET",
                        "secties": [ ]
                    }
                ],
                "groepen": [
                    // Dit deel van de response bevat de response bij `GET` op
                    // `/groep/{groepsnummer}` voor een aantal groepsnummers.
                    {
                       "links":[
                          {
                             "rel":"self",
                             "href":"https://groepsadmin-develop.scoutsengidsenvlaanderen.net/groepsadmin/rest-ga/groep/X1027G",
                             "method":"GET",
                             "secties":[

                             ]
                          },
                          {
                             "rel":"inschrijven",
                             "href":"https://groepsadmin-develop.scoutsengidsenvlaanderen.net/groepsadmin/lidworden?groep=X1027G",
                             "method":"GET",
                             "secties":[

                             ]
                          },
                          {
                             "rel":"inschrijvingen",
                             "href":"https://groepsadmin-develop.scoutsengidsenvlaanderen.net/groepsadmin/rest-ga/groep/X1027G/inschrijvingen",
                             "method":"GET",
                             "secties":[

                             ]
                          },
                          {
                             "rel":"nieuwe groepseigen functie",
                             "href":"https://groepsadmin-develop.scoutsengidsenvlaanderen.net/groepsadmin/rest-ga/functie",
                             "method":"POST",
                             "secties":[

                             ]
                          },
                          {
                             "rel":"statistieken",
                             "href":"https://groepsadmin-develop.scoutsengidsenvlaanderen.net/groepsadmin/rest-ga/groep/X1027G/statistieken",
                             "method":"GET",
                             "secties":[

                             ]
                          }
                       ],
                       "id":"X1027G",
                       "aangepast":"2017-09-14T15:59:10.305+02:00",
                       "groepsnummer":"X1027G",
                       "naam":"Personeel Secretariaat",
                       "adressen":[
                          {
                             "id":"d5f75b320b812440010b812546550067",
                             "land":"BE",
                             "postcode":"2140",
                             "gemeente":" Borgerhout (Antwerpen)",
                             "straat":"Wilrijkstraat",
                             "nummer":"45",
                             "telefoon":"",
                             "postadres":true,
                             "status":"normaal",
                             "positie":{
                                "latitude":51.2129876,
                                "longitude":4.42225499999995
                             },
                             "giscode":"6221",
                             "omschrijving":""
                          }
                       ],
                       "opgericht":"1900-01-01T00:00:00.000Z",
                       "facturatieLeden":"2017-09-14T15:59:10.303+02:00",
                       "facturatieLeiding":"2017-09-14T15:59:10.303+02:00",
                       "rekeningnummer":"BE75 4096 5186 0151",
                       "email":"",
                       "website":"www.scoutsengidsenvlaanderen.be",
                       "vrijeInfo":"",
                       "onderliggendeGroepen":[

                       ],
                       "groepseigenFuncties":[

                       ],
                       "groepseigenGegevens":[
                          {
                             "id":"39a96d045cc0cb33015cc0e5113b00fd",
                             "type":"vinkje",
                             "label":"test",
                             "beschrijving":"voor teste nieuwe GA",
                             "verplicht":false,
                             "kanLeidingWijzigen":false,
                             "kanLidWijzigen":true,
                             "sort":1
                          }
                       ],
                       "contacten":[
                          {
                             "links":[
                                ...
                             ],
                             "lid":"d5f75b320b812440010b8127fc8f4e6a",
                             "functie":"d5f75b320b812440010b812553d5032e"
                          },
                          {
                             "links":[
                                ...
                             ],
                             "lid":"d5f75b320b812440010b812b29237152",
                             "functie":"d5f75b320b812440010b812555970393"
                          }
                       ],
                       "publiek-inschrijven":true
                    }

                ]
            }

## Groep [/groep/{groepsnummer}]

+ Parameters
    + groepsnummer (string) - Hoofdletter, vier cijfers en nog een hoofdletter

### Groep opvragen [GET]

+ Response 200 (application/json)

    ::: note
    Afhankelijk van de rechten van de ingelogde gebruiker op de opgevraagde groep, worden sommige secties getoond of verborgen.
    :::

    + Body

            {
              "links": [
                {
                  "rel": "self",
                  "href": "/groepsadmin/rest-ga/groep/A1000K",
                  "method": "GET",
                  "secties": [ ]
                },
                {
                  "rel": "self",
                  "href": "/groepsadmin/rest-ga/groep/A1000K",
                  "method": "PATCH",
                  "secties": [ ]
                },
                {
                  "rel": "groepseigenfunctiesaanmaken",
                  "href": "/groepsadmin/rest-ga/functie",
                  "method": "POST",
                  "secties": [ ]
                },
                {
                  "rel": "inschrijven",
                  "href": "/groepsadmin/lidworden?groep=A1000K",
                  "method": "GET",
                  "secties": [ ]
                },
                {
                  "rel": "inschrijvingen",
                  "href": "/groepsadmin/rest-ga/groep/inschrijvingen",
                  "method": "GET",
                  "secties": [ ]
                },
                {
                  "rel": "ledenaantallen",
                  "href": "/groepsadmin/rest-ga/groep/ledenaantallen",
                  "method": "GET",
                  "secties": [ ]
                }
              ],
              "id": "d5f75b331fe66241011fe7d0e7480001",
              "aangepast": "2017-02-16T16:56:39.270+01:00",
              "groepsnummer": "A1000K",
              "naam": "OpenKampAntwerpen",
              "adressen": [
                {
                  "id": "402881ef59a6c3da0159a6c807c40002",
                  "land": "BE",
                  "postcode": "2140",
                  "gemeente": "Borgerhout(Antwerpen)",
                  "straat": "Wilrijkstraat",
                  "nummer": "45",
                  "bus": "",
                  "telefoon": "",
                  "postadres": true,
                  "status": "normaal",
                  "positie": {
                    "latitude": 51.2091735,
                    "longitude": 4.4379007
                  },
                  "giscode": "1204",
                  "omschrijving": "6"
                }
              ],
              "opgericht": "2000-01-01T00:00:00.000+01:00",
              "rekeningnummer": "BE81068930811724",
              "email": "openkampantwerpen@scoutsengidsenvlaanderen.be",
              "website": "www.openkampantwerpen.be",
              "vrijeInfo": "",
              "groepseigenFuncties": [
                {
                  "links": [
                    {
                      "rel": "self",
                      "href": "/groepsadmin/rest-ga/functie/d5f75e234441ba0101444b68882026c9",
                      "method": "GET",
                      "secties": [ ]
                    },
                    {
                      "rel": "self",
                      "href": "/groepsadmin/rest-ga/functie/d5f75e234441ba0101444b68882026c9",
                      "method": "PATCH",
                      "secties": [ ]
                    }
                  ],
                  "id": "d5f75e234441ba0101444b68882026c9",
                  "aangepast": "2017-02-16T16:56:42.581+01:00",
                  "beschrijving": "Contact",
                  "type": "groep",
                  "groepen": [
                    "A1000K"
                  ]
                }
              ],
              "groepseigenGegevens": [
                {
                  "id": "d5f75e2355269d2401552b8b94041ad4",
                  "aangepast": "2017-02-16T16:56:42.776+01:00",
                  "type": "tekst",
                  "label": "test",
                  "beschrijving": "",
                  "verplicht": false,
                  "kanLeidingWijzigen": true,
                  "kanLidWijzigen": true,
                  "kanGebruikerWijzigen": false,
                  "sort": 1,
                  "deletedTimestamp": "2017-02-16T16:56:42.776+01:00"
                }
              ],
              "publiek-inschrijven": true
            }

### Groep bewerken [PATCH]

+ Request (application/json)

    ::: note
    `links`, `naam`, `nummer` en `groepseigenFuncties` worden genegeerd.

    **Groepseigen gegevens**
    * Als `groepseigenGegevens` niet wordt meegegeven er verandert niets.
    * Als `groepseigenGegevens` *leeg* wordt  meegeven, dan worden alle gegevens verwijderd.

    Lees meer over [dynamische velden](#header-dynamische-velden)
    :::

    + Body

            // De inhoud van deze request is hetzelfde als bij de response voor `GET`
            // op `/groep/{groepsnummer}`.

+ Response 200 (application/json)

    + Body

            // De inhoud van deze response is hetzelfde als bij `GET` op
            // `/groep/{groepsnummer}`.


## Ledenaantallen [/groep/{groepsnummer}/ledenaantallen]

+ Parameters
    + groepsnummer (string) - Hoofdletter, vier cijfers en nog een hoofdletter

### Ledenaantallen opvragen [GET]

+ Response 200 (application/json)

    + Body

            {
                "links": [
                    {
                        "rel": "self",
                        "href": "/groepsadmin/rest-ga/groep/A1000K/ledenaantallen",
                        "method": "GET",
                        "secties": [ ]
                    },
                    {
                        "rel": "groep",
                        "href": "/groepsadmin/rest-ga/groep/A1000K",
                        "method": "GET",
                        "secties": [ ]
                    }
                ],
                "groepsnummer": "A1000K",
                "takStatistieken": [
                    {
                        "takNaam": "Alle takken",
                        "aantalLeden": {
                            "2012-2013": 38.0,
                            "2015-2016": 34.0,
                            "Nu": 0.0,
                            "2011-2012": 49.0,
                            "2014-2015": 29.0,
                            "2013-2014": 47.0
                        },
                        "aantalLeiding": {
                            "2012-2013": 20.0,
                            "2015-2016": 13.0,
                            "Nu": 13.0,
                            "2011-2012": 24.0,
                            "2014-2015": 7.0,
                            "2013-2014": 15.0
                        }
                    }
                ],
                "criteria": [
                    {
                        "naam": "Aantal groepsleiding en leiding bij een tak",
                        "formaat": "%.0fleid(st)ers",
                        "aantalPersonen": {
                            "2012-2013": 21.0,
                            "2015-2016": 14.0,
                            "Nu": 15.0,
                            "2011-2012": 24.0,
                            "2014-2015": 9.0,
                            "2013-2014": 18.0
                        }
                    },
                    {
                        "naam": "Aantal groepsleiding",
                        "formaat": "%.0fleid(st)ers",
                        "aantalPersonen": {
                            "2012-2013": 5.0,
                            "2015-2016": 4.0,
                            "Nu": 6.0,
                            "2011-2012": 1.0,
                            "2014-2015": 3.0,
                            "2013-2014": 4.0
                        }
                    },
                    {
                        "naam": "Aantal anderen",
                        "formaat": "%.0fanderen",
                        "aantalPersonen": {
                            "2012-2013": 3.0,
                            "2015-2016": 3.0,
                            "Nu": 2.0,
                            "2011-2012": 2.0,
                            "2014-2015": 2.0,
                            "2013-2014": 3.0
                        }
                    },
                    {
                        "naam": "Totaal groep",
                        "formaat": "%.0fpersonen",
                        "aantalPersonen": {
                            "2012-2013": 58.0,
                            "2015-2016": 48.0,
                            "Nu": 16.0,
                            "2011-2012": 70.0,
                            "2014-2015": 39.0,
                            "2013-2014": 65.0
                        }
                    },
                    {
                        "naam": "Percentage vrouwen",
                        "formaat": "%.0f%%",
                        "aantalPersonen": {
                            "2012-2013": 41.37931034482759,
                            "2015-2016": 60.416666666666664,
                            "Nu": 60.0,
                            "2011-2012": 50.0,
                            "2014-2015": 63.1578947368421,
                            "2013-2014": 50.76923076923077
                        }
                    },
                    {
                        "naam": "Percentage jongste takken",
                        "formaat": "%.0f%%",
                        "aantalPersonen": {
                            "2012-2013": 0.0,
                            "2015-2016": 0.0,
                            "Nu": 0.0,
                            "2011-2012": 0.0,
                            "2014-2015": 0.0,
                            "2013-2014": 0.0
                        }
                    },
                    {
                        "naam": "Gemiddelde leeftijd leiding",
                        "formaat": "%.1fjaar",
                        "aantalPersonen": {
                            "2012-2013": 23.980512620154187,
                            "2015-2016": 22.213812936415056,
                            "Nu": 22.752007228821213,
                            "2011-2012": 23.652550474456465,
                            "2014-2015": 23.005872049087632,
                            "2013-2014": 24.690157189293473
                        }
                    },
                    {
                        "naam": "Gemiddelde blijfduur leden",
                        "formaat": "%.1fjaar",
                        "aantalPersonen": {
                            "2012-2013": 0.6408088608799417,
                            "2015-2016": 1.07663837841218,
                            "Nu": 1.2671924923205193,
                            "2011-2012": 0.512550232257,
                            "2014-2015": 0.8642051803031864,
                            "2013-2014": 0.7711117795346965
                        }
                    },
                    {
                        "naam": "Gemiddelde blijfduur leiding",
                        "formaat": "%.1fjaar",
                        "aantalPersonen": {
                            "2012-2013": 0.9302141941496758,
                            "2015-2016": 2.293313540611115,
                            "Nu": 2.776727996033457,
                            "2011-2012": 0.6393012861318165,
                            "2014-2015": 1.735131840528388,
                            "2013-2014": 1.302644111958056
                        }
                    }
                ],
                "groepsevolutie": [
                    {
                        "naam": "leden",
                        "aantalPersonen": {
                            "2007-2008": 0.0,
                            "2009-2010": 55.0,
                            "2012-2013": 38.0,
                            "2006-2007": 0.0,
                            "2015-2016": 34.0,
                            "Nu": 0.0,
                            "2011-2012": 49.0,
                            "2014-2015": 29.0,
                            "2008-2009": 43.0,
                            "2013-2014": 47.0,
                            "2010-2011": 41.0
                        }
                    },
                    {
                        "naam": "leiding",
                        "aantalPersonen": {
                            "2007-2008": 9.0,
                            "2009-2010": 31.0,
                            "2012-2013": 21.0,
                            "2006-2007": 0.0,
                            "2015-2016": 14.0,
                            "Nu": 0.0,
                            "2011-2012": 24.0,
                            "2014-2015": 9.0,
                            "2008-2009": 16.0,
                            "2013-2014": 18.0,
                            "2010-2011": 28.0
                        }
                    },
                    {
                        "naam": "anderen",
                        "aantalPersonen": {
                            "2007-2008": 0.0,
                            "2009-2010": 2.0,
                            "2012-2013": 3.0,
                            "2006-2007": 0.0,
                            "2015-2016": 3.0,
                            "Nu": 0.0,
                            "2011-2012": 2.0,
                            "2014-2015": 2.0,
                            "2008-2009": 2.0,
                            "2013-2014": 3.0,
                            "2010-2011": 2.0
                        }
                    },
                    {
                        "naam": "totaal",
                        "aantalPersonen": {
                            "2007-2008": 9.0,
                            "2009-2010": 86.0,
                            "2012-2013": 58.0,
                            "2006-2007": 0.0,
                            "2015-2016": 48.0,
                            "Nu": 0.0,
                            "2011-2012": 70.0,
                            "2014-2015": 39.0,
                            "2008-2009": 60.0,
                            "2013-2014": 65.0,
                            "2010-2011": 69.0
                        }
                    }
                ],
                "ledenPerLeeftijd": {
                    "10": {
                        "1985": 1,
                        "1989": 1,
                        "1992": 1,
                        "1994": 1,
                        "1995": 4,
                        "1996": 4,
                        "1997": 2,
                        "1998": 1
                    }
                },
                "leidingservaring": {
                    "0": 2,
                    "1": 3,
                    "2": 2,
                    "3": 3,
                    "4": 1,
                    "5": 1,
                    "6": 1,
                    "8": 1,
                    "13": 1
                },
                "instroom": [
                    {
                        "werkjaar": "2009-2010",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 0,
                            "10": 0,
                            "11": 0,
                            "12": 0,
                            "13": 0,
                            "14": 0,
                            "15": 0,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 1,
                            "20": 1,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2011-2012",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 4,
                            "10": 2,
                            "11": 5,
                            "12": 1,
                            "13": 3,
                            "14": 4,
                            "15": 0,
                            "16": 0,
                            "17": 0,
                            "18": 4,
                            "19": 1,
                            "20": 2,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2017-2018",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 0,
                            "10": 5,
                            "11": 2,
                            "12": 5,
                            "13": 1,
                            "14": 2,
                            "15": 0,
                            "16": 0,
                            "17": 1,
                            "18": 0,
                            "19": 2,
                            "20": 3,
                            "21": 4
                        }
                    },
                    {
                        "werkjaar": "2012-2013",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 3,
                            "10": 3,
                            "11": 4,
                            "12": 1,
                            "13": 0,
                            "14": 1,
                            "15": 2,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 0,
                            "20": 1,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2014-2015",
                        "aantalPerLeeftijd": {
                            "7": 1,
                            "8": 4,
                            "9": 3,
                            "10": 4,
                            "11": 3,
                            "12": 2,
                            "13": 7,
                            "14": 2,
                            "15": 4,
                            "16": 5,
                            "17": 0,
                            "18": 0,
                            "19": 0,
                            "20": 0,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2010-2011",
                        "aantalPerLeeftijd": {
                            "7": 1,
                            "8": 2,
                            "9": 8,
                            "10": 8,
                            "11": 1,
                            "12": 10,
                            "13": 8,
                            "14": 6,
                            "15": 5,
                            "16": 2,
                            "17": 1,
                            "18": 0,
                            "19": 2,
                            "20": 1,
                            "21": 1
                        }
                    },
                    {
                        "werkjaar": "2013-2014",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 6,
                            "9": 10,
                            "10": 3,
                            "11": 2,
                            "12": 3,
                            "13": 2,
                            "14": 7,
                            "15": 3,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 0,
                            "20": 1,
                            "21": 2
                        }
                    },
                    {
                        "werkjaar": "2016-2017",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 4,
                            "10": 1,
                            "11": 2,
                            "12": 0,
                            "13": 1,
                            "14": 0,
                            "15": 0,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 0,
                            "20": 0,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2015-2016",
                        "aantalPerLeeftijd": {
                            "7": 1,
                            "8": 0,
                            "9": 1,
                            "10": 1,
                            "11": 4,
                            "12": 3,
                            "13": 2,
                            "14": 0,
                            "15": 0,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 1,
                            "20": 0,
                            "21": 0
                        }
                    }
                ],
                "uitstroom": [
                    {
                        "werkjaar": "2009-2010",
                        "aantalPerLeeftijd": { }
                    },
                    {
                        "werkjaar": "2011-2012",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 3,
                            "10": 3,
                            "11": 6,
                            "12": 0,
                            "13": 4,
                            "14": 4,
                            "15": 1,
                            "16": 1,
                            "17": 1,
                            "18": 2,
                            "19": 0,
                            "20": 1,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2017-2018",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 1,
                            "10": 8,
                            "11": 3,
                            "12": 8,
                            "13": 3,
                            "14": 4,
                            "15": 4,
                            "16": 3,
                            "17": 1,
                            "18": 0,
                            "19": 0,
                            "20": 1,
                            "21": 2
                        }
                    },
                    {
                        "werkjaar": "2012-2013",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 1,
                            "10": 2,
                            "11": 2,
                            "12": 3,
                            "13": 1,
                            "14": 2,
                            "15": 4,
                            "16": 1,
                            "17": 1,
                            "18": 0,
                            "19": 2,
                            "20": 2,
                            "21": 1
                        }
                    },
                    {
                        "werkjaar": "2014-2015",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 1,
                            "9": 3,
                            "10": 1,
                            "11": 2,
                            "12": 1,
                            "13": 1,
                            "14": 2,
                            "15": 2,
                            "16": 3,
                            "17": 0,
                            "18": 0,
                            "19": 1,
                            "20": 0,
                            "21": 1
                        }
                    },
                    {
                        "werkjaar": "2010-2011",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 5,
                            "10": 1,
                            "11": 0,
                            "12": 3,
                            "13": 3,
                            "14": 2,
                            "15": 0,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 0,
                            "20": 1,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2013-2014",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 2,
                            "9": 5,
                            "10": 3,
                            "11": 1,
                            "12": 4,
                            "13": 3,
                            "14": 6,
                            "15": 3,
                            "16": 1,
                            "17": 1,
                            "18": 1,
                            "19": 0,
                            "20": 0,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2016-2017",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 1,
                            "10": 1,
                            "11": 2,
                            "12": 5,
                            "13": 3,
                            "14": 2,
                            "15": 0,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 0,
                            "20": 0,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2015-2016",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 1,
                            "9": 3,
                            "10": 2,
                            "11": 5,
                            "12": 3,
                            "13": 2,
                            "14": 6,
                            "15": 3,
                            "16": 3,
                            "17": 7,
                            "18": 0,
                            "19": 0,
                            "20": 0,
                            "21": 0
                        }
                    }
                ]
            }

# Group Functies

Er zijn twee soorten functies:

Soort                | Aanduiding in het veld `type` | Gefactureerd en verzekerd
---------------------|-------------------------------|------------------------------------
Groepseigen functies | `groep`                       | Nooit
*Verbonds*functies   | `verbond`                     | Altijd, op enkele uitzonderingen na

## Functielijst [/functie?groep={startGroepsnummer}]

### Functielijst opvragen [GET]

Alle functies die gebruikt worden binnen de opgegeven groepen, waar de gebruiker recht op hebt.

+ Parameters
    + startGroepsnummer (optional, string) - Dit duidt op alle groepen waarvan het groepsnummer hiermee begint.

+ Response 200 (application/json)

    + Body

            {
              "links": [
                {
                    "rel": "self",
                    "href": "/groepsadmin/rest-ga/functie",
                    "method": "GET",
                    "secties": [ ]
                },
                {
                    "rel": "nieuwe groepseigen functie",
                    "href": "/groepsadmin/rest-ga/functie",
                    "method": "POST",
                    "secties": [ ]
                }
              ],
              "functies": [
                {
                    "links": [
                        {
                            "rel": "self",
                            "href": "/groepsadmin/rest-ga/functie/d5f75b320b812440010b8125568b03d1",
                            "method": "GET",
                            "secties": [ ]
                        }
                    ],
                    "id": "d5f75b320b812440010b8125568b03d1",
                    "beschrijving": "Kandidaat Instructor",
                    "type": "verbond",
                    "groeperingen": [
                        {
                            "naam": "Leiding",
                            "volgorde": 6
                        }
                    ],
                    "groepen": [
                        "X0055G",
                        "X0066G",
                        "X1027G",
                        "X4003G",
                        "X4004G",
                        "X4010G",
                        "X4017G"
                    ],
                    "code": "AINS",
                    "uiterstegeboortedatum": "1999-31-01"
[...]
