FORMAT: 1A
HOST: https://groepsadmin-develop.scoutsengidsenvlaanderen.net/groepsadmin/rest-ga

# Groepsadmin API

## Authentication request headers

Bij elke(*) request moet een *Authentication*-header worden meegegeven:

`Authentication: Bearer {access token}`

`{access token}` is een OAuth-2.0 access token. Dit kan verkregen worden door in te loggen op [keycloak](https://login.scoutsengidsenvlaanderen.be).

(*) Enkele endpoints zijn publiek. Hierbij is geen *Authentication*-header nodig.

## Etag response headers

De implementatie zal [ETag's](http://en.wikipedia.org/wiki/HTTP_ETag) voorzien. Een gebruiker kan hiermee kijken of een resource gewijzigd is.
* Voor een `GET` request betekent dit dat als de resource niet gewijzigd is de gebruiker een `304` terug zal krijgen. Browsers doen dit transparant voor de gebruikers.

## Redirects

Er worden geen redirects gebruikt, omdat dit problemen geeft met CORS-requests.

## Datums

Alle datum-velden ondersteunen enkel het ISO8601 formaat.

## Errors

**Status codes**

Zoals het hoort gebruiken we de volgende HTTP status codes:

| Code | *Reason phrase*        |
|------|------------------------|
| 200 | Request OK              |
| 201 | Resource created        |
| 304 | Not modified            |
| 400 | Bad request             |
| 401 | Unauthorized request    |
| 404 | Resource was not found  |
| 50x | Inernal server error    |

**Formaat**
```javascript
{
  "id": "unieke_id_voor_deze_foutmelding",
  "titel": "{titel van het fout bericht}",
  "beschrijving": "{Gebruiksvriendelijke beschrijving van de fout}",
  "details": [ //Optioneel
    {
      "titel": "{titel van het fout bericht}",
      "beschrijving": "{Gebruiksvriendelijke beschrijving van de fout}",
      "veld": "sectie.veldnaam", //optioneel referentie naar het veld dat met de fout te maken heeft
    }, ...
  ],
  "links": [
    {
      "rel": "help",
      "href": "http://wiki.svg.be/..",
      "method": "GET",
    },
    {
      "rel": "force",
      "method": "POST",
      "href": "https://ga.svg.be/rest/lid/gaid/forceer?geboortedatum=2009-01-21"
    }
  ],
  "aangepast": "2015-06-04T08:34:41.823Z"
}
```

## Dynamische velden

Op verschilende plaatsen van de groepsadministratie gebruiken we formulieren
waarvan de velden door een andere gebruiker gedefinieerd zijn.  Dit is
bijvoorbeeld het geval met de persoonseigen gegevens of de groepseigen velden.

Dit houdt in dat de server niet alleen de waardes moet doorsturen, maar ook
de eigenschappen en hoe ze gestructureerd en weergegeven moeten worden.

We kiezen ervoor om de waarden en de structuur los te koppelen.
Dit omdat ze een ander gedrag hebben.  De waarden zijn door andere momenten en
door andere partijen te wijzigen dan de structuur.

Hieronder een voorbeeld bij een GET op een lid. Bij een GET op een groep wordt enkel het schema getoond.
```json
"schema": [
    {
        "links": [],
        "id": "d5f75b320dc7de39010dca243a830129",
        "aangepast": "2016-03-10T12:36:45.132+01:00",
        "type": "tekst",
        "label": "Opmerkingen",
        "beschrijving": "",
        "kanGebruikerWijzigen": true,
        "kanLeidingWijzigen": false,
        "verplicht": false,
        "kanLidWijzigen": false,
        "sort": 0,
        "deletedTimestamp": "2016-03-10T12:36:45.132+01:00"
    },
    {
        "links": [],
        "id": "d5f75e2340fc9dac014102187b4e2a68",
        "aangepast": "2016-03-10T12:36:45.132+01:00",
        "type": "vinkje",
        "label": "helpen op evenementen",
        "beschrijving": "",
        "kanGebruikerWijzigen": false,
        "kanLeidingWijzigen": false,
        "verplicht": false,
        "kanLidWijzigen": false,
        "sort": 0,
        "deletedTimestamp": "2016-03-10T12:36:45.132+01:00"
    },
    {
        "links": [],
        "id": "40288144535b694a01535b6adb2c0003",
        "aangepast": "2016-03-10T12:36:45.132+01:00",
        "type": "lijst",
        "label": "Dit is een lijst",
        "kanGebruikerWijzigen": false,
        "kanLeidingWijzigen": false,
        "verplicht": false,
        "kanLidWijzigen": false,
        "sort": 0,
        "keuzes": [
            "Lijstwaarde1",
            "Lijstwaarde2"
        ],
        "deletedTimestamp": "2016-03-10T12:36:45.132+01:00"
    }
],
"waarden": {
    "d5f75b320dc7de39010dca243a830129": "",
    "d5f75e2340fc9dac014102187b4e2a68": "true",
    "40288144535b694a01535b6adb2c0003": "Lijswaarde1"
}
```

***Hoe zit het ineen?***

Op het eerste niveau wordt er altijd de scheiding gemaakt tussen de waarden en het schema.

**De waarden**

De waarden is een zeer simpel die voor elk input-veld zijn id bevat en de corresponderende waarde.
Dit is ook de structuur die terug naar de server geduwd wordt wanneer het veld wordt ingevuld.

**Het schema**

Het schema bepaald de structuur en het type van de velden.
Er zijn twee soorten velden: input-velden en structuur-velden.
Het schema is ook de structuur die gebruikt wordt door de formulieren die de dynamische velden definieren.

**Input-velden**

Een input veld is gebonden aan een mogelijke input die in de waarden structuur terug te vinden is.

We definieren de volgende types input-velden:

  * `tekst`: Een tekst veld
  * `vinkje`: Een vinkje (waarde `true` of `false`)
  * `keuze`: Een keuze veld, de mogelijkheden vind je terug in de `keuzes`
    array.  Die voor elke keuze een `id` en een `label` bevatten (beiden
    _verplicht_)
  * `email`: Een e-mail veld

De volgende attributen zijn gedefinieerd op input-velden:

  * `id`: _verplicht_
  * `label`: korte tekst die het veld definieert _verplicht_
  * `beschrijving`: langere tekst altijd weergegeven in de buurt van het veld
     kan een subset van html bevatten _optioneel_
  * `meer-info`: Nog meer info over dit veld.  Kan html bevatten en getoond worden als een link die uit kan klappen of een hover tooltip. _optioneel_
  _optioneel default false_
  * `kanLeidingWijzigen`: Bepaald of de leiding dit veld kan wijzigen.
  * `kanLidWijzigen`: Beapaald of het lid zelf het veld kan wijzigen.
  * `kanGebruikerWijzigen"`: true, //kan de gebruik die op dit moment aangeld is dit gegeven aanpassen

**Structuur-velden**

De structuur velden zorgen dat de input-velden gestructureerd kunnen worden.

  * `groep` groepeert een aantal velden.  Het kan de volgende attributen
    bevatten:
    * `label`: De titel/korte tekst voor de groep _optioneel_
    * `beschrijving`: Een langere tekst over de velden in de groep.  kan ook
    html bevatten zoals bij input-velden _optioneel_
    * `velden`: Een array met de velden van de groep.  Deze kunnen op zich
    terug van het type groep zijn! _verplicht_

## Meer lezen

* [PayPal REST API](https://developer.paypal.com/webapps/developer/docs/api/) veel gespiekt hier
* [HATEOAS](http://timelessrepo.com/haters-gonna-hateoas)
* [HAL](http://blog.stateless.co/post/13296666138/json-linking-with-hal) (formele spec van een hateos manier)
* [json schema](http://json-schema.org/examples.html) (Beschrijving voor ongekende velden)
* [Jersey, jax-rs en etag caching](https://devcenter.heroku.com/articles/jax-rs-http-caching)

# Group Overzicht

## Overzicht [/]

### Overzicht opvragen [GET]

:::note
Dit enpoint is publiek. Er is hier geen *Authentication*-header nodig.
:::

+ Response 200 (application/json)

    + Body

            [
              {
                "rel": "profiel",
                "href": "/groepsadmin/rest-ga/lid/profiel",
                "method": "GET",
                "secties": [ ]
              },
              {
                "rel": "groepen",
                "href": "/groepsadmin/rest-ga/groep",
                "method": "GET",
                "secties": [ ]
              },
              {
                "rel": "functies",
                "href": "/groepsadmin/rest-ga/functie",
                "method": "GET",
                "secties": [ ]
              },
              {
                "rel": "ledenlijst",
                "href": "/groepsadmin/rest-ga/ledenlijst",
                "method": "GET",
                "secties": [ ]
              }
            ]

# Group Leden

#### Secties
Al deze endpoints (behalve `GET` op `/lid`) gebruiken dezelfde strucuur voor requests (waar van toepassing) en responses. Deze requests en responses bestaan uit een aantal *secties*:

Sectie              | Omschrijving
--------------------|-------------
`id`                | Het ID van het lid
`aangepast`         | Een timestamp van de laatste aanpassing
`persoonsgegevens`  | Algemene persoonsgegevens
`vgagegevens`       | Gegevens die enkel door de VGA beheerd worden
`verbondsgegevens`  | Gegevens die beheerd worden door het verbond
`email`             | Het emailadres van het lid
`gebruikersnaam`    | De gebruikersnaam van het lid
`adressen`          | De adressen van het lid
`contacten`         | De contacten van het lid
`groepseigenVelden` | De groepseigenvelden en gegevens van het lid in de groep met dit groepsnummer (opgedeeld per groep)
`functies`          | De functies van het lid (zowel groepseigenfuncties als verbondsfuncties)
`links`             | Verwijzingen naar gerelateerde resources

## Leden algemeen [/lid]

### Overzicht opvragen [GET]

::: warning
Dit is nog niet geïmplementeerd.
:::

+ Response 200 (application/json)

    + Body

            {
              links: [
                {
                  "href": "/groepsadmin/rest-ga/lid",
                  "method": "POST",
                  "rel": "create"
                },
                {
                  "href": "/groepsadmin/rest-ga/lid/profiel",
                  "method": "GET",
                  "rel": "profiel"
                }
              ]
            }

### Lid aanmaken [POST]

+ Request (application/json)

    ::: note
    De inhoud van deze request komt overeen met de response bij `GET` op `/lid/{id}`.

    **Verplichte secties:** `persoonsgegevens`, `adressen`, `email` en `functies` - Hierbij moet `functies` exact één functie bevatten.

    **Optionele secties:** `groepseigenVelden`, `contacten` en `vgagegevens`

    **Genegeerde secties:** `id`, `aangepast`, `links` en `gebruikersnaam`
    :::

    + Body

            // TODO

+ Response 200 (application/json)

    + Body

            // De inhoud van deze response is hetzelfde als bij `GET` op `/lid/{id}`
            // voor het aangemaakte lid.

## Lid [/lid/{id}]

+ Parameters
    + id (string) - ID van het lid - Het id `profiel` kan gebruikt worden om te verwijzen naar het lid dat overeenkomt met de ingelogde gebruiker: `/lid/profiel`

### Lid opvragen [GET]

+ Response 200 (application/json)

    ::: note
    ##### Link secties
    Deze secties bepalen welke onderdelen van het lid aangepast kunnen worden door de huidige gebruiker.

    ##### Lid-id's
    Bij samengevoegde leden zullen beide lid-id's blijven werken, maar naar dezelfde resource leiden.
    :::

    + Body

            {
              "id": "d5f75b320b812440010b8127f95f4db4",
              "aangepast": "2014-04-30T13:16:34+00:00",
              "persoonsgegevens" : {
                "voornaam": "Baden",
                "achternaam": "Powell",
                "geslacht": "m",
                "GSM": "0123/456.789",
                "geboortedatum": "1857-02-22",
                "beperking": false,
                "verminderdlidgeld": false,
                "rekeningnummer": "BE68 5390 0754 7034"
              },
              "verbondsgegevens": {
                "lidnummer": "1857012301234",
                "klantnummer": "I127872",
                "lidgeldbetaald": true,
                "lidkaartafgedrukt": true
              },
              "gebruikersnaam": "lukasvo",
              "adressen": [
                {
                  "id": "d5f75e23385c5e6e0139493b84fe0352",
                  "land": "BE",
                  "postcode": "9000",
                  "gemeente": "Gent",
                  "straat": "Zondernaamstraat",
                  "giscode": "0160",
                  "nummer": "1",
                  "bus": "",
                  "telefoon": "012345678",
                  "postadres": true,
                  "omschrijving" : "adres papa",
                  "status": "NORMAAL",
                  "positie": {
                    "lat" : 51.166969,
                    "lng" : 4.462271
                  }
                }
              ],
              "contacten": [
                {
                  "id": "d5f75e23385c5e6e0139493b84fe0abc",
                  "voornaam": "Henrietta",
                  "achternaam": "Smyth",
                  "rol": "Moeder",
                  "adresId": "d5f75e23385c5e6e0139493b84fe0352",
                  "gsm" : "0499 12 34 56",
                  "email": null
                }
              ],
              "email": "b.powell@example.com",
              "functies": [
                  {
                    "groep": "A3143G",
                    "functie": "d5f75e23385c5e6e0139493b8546035e",
                    "begin": "2014-01-01",
                    "einde": "2014-03-02"
                    "links": [
                      {
                        "href": "/groepsadmin/rest-ga/groep/A3143G",
                        "rel": "groep",
                        "method": "GET"
                      }, {
                        "href": "/groepsadmin/rest-ga/functie/d5f75e23385c5e6e0139493b8546035e",
                        "rel": "functie",
                        "method": "GET"
                      }
                    ]
                  }
              ],
              "groepseigenVelden": {
                "A1301G": {
                  "schema": [],
                  "waarden": {}
                },
                "O1504G": {
                  "schema": [
                    {
                      "links": [],
                      "id": "d5f75b320dc7de39010dca243a830129",
                      "aangepast": "2016-03-10T12:36:45.132+01:00",
                      "type": "tekst",
                      "label": "Opmerkingen",
                      "beschrijving": "",
                      "kanLeidingWijzigen": false,
                      "verplicht": false,
                      "kanLidWijzigen": false,
                      "sort": 0,
                      "deletedTimestamp": "2016-03-10T12:36:45.132+01:00"
                    },
                    {
                      "links": [],
                      "id": "d5f75e2340fc9dac014102187b4e2a68",
                      "aangepast": "2016-03-10T12:36:45.132+01:00",
                      "type": "vinkje",
                      "label": "helpen op evenementen",
                      "beschrijving": "",
                      "kanLeidingWijzigen": false,
                      "verplicht": false,
                      "kanLidWijzigen": false,
                      "sort": 0,
                      "deletedTimestamp": "2016-03-10T12:36:45.132+01:00"
                    },
                    {
                      "links": [],
                      "id": "40288144535b694a01535b6adb2c0003",
                      "aangepast": "2016-03-10T12:36:45.132+01:00",
                      "type": "lijst",
                      "label": "Dit is een lijst",
                      "kanLeidingWijzigen": false,
                      "verplicht": false,
                      "kanLidWijzigen": false,
                      "sort": 0,
                      "keuzes": [
                      "Lijstwaarde1",
                      "Lijstwaarde2"
                      ],
                      "deletedTimestamp": "2016-03-10T12:36:45.132+01:00"
                    }
                  ],
                  "waarden": {
                    "d5f75b320dc7de39010dca243a830129": "",
                    "d5f75e2340fc9dac014102187b4e2a68": "true",
                    "40288144535b694a01535b6adb2c0003": "Lijswaarde1"
                  }
                }
              },
              "links": [
                {
                  "rel": "self",
                  "href": "/groepsadmin/rest-ga/lid/d5f75b320b812440010b8127f95f4db4",
                  "method": "GET"
                },
                {
                  "rel": "update",
                  "href": "/groepsadmin/rest-ga/lid/d5f75b320b812440010b8127f95f4db4",
                  "method": "PATCH",
                  "secties": ["persoonsgegevens", "gebruikersnaam", "vgagegevens", "adressen", "email", "functies.A3143G", "groepseigenVelden.A1301G"]
                }
              ]
            }

### Lid bewerken [PATCH]

+ Request (application/json)

    ::: note
    * In de secties (van de link met `"rel": "update"`) in het `GET` request van een lid wordt opgelijst welke secties aangepast mogen worden door de ingelogde gebruiker.
    * Weggelaten secties worden als niet aangepast beschouwd.
    * Het opladen van een sectie die niet kan bewerkt worden door de ingelogde gebruiker resulteert in een foutmelding van de server.

    **Optionele secties:** `gebruikersnaam`, `persoonsgegevens`, `adressen`, `contacten`, `email`, `functies`, `groepseigen`, `vgagegevens` en `groepseigenVelden.*`

    **Genegeerde secties:** `id`, `aangepast` en `links`

    Voor de sectie `adressen`:
    * Adressen worden gecorreleerd aan de hand van de id.
    * Een id niet opladen is een adres verwijderen.
    * Een adres zonder id toevoegen is een nieuw adres.
    * Belgische adressen moeten een gis code hebben. (Hoe giscode ophalen???)
    * De status kan niet ingesteld worden.

    Voor de sectie `email`:
    * Is soms wijzigbaar en soms niet, goed kijken naar de secties in de links topic.

    Voor de sectie `functies`:
    * Een functie-instantie heeft geen `id` veld.  Het wordt uniek gekenmerkt door de combinatie van de velden `functie`, `groep` en `begin`.
    * Een functie-instantie toevoegen kan door een functie-instatie toe te voegen met `begin` != `null`. `begin` zal door de server worden ingevuld op de huidige timestamp maar je geeft best een datetime mee.
    * Een functie-instantie stopzetten kan door een bestaande niet beeindigde functie-instantie opladen met `einde` != `null`. Je mag dus datum invullen, maar de server zal hier geen rekening mee houden.
    * Om te bevestigen dat de functie-instantie stopgezet wordt moeten we een parameter `bevestig` met daarin een boolean toevoegen aan de request URL.
    * Er word dus enkel naar de combinatie van `functie`, `groep` en `begin` gekeken.  Alle andere velden worden genegeerd. Je bent dus niet verplicht om telkens alle functies terug te sturen naar de server als je er een enkele wil aanpassen.

    Voor de sectie `groepseigenVelden`:
    * Groepseigen velden worden gecorreleerd aan de hand van een id.
    * Er wordt enkel gekeken naar het `id` veld en het `waarde` veld.  Alle andere velden worden genegeerd.
    * Een veld dat niet schrijfbaaris en toch opgeladen wordt, wordt genegeerd.
    * Als een gegeven niet opgeladen wordt wordt het als onveranderd beschouwd.
    * Meer info over de eigenschappen van groepseigen velden kan gevonden worden in de documentatie van de [dynamische velden](#header-dynamische-velden).
    :::

    + Body

            // De inhoud van deze request is hetzelfde als bij de response voor `GET`
            // op `/lid/{id}`.

+ Response 200 (application/json)

    + Body

            // De inhoud van deze response is hetzelfde als bij `GET` op `/lid/{id}`,
            // met als `{id}` het id van de ingelogde gebruiker.

+ Response 400 (application/json)

    Als de ingelogde gebruiker niet bevestigd heeft (bij het aanpassen van functies).

    + Body

            // TODO


## Lidaanvragen [/lid/aanvraag]

### Lidaanvragen opvragen [GET]

+ Response 200 (application/json)

    + Body

            {
                "links": [
                    {
                        "rel": "self",
                        "href": "/groepsadmin/rest-ga/lid/aanvraag",
                        "method": "GET",
                        "secties": [ ]
                    }
                ],
                "groepen": [
                    // Dit deel van de response bevat de response bij `GET` op
                    // `/lid/aanvraag/{id}` voor de aanvragen waar je recht op hebt.
                ]
            }

### Lidaanvraag aanmaken [POST]

:::note
Dit enpoint is publiek. Er is hier geen *Authentication*-header nodig.
:::

+ Request (application/json)

    + Body

            // De inhoud van deze request is hetzelfde als de response bij `GET` op
            // `/lid/aanvraag/{id}`.

+ Response 204

    :::note
    Omdat de gebruiker in de meeste gevallen niet het recht heeft om de lidaanvraag op te halen,
    wordt er een lege response gegeven.
    :::

## Lidaanvraag [/lid/aanvraag/{id}]

+ Parameters
    + id (string) - ID van de aanvraag

### Lidaanvraag opvragen [GET]

+ Response 200 (application/json)

    + Body

            {
                "links": [
                    {
                        "rel": "self",
                        "href": "/groepsadmin/rest-ga/lid/aanvraag/402881605a6be53",
                        "method": "GET"
                    },
                    {
                        "rel": "nieuwlidgoedkeuren",
                        "href": "http://localhost:8080/groepsadmin/rest-ga/lid",
                        "method": "POST"
                    },
                    {
                        "rel": "afkeuren",
                        "href": "/groepsadmin/rest-ga/lid/aanvraag/402881605a6be53",
                        "method": "DELETE"
                    }
                ],
                "id": "402881605a6be53c015a6be6cd5d0002",
                "aangepast": "2017-02-23T12:56:12.378+01:00",
                "groepsnummer": "A1000K",
                "opmerkingen": ":-)",
                "gebruikersnaam": "",
                "persoonsgegevens": {
                    "voornaam": "Baden",
                    "achternaam": "Powell",
                    "geslacht": "man",
                    "gsm": "04",
                    "geboortedatum": "2000-01-01",
                    "rekeningnummer": "BE12 3456 7890 1234"
                },
                "email": "tvl@s.be",
                "adres": {
                    "land": "BE",
                    "postcode": "1234",
                    "gemeente": "Brussel",
                    "straat": "???",
                    "nummer": "5",
                    "bus": "",
                    "telefoon": "",
                    "postadres": false,
                    "status": "normaal",
                    "omschrijving": ""
                }
            }

### Lidaanvraag verwijderen [DELETE]

+ Response 204

# Group Groepen

## Groepen algemeen [/groep]

::: note
Het is niet mogelijk om zelf een groep aan te maken. Om een groep aan te laten maken, neem je best contact op met [groepsadministratie@scoutsengidsenvlaanderen.be](mailto:groepsadministratie@scoutsengidsenvlaanderen.be).
:::

### Groepenlijst opvragen [GET]

Alle groepen waar je een een functie in of rechten op hebt

+ Response 200 (application/json)

    + Body

            {
                "links": [
                    {
                        "rel": "self",
                        "href": "/groepsadmin/rest-ga/groep",
                        "method": "GET",
                        "secties": [ ]
                    }
                ],
                "groepen": [
                    // Dit deel van de response bevat de response bij `GET` op
                    // `/groep/{groepsnummer}` voor een aantal groepsnummers.
                ]
            }

## Groep [/groep/{groepsnummer}]

+ Parameters
    + groepsnummer (string) - Hoofdletter, vier cijfers en nog een hoofdletter

### Groep opvragen [GET]

+ Response 200 (application/json)

    ::: note
    Afhankelijk van de rechten van de ingelogde gebruiker op de opgevraagde groep, worden sommige secties getoond of verborgen.
    :::

    + Body

            {
              "links": [
                {
                  "rel": "self",
                  "href": "/groepsadmin/rest-ga/groep/A1000K",
                  "method": "GET",
                  "secties": [ ]
                },
                {
                  "rel": "self",
                  "href": "/groepsadmin/rest-ga/groep/A1000K",
                  "method": "PATCH",
                  "secties": [ ]
                },
                {
                  "rel": "groepseigenfunctiesaanmaken",
                  "href": "/groepsadmin/rest-ga/functie",
                  "method": "POST",
                  "secties": [ ]
                },
                {
                  "rel": "inschrijven",
                  "href": "/groepsadmin/lidworden?groep=A1000K",
                  "method": "GET",
                  "secties": [ ]
                },
                {
                  "rel": "inschrijvingen",
                  "href": "/groepsadmin/rest-ga/groep/inschrijvingen",
                  "method": "GET",
                  "secties": [ ]
                },
                {
                  "rel": "statistieken",
                  "href": "/groepsadmin/rest-ga/groep/statistieken",
                  "method": "GET",
                  "secties": [ ]
                }
              ],
              "id": "d5f75b331fe66241011fe7d0e7480001",
              "aangepast": "2017-02-16T16:56:39.270+01:00",
              "groepsnummer": "A1000K",
              "naam": "OpenKampAntwerpen",
              "adressen": [
                {
                  "id": "402881ef59a6c3da0159a6c807c40002",
                  "land": "BE",
                  "postcode": "2140",
                  "gemeente": "Borgerhout(Antwerpen)",
                  "straat": "Wilrijkstraat",
                  "nummer": "45",
                  "bus": "",
                  "telefoon": "",
                  "postadres": true,
                  "status": "normaal",
                  "positie": {
                    "latitude": 51.2091735,
                    "longitude": 4.4379007
                  },
                  "giscode": "1204",
                  "omschrijving": "6"
                }
              ],
              "opgericht": "2000-01-01T00:00:00.000+01:00",
              "rekeningnummer": "BE81068930811724",
              "email": "openkampantwerpen@scoutsengidsenvlaanderen.be",
              "website": "www.openkampantwerpen.be",
              "vrijeInfo": "",
              "groepseigenFuncties": [
                {
                  "links": [
                    {
                      "rel": "self",
                      "href": "/groepsadmin/rest-ga/functie/d5f75e234441ba0101444b68882026c9",
                      "method": "GET",
                      "secties": [ ]
                    },
                    {
                      "rel": "self",
                      "href": "/groepsadmin/rest-ga/functie/d5f75e234441ba0101444b68882026c9",
                      "method": "PATCH",
                      "secties": [ ]
                    }
                  ],
                  "id": "d5f75e234441ba0101444b68882026c9",
                  "aangepast": "2017-02-16T16:56:42.581+01:00",
                  "beschrijving": "Contact",
                  "type": "groep",
                  "groepen": [
                    "A1000K"
                  ]
                }
              ],
              "groepseigenGegevens": {
                "schema": [
                  {
                    "links": [
                      {
                        "rel": "self",
                        "href": "/groepsadmin/rest-ga/groepseigengegeven/d5f75e2355269d2401552b8b94041ad4",
                        "method": "GET",
                        "secties": [ ]
                      }
                    ],
                    "id": "d5f75e2355269d2401552b8b94041ad4",
                    "aangepast": "2017-02-16T16:56:42.776+01:00",
                    "type": "tekst",
                    "label": "test",
                    "beschrijving": "",
                    "verplicht": false,
                    "kanLeidingWijzigen": true,
                    "kanLidWijzigen": true,
                    "kanGebruikerWijzigen": false,
                    "sort": 1,
                    "deletedTimestamp": "2017-02-16T16:56:42.776+01:00"
                  }
                ],
                "waarden": { }
              },
              "publiek-inschrijven": true
            }

### Groep bewerken [PATCH]

+ Request (application/json)

    ::: note
    `links`, `naam`, `nummer` en `groepseigenFuncties` worden genegeerd.

    **Groepseigen gegevens**
    * Als `groepseigenGegevens` niet wordt meegegeven er verandert niets.
    * Als `groepseigenGegevens` *leeg* wordt  meegeven, dan worden alle gegevens verwijderd.

    Lees meer over [dynamische velden](#header-dynamische-velden)
    :::

    + Body

            // De inhoud van deze request is hetzelfde als bij de response voor `GET`
            // op `/groep/{groepsnummer}`.

+ Response 200 (application/json)

    + Body

            // De inhoud van deze response is hetzelfde als bij `GET` op
            // `/groep/{groepsnummer}`.


## Groepsstatistieken [/groep/{groepsnummer}/statistieken]

+ Parameters
    + groepsnummer (string) - Hoofdletter, vier cijfers en nog een hoofdletter

### Groepsstatistieken opvragen [GET]

+ Response 200 (application/json)

    + Body

            {
                "links": [
                    {
                        "rel": "self",
                        "href": "/groepsadmin/rest-ga/groep/A1000K/statistieken",
                        "method": "GET",
                        "secties": [ ]
                    },
                    {
                        "rel": "groep",
                        "href": "/groepsadmin/rest-ga/groep/A1000K",
                        "method": "GET",
                        "secties": [ ]
                    }
                ],
                "groepsnummer": "A1000K",
                "takStatistieken": [
                    {
                        "takNaam": "Alle takken",
                        "aantalLeden": {
                            "2012-2013": 38.0,
                            "2015-2016": 34.0,
                            "Nu": 0.0,
                            "2011-2012": 49.0,
                            "2014-2015": 29.0,
                            "2013-2014": 47.0
                        },
                        "aantalLeiding": {
                            "2012-2013": 20.0,
                            "2015-2016": 13.0,
                            "Nu": 13.0,
                            "2011-2012": 24.0,
                            "2014-2015": 7.0,
                            "2013-2014": 15.0
                        }
                    }
                ],
                "criteria": [
                    {
                        "naam": "Aantal groepsleiding en leiding bij een tak",
                        "formaat": "%.0fleid(st)ers",
                        "aantalPersonen": {
                            "2012-2013": 21.0,
                            "2015-2016": 14.0,
                            "Nu": 15.0,
                            "2011-2012": 24.0,
                            "2014-2015": 9.0,
                            "2013-2014": 18.0
                        }
                    },
                    {
                        "naam": "Aantal groepsleiding",
                        "formaat": "%.0fleid(st)ers",
                        "aantalPersonen": {
                            "2012-2013": 5.0,
                            "2015-2016": 4.0,
                            "Nu": 6.0,
                            "2011-2012": 1.0,
                            "2014-2015": 3.0,
                            "2013-2014": 4.0
                        }
                    },
                    {
                        "naam": "Aantal anderen",
                        "formaat": "%.0fanderen",
                        "aantalPersonen": {
                            "2012-2013": 3.0,
                            "2015-2016": 3.0,
                            "Nu": 2.0,
                            "2011-2012": 2.0,
                            "2014-2015": 2.0,
                            "2013-2014": 3.0
                        }
                    },
                    {
                        "naam": "Totaal groep",
                        "formaat": "%.0fpersonen",
                        "aantalPersonen": {
                            "2012-2013": 58.0,
                            "2015-2016": 48.0,
                            "Nu": 16.0,
                            "2011-2012": 70.0,
                            "2014-2015": 39.0,
                            "2013-2014": 65.0
                        }
                    },
                    {
                        "naam": "Percentage vrouwen",
                        "formaat": "%.0f%%",
                        "aantalPersonen": {
                            "2012-2013": 41.37931034482759,
                            "2015-2016": 60.416666666666664,
                            "Nu": 60.0,
                            "2011-2012": 50.0,
                            "2014-2015": 63.1578947368421,
                            "2013-2014": 50.76923076923077
                        }
                    },
                    {
                        "naam": "Percentage jongste takken",
                        "formaat": "%.0f%%",
                        "aantalPersonen": {
                            "2012-2013": 0.0,
                            "2015-2016": 0.0,
                            "Nu": 0.0,
                            "2011-2012": 0.0,
                            "2014-2015": 0.0,
                            "2013-2014": 0.0
                        }
                    },
                    {
                        "naam": "Gemiddelde leeftijd leiding",
                        "formaat": "%.1fjaar",
                        "aantalPersonen": {
                            "2012-2013": 23.980512620154187,
                            "2015-2016": 22.213812936415056,
                            "Nu": 22.752007228821213,
                            "2011-2012": 23.652550474456465,
                            "2014-2015": 23.005872049087632,
                            "2013-2014": 24.690157189293473
                        }
                    },
                    {
                        "naam": "Gemiddelde blijfduur leden",
                        "formaat": "%.1fjaar",
                        "aantalPersonen": {
                            "2012-2013": 0.6408088608799417,
                            "2015-2016": 1.07663837841218,
                            "Nu": 1.2671924923205193,
                            "2011-2012": 0.512550232257,
                            "2014-2015": 0.8642051803031864,
                            "2013-2014": 0.7711117795346965
                        }
                    },
                    {
                        "naam": "Gemiddelde blijfduur leiding",
                        "formaat": "%.1fjaar",
                        "aantalPersonen": {
                            "2012-2013": 0.9302141941496758,
                            "2015-2016": 2.293313540611115,
                            "Nu": 2.776727996033457,
                            "2011-2012": 0.6393012861318165,
                            "2014-2015": 1.735131840528388,
                            "2013-2014": 1.302644111958056
                        }
                    }
                ],
                "groepsevolutie": [
                    {
                        "naam": "leden",
                        "aantalPersonen": {
                            "2007-2008": 0.0,
                            "2009-2010": 55.0,
                            "2012-2013": 38.0,
                            "2006-2007": 0.0,
                            "2015-2016": 34.0,
                            "Nu": 0.0,
                            "2011-2012": 49.0,
                            "2014-2015": 29.0,
                            "2008-2009": 43.0,
                            "2013-2014": 47.0,
                            "2010-2011": 41.0
                        }
                    },
                    {
                        "naam": "leiding",
                        "aantalPersonen": {
                            "2007-2008": 9.0,
                            "2009-2010": 31.0,
                            "2012-2013": 21.0,
                            "2006-2007": 0.0,
                            "2015-2016": 14.0,
                            "Nu": 0.0,
                            "2011-2012": 24.0,
                            "2014-2015": 9.0,
                            "2008-2009": 16.0,
                            "2013-2014": 18.0,
                            "2010-2011": 28.0
                        }
                    },
                    {
                        "naam": "anderen",
                        "aantalPersonen": {
                            "2007-2008": 0.0,
                            "2009-2010": 2.0,
                            "2012-2013": 3.0,
                            "2006-2007": 0.0,
                            "2015-2016": 3.0,
                            "Nu": 0.0,
                            "2011-2012": 2.0,
                            "2014-2015": 2.0,
                            "2008-2009": 2.0,
                            "2013-2014": 3.0,
                            "2010-2011": 2.0
                        }
                    },
                    {
                        "naam": "totaal",
                        "aantalPersonen": {
                            "2007-2008": 9.0,
                            "2009-2010": 86.0,
                            "2012-2013": 58.0,
                            "2006-2007": 0.0,
                            "2015-2016": 48.0,
                            "Nu": 0.0,
                            "2011-2012": 70.0,
                            "2014-2015": 39.0,
                            "2008-2009": 60.0,
                            "2013-2014": 65.0,
                            "2010-2011": 69.0
                        }
                    }
                ],
                "ledenPerLeeftijd": {
                    "10": {
                        "1985": 1,
                        "1989": 1,
                        "1992": 1,
                        "1994": 1,
                        "1995": 4,
                        "1996": 4,
                        "1997": 2,
                        "1998": 1
                    }
                },
                "leidingservaring": {
                    "0": 2,
                    "1": 3,
                    "2": 2,
                    "3": 3,
                    "4": 1,
                    "5": 1,
                    "6": 1,
                    "8": 1,
                    "13": 1
                },
                "instroom": [
                    {
                        "werkjaar": "2009-2010",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 0,
                            "10": 0,
                            "11": 0,
                            "12": 0,
                            "13": 0,
                            "14": 0,
                            "15": 0,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 1,
                            "20": 1,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2011-2012",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 4,
                            "10": 2,
                            "11": 5,
                            "12": 1,
                            "13": 3,
                            "14": 4,
                            "15": 0,
                            "16": 0,
                            "17": 0,
                            "18": 4,
                            "19": 1,
                            "20": 2,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2017-2018",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 0,
                            "10": 5,
                            "11": 2,
                            "12": 5,
                            "13": 1,
                            "14": 2,
                            "15": 0,
                            "16": 0,
                            "17": 1,
                            "18": 0,
                            "19": 2,
                            "20": 3,
                            "21": 4
                        }
                    },
                    {
                        "werkjaar": "2012-2013",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 3,
                            "10": 3,
                            "11": 4,
                            "12": 1,
                            "13": 0,
                            "14": 1,
                            "15": 2,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 0,
                            "20": 1,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2014-2015",
                        "aantalPerLeeftijd": {
                            "7": 1,
                            "8": 4,
                            "9": 3,
                            "10": 4,
                            "11": 3,
                            "12": 2,
                            "13": 7,
                            "14": 2,
                            "15": 4,
                            "16": 5,
                            "17": 0,
                            "18": 0,
                            "19": 0,
                            "20": 0,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2010-2011",
                        "aantalPerLeeftijd": {
                            "7": 1,
                            "8": 2,
                            "9": 8,
                            "10": 8,
                            "11": 1,
                            "12": 10,
                            "13": 8,
                            "14": 6,
                            "15": 5,
                            "16": 2,
                            "17": 1,
                            "18": 0,
                            "19": 2,
                            "20": 1,
                            "21": 1
                        }
                    },
                    {
                        "werkjaar": "2013-2014",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 6,
                            "9": 10,
                            "10": 3,
                            "11": 2,
                            "12": 3,
                            "13": 2,
                            "14": 7,
                            "15": 3,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 0,
                            "20": 1,
                            "21": 2
                        }
                    },
                    {
                        "werkjaar": "2016-2017",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 4,
                            "10": 1,
                            "11": 2,
                            "12": 0,
                            "13": 1,
                            "14": 0,
                            "15": 0,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 0,
                            "20": 0,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2015-2016",
                        "aantalPerLeeftijd": {
                            "7": 1,
                            "8": 0,
                            "9": 1,
                            "10": 1,
                            "11": 4,
                            "12": 3,
                            "13": 2,
                            "14": 0,
                            "15": 0,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 1,
                            "20": 0,
                            "21": 0
                        }
                    }
                ],
                "uitstroom": [
                    {
                        "werkjaar": "2009-2010",
                        "aantalPerLeeftijd": { }
                    },
                    {
                        "werkjaar": "2011-2012",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 3,
                            "10": 3,
                            "11": 6,
                            "12": 0,
                            "13": 4,
                            "14": 4,
                            "15": 1,
                            "16": 1,
                            "17": 1,
                            "18": 2,
                            "19": 0,
                            "20": 1,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2017-2018",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 1,
                            "10": 8,
                            "11": 3,
                            "12": 8,
                            "13": 3,
                            "14": 4,
                            "15": 4,
                            "16": 3,
                            "17": 1,
                            "18": 0,
                            "19": 0,
                            "20": 1,
                            "21": 2
                        }
                    },
                    {
                        "werkjaar": "2012-2013",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 1,
                            "10": 2,
                            "11": 2,
                            "12": 3,
                            "13": 1,
                            "14": 2,
                            "15": 4,
                            "16": 1,
                            "17": 1,
                            "18": 0,
                            "19": 2,
                            "20": 2,
                            "21": 1
                        }
                    },
                    {
                        "werkjaar": "2014-2015",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 1,
                            "9": 3,
                            "10": 1,
                            "11": 2,
                            "12": 1,
                            "13": 1,
                            "14": 2,
                            "15": 2,
                            "16": 3,
                            "17": 0,
                            "18": 0,
                            "19": 1,
                            "20": 0,
                            "21": 1
                        }
                    },
                    {
                        "werkjaar": "2010-2011",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 5,
                            "10": 1,
                            "11": 0,
                            "12": 3,
                            "13": 3,
                            "14": 2,
                            "15": 0,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 0,
                            "20": 1,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2013-2014",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 2,
                            "9": 5,
                            "10": 3,
                            "11": 1,
                            "12": 4,
                            "13": 3,
                            "14": 6,
                            "15": 3,
                            "16": 1,
                            "17": 1,
                            "18": 1,
                            "19": 0,
                            "20": 0,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2016-2017",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 0,
                            "9": 1,
                            "10": 1,
                            "11": 2,
                            "12": 5,
                            "13": 3,
                            "14": 2,
                            "15": 0,
                            "16": 0,
                            "17": 0,
                            "18": 0,
                            "19": 0,
                            "20": 0,
                            "21": 0
                        }
                    },
                    {
                        "werkjaar": "2015-2016",
                        "aantalPerLeeftijd": {
                            "7": 0,
                            "8": 1,
                            "9": 3,
                            "10": 2,
                            "11": 5,
                            "12": 3,
                            "13": 2,
                            "14": 6,
                            "15": 3,
                            "16": 3,
                            "17": 7,
                            "18": 0,
                            "19": 0,
                            "20": 0,
                            "21": 0
                        }
                    }
                ]
            }

# Group Functies

Er zijn twee soorten functies:

Soort                | Aanduiding in het veld `type` | Gefactureerd en verzekerd
---------------------|-------------------------------|------------------------------------
Groepseigen functies | `groep`                       | Nooit
*Verbonds*functies   | `verbond`                     | Altijd, op enkele uitzonderingen na

## Functielijst [/functie?groep={startGroepsnummer}]

### Functielijst opvragen [GET]

Alle functies die gebruikt worden binnen de opgegeven groepen, waar je recht op hebt.

+ Parameters
    + startGroepsnummer (string) - Dit duidt op alle groepen waarvan het groepsnummer hiermee begint.

+ Response 200 (application/json)

    + Body

            // TODO

## Functies algemeen [/functie]

### Functie aanmaken [POST]

##### Request

+ Request (application/json)

    ::: note
    Je maak een nieuwe groepseigen functie aan. Enkel de velden `beschrijving` en `voor` zijn verplicht. We laten (op dit moment) geen meerdere groepen in het `voor` veld door.
    :::

    + Body

            // De inhoud van deze request is hetzelfde als de response bij `GET` op
            // `/functie/{id}`.

+ Response 200 (application/json)

    + Body

            // De inhoud van deze response is hetzelfde als bij `GET` op `/functie/{id}`
            // voor de aangemaakte functie.

## Functie [/functie/{id}]

+ Parameters
    + id (string) - Het id van de functie

### Functie opvragen [GET]

Een gebruiker heeft leesrechten op de groepseigen functies van de groepen waar hij rechten over heeft en alle verbondsfuncties.

Bij verbondsfuncties worden de velden `code` en `adjunct` gebruikt.

Het veld `groepen` bevat alle groepen waarbij deze functie kan voorkomen en waar de ingelogde gebruiker toegang toe heeft. Voor groepseigen functies is dit steeds één groep.

+ Response 200 (application/json)

    + Body

            {
              "links": [
                {
                  "rel": "self",
                  "href": "/groepsadmin/rest-ga/functie/d5f75e234441ba0101444b68882026c9",
                  "method": "GET",
                  "secties": [ ]
                },
                {
                  "rel": "self",
                  "href": "/groepsadmin/rest-ga/functie/d5f75e234441ba0101444b68882026c9",
                  "method": "PATCH",
                  "secties": [ ]
                }
              ],
              "id": "d5f75e234441ba0101444b68882026c9",
              "aangepast": "2017-02-16T18:48:52.260+01:00",
              "beschrijving": "Contact",
              "type": "groep",
              "groepen": [
                "A1000K"
              ]
            }

### Functie bewerken [PATCH]

+ Request (application/json)

    ::: note
    Update van het `beschrijving` veld. Alle andere velden worden genegeerd.
    :::

    + Body

            // De inhoud van deze request is hetzelfde als de response bij `GET` op
            // `/functie/{id}`.

+ Response 200 (application/json)

    + Body

            // De inhoud van deze response is hetzelfde als bij `GET` op `/functie/{id}`
            // voor de aangemaakte functie.

### Functie verwijderen [DELETE]

+ Response 204

+ Response 400 (application/json)

    Als de ingelogde gebruiker niet bevestigd heeft

    + Body

            // TODO

# Group Ledenlijst

## Ledenlijst [/ledenlijst]

### Overzicht opvragen [GET]

2 optionele uri parameters toegelaten:
* `offset`: bij het hoeveelste lid de ledenlijst moet starten (Inclusief startend van 0)
* `aantal`: maximum aantal leden server mag teruggeven.  (de server mag minder teruggeven)

+ Response 200 (application/json)

    + Body

            // TODO

+ Response 200

    Redirect naar nieuwe filter.

    + Body

            {
              "aantal": 20, // Aantal leden in huidige response
              "totaal": 1231, //Aantal leden in ledenlijst
              "offset": 0,
              "leden": [
                {
                  "id": "d5f75b320b812440010b8127f95f4db4",
                  "waarden": ["Baden", true], //voor volgorde zie filter kolommen
                  "links":[
                    {
                      "href": "/groepsadmin/rest-ga/lid/d5f75b320b812440010b8127f95f4db4?positie=foo", //Merk op extra paramter, de server kan ervoor kiezen om hier een extra parameter mee te geven, om zo prev en next correct te berekenen als lid meerdere keren in de lijst zit.
                      "rel": "self",
                      "method": "GET"
                    },
                  ]
                }
              ]
              "links":[
                {
                  "href": "/groepsadmin/rest-ga/ledenlijst?offset=0",
                  "rel": "self",
                  "method": "GET"
                }, {
                  "rel": "next",
                  "method": "GET",
                  "href": "/groepsadmin/rest-ga/ledenlijst?offset=20",
                }, {
                  "href": "/groepsadmin/rest-ga/filter/huidige",
                  "rel": "filter",
                  "method": "GET"
                },
              ]
            }

## Filters algemeen [/ledenlijst/filter]

### Filterlijst opvragen [GET]

+ Response 200

    + Body

            {
              "filters": [ //Enkel opgeslage filters, huidige niet dus.
                {
                  "id": "d5f75e23385c5e6e0139493b8546035e",  //Niet aanwezig voor `huidige` filter als niet opgeslagen
                  "naam": "Mijn filter", //Niet aanwezig voor `huidige` filter als niet opgeslagen
                  "type":"verbond",  // Niet aanwezig voor `huidige` als niet opgeslagen.  Mogelijkheden ['verbond', 'groep', 'lid']
                  "groep": "A3143G", // Enkel aanwezig indien type groep
                  "links":[
                    {
                      "href": "/groepsadmin/rest-ga/ledenlijst/filter/d5f75e23385c5e6e0139493b8546035e",  //Niet aanwezig voor `huidige` filter als niet opgeslagen
                      "rel": "self",
                      "method": "GET"
                    }, {
                      "rel": "update", //Enkel aanwezig als je dit type filter mag wijzigen
                      "href": "/groepsadmin/rest-ga/ledenlijst/filter/d5f75b320b812440010b8127f95f4db4",
                      "method": "PATCH",
                      "secties": ["id", "naam", "groep" /*als type == "groep"*/, "kolommen", "filter", "sortering"]  //"naam" niet zichtbaar voor "huidige"
                    }
                  ]
                }
              ],
              "links":[
                {
                  "href": "/groepsadmin/rest-ga/ledenlijst/filter",
                  "rel": "self",
                  "method": "GET"
                }, {
                  "rel": "create",
                  "href": "/groepsadmin/rest-ga/ledenlijst/filter",
                  "method": "POST",
                }, {
                  "href": "/groepsadmin/rest-ga/ledenlijst/filter/huidige",
                  "rel": "current",
                  "method": "GET"
                },
              ]
            }

### Filter aanmaken [POST]

+ Request

    + Body

            // Alle secties behalve `links` en `id`

+ Response 200

    + Body

            // Zie elders TODO

## Filter [/ledenlijst/filter/{id}]

+ Parameters
  + id (string) - Het id van de filter

### Filter opvragen [GET]

De speciale `id` `huidige` wordt gebruikt om de filter gebruikt door de ledenlijst aan te duiden.

De `huidige` filter moet niet perse een opgeslagen filter zijn.

+ Response 200

    + Body

            {
              "id": "d5f75e23385c5e6e0139493b8546035e",  //Niet aanwezig voor `huidige` filter als niet opgeslagen
              "naam": "Mijn filter", //Niet aanwezig voor `huidige` filter als niet opgeslagen
              "type":"verbond",  // Niet aanwezig voor `huidige` als niet opgeslagen.  Mogelijkheden ['verbond', 'groep', 'lid']
              "groep": "A3143G", // Enkel aanwezig indien type groep
              "kolommen": [
                {
                   "type" : "vinkje", // Zie dynamische velden
                   "id" : "c81e728d9d4c2f636f067f89cc14862c", // leesbare id voor verbondsvelden
                   "label": "tekst veld",
                   "beschrijving": "voor hover",
                   "van": "groep"
                }, {
                   "type" : "tekst", // Zie dynamische velden
                   "id" : "persoonsgegevens.voornaam", //pad naar veld in lid json structuur (zie foutmeldingen)
                   "label": "Voornaam",
                   "beschrijving": "voor hover",
                   "van": "verbond"
                }
              ],
              "filter": { // per filtertype een attribuut, mag afwezig zijn als niet belangrijk
                "functies": ["d5f75e23385c5e6e0139493b8546035e"], // Lijst van functieid's
                "leeftijd": {
                  "ouderdan": 16, //optioneel
                  "jongerdan": 13, //optioneel
                  "op31december": true //optioneel false by default
                },
                "geslacht": "jongen", //<> meisje
                "groepen": ["A3143G"],
                "groepseigen": [
                  {
                    "veld": "c81e728d9d4c2f636f067f89cc14862c", //veld-id
                    "waarde": "ok",
                    "patroon": true // LIKE pattern optioneel false by default % en _ voor matching
                  }
                ]
              },
              "sortering": [  // Moet in aanwezig zijn in de kolommen
                {
                  "kolom": "c81e728d9d4c2f636f067f89cc14862c",
                  "oplopend": true
                }
              ],
              "links":[
                {
                  "href": "rest/ledenlijst/filter/d5f75e23385c5e6e0139493b8546035e",  //Niet aanwezig voor `huidige` filter als niet opgeslagen
                  "rel": "self",
                  "method": "GET"
                }, {
                  "rel": "update", //Enkel aanwezig als je dit type filter mag wijzigen
                  "href": "/rest/ledenlijst/filter/d5f75b320b812440010b8127f95f4db4",
                  "method": "PATCH",
                  "secties": ["id" /*Enkel bij `huidige`*/, "naam", "groep" /*als type == "groep"*/, "kolommen", "filter", "sortering"]  //"naam" niet zichtbaar voor "huidige"
                }
              ],
              "aangepast": "2015-06-04T08:34:41.823Z"
            }

### Filter bewerken [PATCH]

De kolommen mogen een lijst zijn met id's ipv een lijst met objecten.

Dus ipv:
```javascript
  "kolommen": [
    {
       "type" : "vinkje", // Zie dynamische velden
       "id" : "c81e728d9d4c2f636f067f89cc14862c", // leesbare id voor verbondsvelden
       "label": "tekst veld",
       "beschrijving": "voor hover",
       "van": "groep"
    }, {
       "type" : "tekst", // Zie dynamische velden
       "id" : "persoonsgegevens.voornaam", //pad naar veld in lid json structuur (zie foutmeldingen)
       "label": "Voornaam",
       "beschrijving": "voor hover",
       "van": "verbond"
    }
  ]
```
Mag de client ook het volgende opsturen
```javascript
  "kolommen": ["c81e728d9d4c2f636f067f89cc14862c","persoonsgegevens.voornaam"]
```
Voor de objecten zal de server enkel naar de waarden van de `id` velden kijken.

+ Response 200

    + Body

            // zoals `GET` indien succesvol

### Filter verwijderen [DELETE]

Om een filter te deleten, `huidige` mag niet ge-deleted worden.

+ Response 204

+ Response 403

## Mogelijke kolommen [/ledenlijst/kolom-type]

### Mogelijke kolommen opvragen [GET]

Een lijst met alle toegelaten kolommen van een filter, exact zoals de kolomtypes zelf weergegeven

+ Response 200

    + Body

            {
              "kolommen": [
                {
                   "type" : "vinkje", // Zie dynamische velden
                   "id" : "c81e728d9d4c2f636f067f89cc14862c", // leesbare id voor verbondsvelden
                   "label": "tekst veld",
                   "beschrijving": "voor hover",
                   "van": "groep"
                }, {
                   "type" : "tekst", // Zie dynamische velden
                   "id" : "persoonsgegevens.voornaam", //pad naar veld in lid json structuur (zie foutmeldingen)
                   "label": "Voornaam",
                   "beschrijving": "voor hover",
                   "van": "verbond"
                },
                ...
              ],
              "links":[
                {
                  "href": "/groepsadmin/rest-ga/ledenlijst/kolom-type",
                  "rel": "self",
                  "method": "GET"
                }
              ]
            }


# Group Zoeken

## Zoeken [/zoeken?query={query}&token={token}]

+ Parameters
    + query (string) - query waarop gezocht moet worden
    + token (string, optional) - token warmee de client de request kan identificeren (transparant terug gegeven door de server).

### Leden zoeken [GET]

+ Response 200

    Een lijst van alle leden die in aanmerking komen voor de query.

    + Body

            {
              "token": "foobar",
              leden: [{
                "link": {
                  "rel": "self",
                  "href": "/groepsadmin/rest-ga/lid/d5f75b320b812440010b8127f95f4db4",
                  "method": "GET"
                },
                "voornaam": "Baden",
                "achternaam": "Powell",
                "geboortedatum": "1857-02-22",
              },
              {
                "link": {
                  "rel": "self",
                  "href": "/groepsadmin/rest-ga/lid/d5f75b320b812440010b8127f95f4db4",
                  "method": "GET"
                },
                "voornaam": "Olave",
                "achternaam": "Baden-Powell",
                "geboortedatum": "1889-02-22",
              }]
            }
